# ДЗ 03 начинаю нагонять...

In [219]:
import numpy as np
import pandas as pd
import math

from typing import List, Optional

## Загрузка данных

In [220]:
!dir data\geekbrains-competitive-data-analysis

 ’®¬ ў гбва®©бвўҐ C ­Ґ Ё¬ҐҐв ¬ҐвЄЁ.
 ‘ҐаЁ©­л© ­®¬Ґа в®¬ : 0CD4-4452

 ‘®¤Ґа¦Ё¬®Ґ Ї ЇЄЁ C:\YandexDisk\Jupyter\Kaggle\SportAn\data\geekbrains-competitive-data-analysis

20.09.2020  10:25    <DIR>          .
20.09.2020  10:25    <DIR>          ..
15.09.2020  17:11       267я188я369 applications_history.csv
15.09.2020  17:12        97я196я537 bki.csv
15.09.2020  17:12        43я291я777 client_profile.csv
15.09.2020  17:12        56я468я161 payments.csv
15.09.2020  17:12         1я981я718 sample_submit.csv
15.09.2020  17:12         2я587я116 test.csv
15.09.2020  17:12         1я945я420 train.csv
               7 д ©«®ў    470я659я098 Ў ©в
               2 Ї Ї®Є  28я885я946я368 Ў ©в бў®Ў®¤­®

In [221]:
data_dir = "data\\geekbrains-competitive-data-analysis" + '\\'

In [222]:
src_list = ["train", "test", "client_profile", "applications_history", "bki", "payments"]

In [223]:
source = {}
for name in src_list:
    source[name] = pd.read_csv(data_dir + name + ".csv")

In [224]:
# test = pd.read_csv(data_dir + "test" + ".csv")
# test.head(3)

In [225]:
# sample_submit = pd.read_csv(data_dir + "sample_submit" + ".csv")
# sample_submit.head(3)

## Ключевые характеристики

In [226]:
for name in src_list:
    print(f"{name} \n {source[name].shape} \n")

train
 (110093, 3)

test
 (165141, 2)

client_profile
 (250000, 24)

applications_history
 (1670214, 26)

bki
 (945234, 17)

payments
 (1023932, 8)

In [227]:
pd.set_option('display.max_columns', 350)

In [228]:
source['train'].head(3)

   APPLICATION_NUMBER  TARGET NAME_CONTRACT_TYPE
0           123687442       0               Cash
1           123597908       1               Cash
2           123526683       0               Cash

In [229]:
source['client_profile'].head(3)

,APPLICATION_NUMBER,GENDER,CHILDRENS,TOTAL_SALARY,AMOUNT_CREDIT,AMOUNT_ANNUITY,EDUCATION_LEVEL,FAMILY_STATUS,REGION_POPULATION,AGE,DAYS_ON_LAST_JOB,OWN_CAR_AGE,FLAG_PHONE,FLAG_EMAIL,FAMILY_SIZE,EXTERNAL_SCORING_RATING_1,EXTERNAL_SCORING_RATING_2,EXTERNAL_SCORING_RATING_3,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,123666076,F,0,157500.0,270000.0,13500.0,Incomplete higher,Civil marriage,0.008068,8560,1549,NaN,1,0,2.0,0.329471,0.236315,0.678568,0.0,0.0,0.0,0.0,1.0,2.0
1,123423688,F,0,270000.0,536917.5,28467.0,Secondary / secondary special,Married,0.020246,23187,365243,NaN,0,0,2.0,NaN,0.442295,0.802745,0.0,0.0,0.0,0.0,1.0,1.0
2,123501780,M,1,427500.0,239850.0,23850.0,Incomplete higher,Married,0.072508,14387,326,18.0,0,0,3.0,0.409017,0.738159,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [230]:
source['applications_history'].head(3)

,PREV_APPLICATION_NUMBER,APPLICATION_NUMBER,NAME_CONTRACT_TYPE,AMOUNT_ANNUITY,AMT_APPLICATION,AMOUNT_CREDIT,AMOUNT_PAYMENT,AMOUNT_GOODS_PAYMENT,NAME_CONTRACT_STATUS,DAYS_DECISION,NAME_PAYMENT_TYPE,CODE_REJECT_REASON,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,SELLERPLACE_AREA,CNT_PAYMENT,NAME_YIELD_GROUP,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,49298709,123595216,NaN,1730.430,17145.0,17145.0,0.0,17145.0,Approved,73,Cash through the bank,XAP,NaN,Repeater,Mobile,POS,XNA,35,12.0,middle,365243.0,42.0,300.0,42.0,37.0,0.0
1,50070639,123431468,Cash,25188.615,607500.0,679671.0,NaN,607500.0,Approved,164,XNA,XAP,Unaccompanied,Repeater,XNA,Cash,x-sell,-1,36.0,low_action,365243.0,134.0,916.0,365243.0,365243.0,1.0
2,49791680,123445379,Cash,15060.735,112500.0,136444.5,NaN,112500.0,Approved,301,Cash through the bank,XAP,"Spouse, partner",Repeater,XNA,Cash,x-sell,-1,12.0,high,365243.0,271.0,59.0,365243.0,365243.0,1.0

In [231]:
source['applications_history'].groupby("APPLICATION_NUMBER")["APPLICATION_NUMBER"].count().sort_values()

APPLICATION_NUMBER
123423340     1
123567999     1
123744405     1
123690209     1
123567994     1
             ..
123530122    67
123565751    68
123497019    72
123589020    73
123511207    77
Name: APPLICATION_NUMBER, Length: 338857, dtype: int64

In [232]:
source['bki'].head(3)

,APPLICATION_NUMBER,BUREAU_ID,CREDIT_ACTIVE,CREDIT_CURRENCY,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,AMT_CREDIT_SUM_DEBT,AMT_CREDIT_SUM_LIMIT,AMT_CREDIT_SUM_OVERDUE,CREDIT_TYPE,DAYS_CREDIT_UPDATE,AMT_ANNUITY
0,123538884,5223613,Active,currency 1,718.0,0,377.0,NaN,19386.81,0,675000.00,320265.495,0.0,0.0,Consumer credit,39.0,NaN
1,123436670,6207544,Closed,currency 1,696.0,0,511.0,511.0,0.00,0,93111.66,0.000,0.0,0.0,Consumer credit,505.0,NaN
2,123589020,6326395,Closed,currency 1,165.0,0,149.0,160.0,NaN,0,36000.00,0.000,0.0,0.0,Consumer credit,150.0,0.0

In [233]:
source['bki'].groupby("APPLICATION_NUMBER")["APPLICATION_NUMBER"].count().sort_values()

APPLICATION_NUMBER
123571743     1
123620010     1
123740077     1
123502086     1
123620015     1
             ..
123604794    36
123603494    39
123641404    50
123493043    51
123444199    63
Name: APPLICATION_NUMBER, Length: 273131, dtype: int64

In [234]:
source['bki'].groupby("APPLICATION_NUMBER")["APPLICATION_NUMBER"].count().sort_values().tail(20)

APPLICATION_NUMBER
123619148    29
123758609    29
123732165    29
123700006    29
123708472    30
123603381    31
123665184    31
123568901    31
123748735    32
123541514    32
123753600    32
123718325    33
123648693    34
123543964    35
123574982    36
123604794    36
123603494    39
123641404    50
123493043    51
123444199    63
Name: APPLICATION_NUMBER, dtype: int64

In [235]:
source['payments'].head(3)

,PREV_APPLICATION_NUMBER,APPLICATION_NUMBER,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,49011181,123664960,1.0,5,1002.0,1015.0,12156.615,12156.615
1,48683432,123497205,1.0,13,442.0,432.0,18392.535,10047.645
2,48652024,123749925,1.0,10,8.0,23.0,5499.945,5499.945

In [236]:
source['test'].head(3)

   APPLICATION_NUMBER NAME_CONTRACT_TYPE
0           123724268               Cash
1           123456549               Cash
2           123428178        Credit Card

In [237]:
for name in src_list:
    print(f"{name} \n")
    source[name].info()
    print("\n")

train

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110093 entries, 0 to 110092
Data columns (total 3 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   APPLICATION_NUMBER  110093 non-null  int64
 1   TARGET              110093 non-null  int64
 2   NAME_CONTRACT_TYPE  110093 non-null  object
dtypes: int64(2), object(1)
memory usage: 2.5+ MB


test

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165141 entries, 0 to 165140
Data columns (total 2 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   APPLICATION_NUMBER  165141 non-null  int64
 1   NAME_CONTRACT_TYPE  165141 non-null  object
dtypes: int64(1), object(1)
memory usage: 2.5+ MB


client_profile

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250000 entries, 0 to 249999
Data columns (total 24 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   APPLICATION_NUMBER          250000 non-null  int64
 1   GENDER                      250000 non-null  object
 2   CHILDRENS                   250000 non-null  int64
 3   TOTAL_SALARY                250000 non-null  float64
 4   AMOUNT_CREDIT               250000 non-null  float64
 5   AMOUNT_ANNUITY              249989 non-null  float64
 6   EDUCATION_LEVEL             250000 non-null  object
 7   FAMILY_STATUS               250000 non-null  object
 8   REGION_POPULATION           250000 non-null  float64
 9   AGE                         250000 non-null  int64
 10  DAYS_ON_LAST_JOB            250000 non-null  int64
 11  OWN_CAR_AGE                 85041 non-null   float64
 12  FLAG_PHONE                  250000 non-null  int64
 13  FLAG_EMAIL                  250000 non-null  int64
 14  FAMILY_SIZE                 249998 non-null  float64
 15  EXTERNAL_SCORING_RATING_1   109121 non-null  float64
 16  EXTERNAL_SCORING_RATING_2   249468 non-null  float64
 17  EXTERNAL_SCORING_RATING_3   200462 non-null  float64
 18  AMT_REQ_CREDIT_BUREAU_HOUR  216293 non-null  float64
 19  AMT_REQ_CREDIT_BUREAU_DAY   216293 non-null  float64
 20  AMT_REQ_CREDIT_BUREAU_WEEK  216293 non-null  float64
 21  AMT_REQ_CREDIT_BUREAU_MON   216293 non-null  float64
 22  AMT_REQ_CREDIT_BUREAU_QRT   216293 non-null  float64
 23  AMT_REQ_CREDIT_BUREAU_YEAR  216293 non-null  float64
dtypes: float64(15), int64(6), object(3)
memory usage: 45.8+ MB


applications_history

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1670214 entries, 0 to 1670213
Data columns (total 26 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   PREV_APPLICATION_NUMBER    1670214 non-null  int64
 1   APPLICATION_NUMBER         1670214 non-null  int64
 2   NAME_CONTRACT_TYPE         940717 non-null   object
 3   AMOUNT_ANNUITY             1297979 non-null  float64
 4   AMT_APPLICATION            1670214 non-null  float64
 5   AMOUNT_CREDIT              1670213 non-null  float64
 6   AMOUNT_PAYMENT             774370 non-null   float64
 7   AMOUNT_GOODS_PAYMENT       1284699 non-null  float64
 8   NAME_CONTRACT_STATUS       1670214 non-null  object
 9   DAYS_DECISION              1670214 non-null  int64
 10  NAME_PAYMENT_TYPE          1670214 non-null  object
 11  CODE_REJECT_REASON         1670214 non-null  object
 12  NAME_TYPE_SUITE            849809 non-null   object
 13  NAME_CLIENT_TYPE           1670214 non-null  object
 14  NAME_GOODS_CATEGORY        1670214 non-null  object
 15  NAME_PORTFOLIO             1670214 non-null  object
 16  NAME_PRODUCT_TYPE          1670214 non-null  object
 17  SELLERPLACE_AREA           1670214 non-null  int64
 18  CNT_PAYMENT                1297984 non-null  float64
 19  NAME_YIELD_GROUP           1670214 non-null  object
 20  DAYS_FIRST_DRAWING         997149 non-null   float64
 21  DAYS_FIRST_DUE             997149 non-null   float64
 22  DAYS_LAST_DUE_1ST_VERSION  997149 non-null   float64
 23  DAYS_LAST_DUE              997149 non-null   float64
 24  DAYS_TERMINATION           997149 non-null   float64
 25  NFLAG_INSURED_ON_APPROVAL  997149 non-null   float64
dtypes: float64(12), int64(4), object(10)
memory usage: 331.3+ MB


bki

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 945234 entries, 0 to 945233
Data columns (total 17 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   APPLICATION_NUMBER      945234 non-null  int64
 1   BUREAU_ID               945234 non-null  int64
 2   CREDIT_ACTIVE           945234 non-null  object
 3   CREDIT_CURRENCY         945234 non-null  object
 4   DAYS_CREDIT             945234 non-null  float64
 5   CREDIT_DAY_OVERDUE      945234 non-null  int64
 6   DAYS_CREDIT_ENDDATE     886797 non-null  float64
 7   DAYS_ENDDATE_FACT       596274 non-null  float64
 8   AMT_CREDIT_MAX_OVERDUE  326557 non-null  float64
 9   CNT_CREDIT_PROLONG      945234 non-null  int64
 10  AMT_CREDIT_SUM          945229 non-null  float64
 11  AMT_CREDIT_SUM_DEBT     803483 non-null  float64
 12  AMT_CREDIT_SUM_LIMIT    619267 non-null  float64
 13  AMT_CREDIT_SUM_OVERDUE  945234 non-null  float64
 14  CREDIT_TYPE             945234 non-null  object
 15  DAYS_CREDIT_UPDATE      945234 non-null  float64
 16  AMT_ANNUITY             269330 non-null  float64
dtypes: float64(10), int64(4), object(3)
memory usage: 122.6+ MB


payments

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1023932 entries, 0 to 1023931
Data columns (total 8 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   PREV_APPLICATION_NUMBER  1023932 non-null  int64
 1   APPLICATION_NUMBER       1023932 non-null  int64
 2   NUM_INSTALMENT_VERSION   1023932 non-null  float64
 3   NUM_INSTALMENT_NUMBER    1023932 non-null  int64
 4   DAYS_INSTALMENT          1023932 non-null  float64
 5   DAYS_ENTRY_PAYMENT       1023729 non-null  float64
 6   AMT_INSTALMENT           1023932 non-null  float64
 7   AMT_PAYMENT              1023729 non-null  float64
dtypes: float64(5), int64(3)
memory usage: 62.5 MB

In [238]:
def data_obj_discribe(data: pd.DataFrame):
# если столбец имеет тип 'object' и содержит менее 20 уникальных 
# распечатывает значения столбцов и подсчитывает количество значений

    # data: pd.DataFrame исходный датафрейм
    
    obj_fit = data.select_dtypes(include='object')
    print('*' * 100)
    for cat_colname in obj_fit.columns:
        if len(obj_fit[cat_colname].unique()) < 20:
            print(str(cat_colname) + '\n\n' + str(obj_fit[cat_colname].unique()) + '\n\n')
            print(obj_fit.groupby(cat_colname)[cat_colname].count())
            print('*' * 100 + '\n')

In [239]:
for name in src_list:
    obj_col = source[name].select_dtypes(include='object')
    if not obj_col.empty:
        print(f"\t{name}{source[name].shape}\n")
        data_obj_discribe(source[name])

	train(110093, 3)

****************************************************************************************************
NAME_CONTRACT_TYPE

['Cash' 'Credit Card']


NAME_CONTRACT_TYPE
Cash           99551
Credit Card    10542
Name: NAME_CONTRACT_TYPE, dtype: int64
****************************************************************************************************

	test(165141, 2)

****************************************************************************************************
NAME_CONTRACT_TYPE

['Cash' 'Credit Card']


NAME_CONTRACT_TYPE
Cash           149432
Credit Card     15709
Name: NAME_CONTRACT_TYPE, dtype: int64
****************************************************************************************************

	client_profile(250000, 24)

****************************************************************************************************
GENDER

['F' 'M' 'XNA']


GENDER
F      164645
M       85351
XNA         4
Name: GENDER, dtype: int64
****************************************************************************************************

EDUCATION_LEVEL

['Incomplete higher' 'Secondary / secondary special' 'Lower secondary'
 'Higher education' 'Academic degree']


EDUCATION_LEVEL
Academic degree                     136
Higher education                  60864
Incomplete higher                  8357
Lower secondary                    3081
Secondary / secondary special    177562
Name: EDUCATION_LEVEL, dtype: int64
****************************************************************************************************

FAMILY_STATUS

['Civil marriage' 'Married' 'Widow' 'Single / not married' 'Separated'
 'Unknown']


FAMILY_STATUS
Civil marriage           24252
Married                 159846
Separated                15984
Single / not married     36883
Unknown                      2
Widow                    13033
Name: FAMILY_STATUS, dtype: int64
****************************************************************************************************

	applications_history(1670214, 26)

****************************************************************************************************
NAME_CONTRACT_TYPE

[nan 'Cash' 'Credit Card']


NAME_CONTRACT_TYPE
Cash           747553
Credit Card    193164
Name: NAME_CONTRACT_TYPE, dtype: int64
****************************************************************************************************

NAME_CONTRACT_STATUS

['Approved' 'Refused' 'Canceled' 'Unused offer']


NAME_CONTRACT_STATUS
Approved        1036781
Canceled         316319
Refused          290678
Unused offer      26436
Name: NAME_CONTRACT_STATUS, dtype: int64
****************************************************************************************************

NAME_PAYMENT_TYPE

['Cash through the bank' 'XNA' 'Non-cash from your account'
 'Cashless from the account of the employer']


NAME_PAYMENT_TYPE
Cash through the bank                        1033552
Cashless from the account of the employer       1085
Non-cash from your account                      8193
XNA                                           627384
Name: NAME_PAYMENT_TYPE, dtype: int64
****************************************************************************************************

CODE_REJECT_REASON

['XAP' 'HC' 'LIMIT' 'CLIENT' 'SCOFR' 'SCO' 'XNA' 'VERIF' 'SYSTEM']


CODE_REJECT_REASON
CLIENT      26436
HC         175231
LIMIT       55680
SCO         37467
SCOFR       12811
SYSTEM        717
VERIF        3535
XAP       1353093
XNA          5244
Name: CODE_REJECT_REASON, dtype: int64
****************************************************************************************************

NAME_TYPE_SUITE

[nan 'Unaccompanied' 'Spouse, partner' 'Family' 'Children' 'Other_B'
 'Other_A' 'Group of people']


NAME_TYPE_SUITE
Children            31566
Family             213263
Group of people      2240
Other_A              9077
Other_B             17624
Spouse, partner     67069
Unaccompanied      508970
Name: NAME_TYPE_SUITE, dtype: int64
****************************************************************************************************

NAME_CLIENT_TYPE

['Repeater' 'New' 'Refreshed' 'XNA']


NAME_CLIENT_TYPE
New           301363
Refreshed     135649
Repeater     1231261
XNA             1941
Name: NAME_CLIENT_TYPE, dtype: int64
****************************************************************************************************

NAME_PORTFOLIO

['POS' 'Cash' 'XNA' 'Cards' 'Cars']


NAME_PORTFOLIO
Cards    144985
Cars        425
Cash     461563
POS      691011
XNA      372230
Name: NAME_PORTFOLIO, dtype: int64
****************************************************************************************************

NAME_PRODUCT_TYPE

['XNA' 'x-sell' 'walk-in']


NAME_PRODUCT_TYPE
XNA        1063666
walk-in     150261
x-sell      456287
Name: NAME_PRODUCT_TYPE, dtype: int64
****************************************************************************************************

NAME_YIELD_GROUP

['middle' 'low_action' 'high' 'low_normal' 'XNA']


NAME_YIELD_GROUP
XNA           517215
high          353331
low_action     92041
low_normal    322095
middle        385532
Name: NAME_YIELD_GROUP, dtype: int64
****************************************************************************************************

	bki(945234, 17)

****************************************************************************************************
CREDIT_ACTIVE

['Active' 'Closed' 'Sold' 'Bad debt']


CREDIT_ACTIVE
Active      347323
Bad debt        13
Closed      594315
Sold          3583
Name: CREDIT_ACTIVE, dtype: int64
****************************************************************************************************

CREDIT_CURRENCY

['currency 1' 'currency 2' 'currency 3' 'currency 4']


CREDIT_CURRENCY
currency 1    944492
currency 2       647
currency 3        91
currency 4         4
Name: CREDIT_CURRENCY, dtype: int64
****************************************************************************************************

CREDIT_TYPE

['Consumer credit' 'Credit card' 'Car loan' 'Mortgage'
 'Loan for business development' 'Microloan'
 'Loan for working capital replenishment' 'Unknown type of loan'
 'Loan for the purchase of equipment' 'Another type of loan'
 'Cash loan (non-earmarked)' 'Real estate loan' 'Mobile operator loan'
 'Loan for purchase of shares (margin lending)']


CREDIT_TYPE
Another type of loan                               586
Car loan                                         15348
Cash loan (non-earmarked)                           31
Consumer credit                                 688431
Credit card                                     222238
Loan for business development                     1055
Loan for purchase of shares (margin lending)         4
Loan for the purchase of equipment                  14
Loan for working capital replenishment             261
Microloan                                         6788
Mobile operator loan                                 1
Mortgage                                         10161
Real estate loan                                    16
Unknown type of loan                               300
Name: CREDIT_TYPE, dtype: int64
****************************************************************************************************

## Формируем "Большую таблицу"

### Подшиваем test к train

In [240]:
test = source['test']

In [241]:
test["TARGET"] = math.nan

In [242]:
test.head

<bound method NDFrame.head of         APPLICATION_NUMBER NAME_CONTRACT_TYPE  TARGET
0                123724268               Cash     NaN
1                123456549               Cash     NaN
2                123428178        Credit Card     NaN
3                123619984               Cash     NaN
4                123671104               Cash     NaN
...                    ...                ...     ...
165136           123487967               Cash     NaN
165137           123536402               Cash     NaN
165138           123718238               Cash     NaN
165139           123631557               Cash     NaN
165140           123433260               Cash     NaN

[165141 rows x 3 columns]>

In [243]:
data = pd.concat([source['train'], test], axis=0)
data.head()

   APPLICATION_NUMBER  TARGET NAME_CONTRACT_TYPE
0           123687442     0.0               Cash
1           123597908     1.0               Cash
2           123526683     0.0               Cash
3           123710391     1.0               Cash
4           123590329     1.0               Cash

In [244]:
data.tail()

        APPLICATION_NUMBER  TARGET NAME_CONTRACT_TYPE
165136           123487967     NaN               Cash
165137           123536402     NaN               Cash
165138           123718238     NaN               Cash
165139           123631557     NaN               Cash
165140           123433260     NaN               Cash

In [245]:
data.shape

(275234, 3)

### Добавляем client_profile

In [246]:
data = pd.merge(data, source["client_profile"], on='APPLICATION_NUMBER', how='left')
data.head()

,APPLICATION_NUMBER,TARGET,NAME_CONTRACT_TYPE,GENDER,CHILDRENS,TOTAL_SALARY,AMOUNT_CREDIT,AMOUNT_ANNUITY,EDUCATION_LEVEL,FAMILY_STATUS,REGION_POPULATION,AGE,DAYS_ON_LAST_JOB,OWN_CAR_AGE,FLAG_PHONE,FLAG_EMAIL,FAMILY_SIZE,EXTERNAL_SCORING_RATING_1,EXTERNAL_SCORING_RATING_2,EXTERNAL_SCORING_RATING_3,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,123687442,0.0,Cash,M,1.0,157500.0,855000.0,25128.0,Secondary / secondary special,Married,0.019101,15728.0,1719.0,11.0,0.0,0.0,3.0,0.700784,0.645914,0.716570,0.0,0.0,1.0,0.0,0.0,2.0
1,123597908,1.0,Cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,123526683,0.0,Cash,F,0.0,135000.0,1006920.0,42660.0,Higher education,Married,0.026392,21557.0,3618.0,NaN,1.0,0.0,2.0,NaN,0.682149,0.267869,0.0,0.0,0.0,7.0,0.0,4.0
3,123710391,1.0,Cash,M,0.0,180000.0,518562.0,22972.5,Secondary / secondary special,Married,0.031329,22338.0,365243.0,NaN,0.0,0.0,2.0,NaN,0.171299,0.170446,0.0,0.0,0.0,0.0,0.0,0.0
4,123590329,1.0,Cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [247]:
data.tail()

,APPLICATION_NUMBER,TARGET,NAME_CONTRACT_TYPE,GENDER,CHILDRENS,TOTAL_SALARY,AMOUNT_CREDIT,AMOUNT_ANNUITY,EDUCATION_LEVEL,FAMILY_STATUS,REGION_POPULATION,AGE,DAYS_ON_LAST_JOB,OWN_CAR_AGE,FLAG_PHONE,FLAG_EMAIL,FAMILY_SIZE,EXTERNAL_SCORING_RATING_1,EXTERNAL_SCORING_RATING_2,EXTERNAL_SCORING_RATING_3,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
275229,123487967,NaN,Cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
275230,123536402,NaN,Cash,M,0.0,135000.0,450000.0,16807.5,Secondary / secondary special,Single / not married,0.028663,18610.0,10398.0,23.0,0.0,0.0,1.0,NaN,0.665971,0.535276,0.0,0.0,0.0,0.0,0.0,0.0
275231,123718238,NaN,Cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
275232,123631557,NaN,Cash,F,0.0,112500.0,350181.0,36769.5,Secondary / secondary special,Married,0.030755,20551.0,365243.0,NaN,0.0,1.0,2.0,NaN,0.761376,NaN,NaN,NaN,NaN,NaN,NaN,NaN
275233,123433260,NaN,Cash,M,0.0,247500.0,1241437.5,36427.5,Secondary / secondary special,Married,0.018029,18853.0,6543.0,15.0,0.0,0.0,2.0,NaN,0.493617,0.546023,0.0,0.0,0.0,1.0,0.0,2.0

In [248]:
data.shape

(275234, 26)

### Добавляем категориальные характеристики из applications_history, bki, payments

In [249]:
# tmp = data["TARGET"].unique()
# type(tmp)

In [250]:
# def cat_encoder(data: pd.DataFrame, data_src: pd.DataFrame):
#     ''' Никому эту функцию не показывать :) просто попробовал :)
#     Функция для извлечения из датасета источника категориальных переменных и 
#     кодирования count hot encoding
    
#     data: pandas.core.frame.DataFrame
#         датасет назначения
#     data_src: pandas.core.frame.DataFrame
#         датасет источник
        
#     Вносит изменения в датасет назначения
#     '''
#     cat_data = data_src.select_dtypes(include=['object'])
#     cat_list = []
#     for cat_col in cat_data.columns:
#         uniq_vals = cat_data[cat_col].unique()
#         if len(uniq_vals) < 20:
#             cat_list.append(cat_col)
#             for col in uniq_vals:
#                 data[(cat_col + '_' + '_'.join(col.split())).upper()] = 0
# #     print(cat_list)
#     for i in range(data_src.shape[0]):
#         for cl in cat_list:
#             data.loc[data["APPLICATION_NUMBER"] == data_src.loc[i, "APPLICATION_NUMBER"], \
#                      (cl + '_' + '_'.join(data_src.loc[i, cl].split())).upper()] += 1
#         if not ((i+1) % 100):
#             print(i+1)

In [251]:
# cat_encoder(data, source['bki'])
# мысль хорошая, реализация недопустимая
# за 2-3 часа обработано 278000 строк из 945234

In [252]:
# data.shape

In [253]:
# data.to_csv("test_bki_cnt.csv", sep=";", index=False)

In [254]:
# tmp = source['bki'][['APPLICATION_NUMBER']].copy()
# tmp.shape

In [255]:
def cat_encoder_m(data: pd.DataFrame)->pd.DataFrame:
    '''
    Функция для извлечения из датасета источника категориальных переменных и 
    кодирования count hot encoding
    
    data: pandas.core.frame.DataFrame
        датасет источник
        
    Возвращает датасет с колонкой TARGET и кололонками новых характеристик
    '''
    res_data = data[['APPLICATION_NUMBER']].copy()
    cat_data = data.select_dtypes(include=['object'])
    cat_list = []
    for cat_col in cat_data.columns:
        uniq_vals = cat_data[cat_col].unique()
        if len(uniq_vals) < 20:
            cat_list.append(cat_col)
            for uniq_val in uniq_vals:
                new_col_name = (cat_col + '_' + '_'.join(str(uniq_val).split())).upper()
                res_data[new_col_name] = 0
                res_data[new_col_name][data[cat_col] == uniq_val] = 1
#                 res_data.loc[data[cat_col] == uniq_val, new_col_name] = 1  
    return res_data

In [256]:
# new_feat = cat_encoder_m(source['bki'])
# new_feat.head()

In [257]:
# new_feat.shape

In [258]:
# new_feat.head(20)

In [259]:
# new_feat.tail(20)

In [260]:
# data['APPLICATION_NUMBER']

In [261]:
# new_feat[new_feat.columns[1:]].head()

In [262]:
# tmp = new_feat.groupby('APPLICATION_NUMBER')[new_feat.columns[1:]].sum()

In [263]:
# tmp.shape

In [264]:
# tmp.head(20)

In [265]:
# tmp.tail(20)

In [266]:
# tmp.info()

In [267]:
# tmp_m = pd.merge(data, new_feat.groupby('APPLICATION_NUMBER')[new_feat.columns[1:]].sum(), on='APPLICATION_NUMBER', how='left')
# tmp_m.shape

In [268]:
# tmp_m.head(20)

In [269]:
# tmp_m.tail(20)

In [270]:
# tmp_m.info()

In [271]:
# tmp_m.shape

In [272]:
for dat_name in src_list[3:]:
    print(dat_name)
    new_feat = cat_encoder_m(source[dat_name])
    if len(new_feat.columns) > 1:
        sum_feat = new_feat.groupby('APPLICATION_NUMBER')[new_feat.columns[1:]].sum()
        print(f"\tsum cols: {sum_feat.shape}\n")
        sum_feat.columns = [col + "_SUM" for col in sum_feat.columns]
        data = pd.merge(data, 
                        sum_feat, 
                        on='APPLICATION_NUMBER', 
                        how='left')
        mean_feat = new_feat.groupby('APPLICATION_NUMBER')[new_feat.columns[1:]].mean()
        print(f"\tmean cols: {mean_feat.shape}\n")
        mean_feat.columns = [col + "_MEAN" for col in mean_feat.columns]
        data = pd.merge(data, 
                        mean_feat, 
                        on='APPLICATION_NUMBER', 
                        how='left')

applications_history
	sum cols: (338857, 45)

	mean cols: (338857, 45)

bki
	sum cols: (273131, 22)

	mean cols: (273131, 22)

payments

In [273]:
data.head()

,APPLICATION_NUMBER,TARGET,NAME_CONTRACT_TYPE,GENDER,CHILDRENS,TOTAL_SALARY,AMOUNT_CREDIT,AMOUNT_ANNUITY,EDUCATION_LEVEL,FAMILY_STATUS,REGION_POPULATION,AGE,DAYS_ON_LAST_JOB,OWN_CAR_AGE,FLAG_PHONE,FLAG_EMAIL,FAMILY_SIZE,EXTERNAL_SCORING_RATING_1,EXTERNAL_SCORING_RATING_2,EXTERNAL_SCORING_RATING_3,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,NAME_CONTRACT_TYPE_NAN_SUM,NAME_CONTRACT_TYPE_CASH_SUM,NAME_CONTRACT_TYPE_CREDIT_CARD_SUM,NAME_CONTRACT_STATUS_APPROVED_SUM,NAME_CONTRACT_STATUS_REFUSED_SUM,NAME_CONTRACT_STATUS_CANCELED_SUM,NAME_CONTRACT_STATUS_UNUSED_OFFER_SUM,NAME_PAYMENT_TYPE_CASH_THROUGH_THE_BANK_SUM,NAME_PAYMENT_TYPE_XNA_SUM,NAME_PAYMENT_TYPE_NON-CASH_FROM_YOUR_ACCOUNT_SUM,NAME_PAYMENT_TYPE_CASHLESS_FROM_THE_ACCOUNT_OF_THE_EMPLOYER_SUM,CODE_REJECT_REASON_XAP_SUM,CODE_REJECT_REASON_HC_SUM,CODE_REJECT_REASON_LIMIT_SUM,CODE_REJECT_REASON_CLIENT_SUM,CODE_REJECT_REASON_SCOFR_SUM,CODE_REJECT_REASON_SCO_SUM,CODE_REJECT_REASON_XNA_SUM,CODE_REJECT_REASON_VERIF_SUM,CODE_REJECT_REASON_SYSTEM_SUM,NAME_TYPE_SUITE_NAN_SUM,NAME_TYPE_SUITE_UNACCOMPANIED_SUM,"NAME_TYPE_SUITE_SPOUSE,_PARTNER_SUM",NAME_TYPE_SUITE_FAMILY_SUM,NAME_TYPE_SUITE_CHILDREN_SUM,NAME_TYPE_SUITE_OTHER_B_SUM,NAME_TYPE_SUITE_OTHER_A_SUM,NAME_TYPE_SUITE_GROUP_OF_PEOPLE_SUM,NAME_CLIENT_TYPE_REPEATER_SUM,NAME_CLIENT_TYPE_NEW_SUM,NAME_CLIENT_TYPE_REFRESHED_SUM,NAME_CLIENT_TYPE_XNA_SUM,NAME_PORTFOLIO_POS_SUM,NAME_PORTFOLIO_CASH_SUM,NAME_PORTFOLIO_XNA_SUM,NAME_PORTFOLIO_CARDS_SUM,NAME_PORTFOLIO_CARS_SUM,NAME_PRODUCT_TYPE_XNA_SUM,NAME_PRODUCT_TYPE_X-SELL_SUM,NAME_PRODUCT_TYPE_WALK-IN_SUM,NAME_YIELD_GROUP_MIDDLE_SUM,NAME_YIELD_GROUP_LOW_ACTION_SUM,NAME_YIELD_GROUP_HIGH_SUM,NAME_YIELD_GROUP_LOW_NORMAL_SUM,NAME_YIELD_GROUP_XNA_SUM,NAME_CONTRACT_TYPE_NAN_MEAN,NAME_CONTRACT_TYPE_CASH_MEAN,NAME_CONTRACT_TYPE_CREDIT_CARD_MEAN,NAME_CONTRACT_STATUS_APPROVED_MEAN,NAME_CONTRACT_STATUS_REFUSED_MEAN,NAME_CONTRACT_STATUS_CANCELED_MEAN,NAME_CONTRACT_STATUS_UNUSED_OFFER_MEAN,NAME_PAYMENT_TYPE_CASH_THROUGH_THE_BANK_MEAN,NAME_PAYMENT_TYPE_XNA_MEAN,NAME_PAYMENT_TYPE_NON-CASH_FROM_YOUR_ACCOUNT_MEAN,NAME_PAYMENT_TYPE_CASHLESS_FROM_THE_ACCOUNT_OF_THE_EMPLOYER_MEAN,CODE_REJECT_REASON_XAP_MEAN,CODE_REJECT_REASON_HC_MEAN,CODE_REJECT_REASON_LIMIT_MEAN,CODE_REJECT_REASON_CLIENT_MEAN,CODE_REJECT_REASON_SCOFR_MEAN,CODE_REJECT_REASON_SCO_MEAN,CODE_REJECT_REASON_XNA_MEAN,CODE_REJECT_REASON_VERIF_MEAN,CODE_REJECT_REASON_SYSTEM_MEAN,NAME_TYPE_SUITE_NAN_MEAN,NAME_TYPE_SUITE_UNACCOMPANIED_MEAN,"NAME_TYPE_SUITE_SPOUSE,_PARTNER_MEAN",NAME_TYPE_SUITE_FAMILY_MEAN,NAME_TYPE_SUITE_CHILDREN_MEAN,NAME_TYPE_SUITE_OTHER_B_MEAN,NAME_TYPE_SUITE_OTHER_A_MEAN,NAME_TYPE_SUITE_GROUP_OF_PEOPLE_MEAN,NAME_CLIENT_TYPE_REPEATER_MEAN,NAME_CLIENT_TYPE_NEW_MEAN,NAME_CLIENT_TYPE_REFRESHED_MEAN,NAME_CLIENT_TYPE_XNA_MEAN,NAME_PORTFOLIO_POS_MEAN,NAME_PORTFOLIO_CASH_MEAN,NAME_PORTFOLIO_XNA_MEAN,NAME_PORTFOLIO_CARDS_MEAN,NAME_PORTFOLIO_CARS_MEAN,NAME_PRODUCT_TYPE_XNA_MEAN,NAME_PRODUCT_TYPE_X-SELL_MEAN,NAME_PRODUCT_TYPE_WALK-IN_MEAN,NAME_YIELD_GROUP_MIDDLE_MEAN,NAME_YIELD_GROUP_LOW_ACTION_MEAN,NAME_YIELD_GROUP_HIGH_MEAN,NAME_YIELD_GROUP_LOW_NORMAL_MEAN,NAME_YIELD_GROUP_XNA_MEAN,CREDIT_ACTIVE_ACTIVE_SUM,CREDIT_ACTIVE_CLOSED_SUM,CREDIT_ACTIVE_SOLD_SUM,CREDIT_ACTIVE_BAD_DEBT_SUM,CREDIT_CURRENCY_CURRENCY_1_SUM,CREDIT_CURRENCY_CURRENCY_2_SUM,CREDIT_CURRENCY_CURRENCY_3_SUM,CREDIT_CURRENCY_CURRENCY_4_SUM,CREDIT_TYPE_CONSUMER_CREDIT_SUM,CREDIT_TYPE_CREDIT_CARD_SUM,CREDIT_TYPE_CAR_LOAN_SUM,CREDIT_TYPE_MORTGAGE_SUM,CREDIT_TYPE_LOAN_FOR_BUSINESS_DEVELOPMENT_SUM,CREDIT_TYPE_MICROLOAN_SUM,CREDIT_TYPE_LOAN_FOR_WORKING_CAPITAL_REPLENISHMENT_SUM,CREDIT_TYPE_UNKNOWN_TYPE_OF_LOAN_SUM,CREDIT_TYPE_LOAN_FOR_THE_PURCHASE_OF_EQUIPMENT_SUM,CREDIT_TYPE_ANOTHER_TYPE_OF_LOAN_SUM,CREDIT_TYPE_CASH_LOAN_(NON-EARMARKED)_SUM,CREDIT_TYPE_REAL_ESTATE_LOAN_SUM,CREDIT_TYPE_MOBILE_OPERATOR_LOAN_SUM,CREDIT_TYPE_LOAN_FOR_PURCHASE_OF_SHARES_(MARGIN_LENDING)_SUM,CREDIT_ACTIVE_ACTIVE_MEAN,CREDIT_ACTIVE_CLOSED_MEAN,CREDIT_ACTIVE_SOLD_MEAN,CREDIT_ACTIVE_BAD_DEBT_MEAN,CREDIT_CURRENCY_CURRENCY_1_MEAN,CREDIT_CURRENCY_CURRENCY_2_MEAN,CREDIT_CURRENCY_CURRENCY_3_MEAN,CREDIT_CURRENCY_CURRENCY_4_MEAN,CREDIT_TYPE_CONSUMER_CREDIT_MEAN,CREDIT_TYPE_CREDIT_CARD_MEAN,CREDIT_TYPE_CAR_LOAN_MEAN,CREDIT_TYPE_MORTGAGE_MEAN,CREDIT_TYPE_LOAN_FOR_BUSINESS_DEVELOPMENT_MEAN,CREDIT_TYPE_MICROLOAN_MEAN,CREDIT_TYPE_LOAN_FOR_WORKING_CAPITAL_REPLENISHMENT_MEAN,CREDIT_TYPE_UNKNOWN_TYPE_OF_LOAN_MEAN,CREDIT_TYPE_LOAN_FOR_THE_PURCHASE_OF_EQUIPMENT_MEAN,CREDIT_TYPE_ANOTHER_TYPE_OF_LOAN_MEAN,CREDIT_TYPE_CASH_LOAN_(NON-EARMARKED)_MEAN,CREDIT_TYPE_REAL_ESTATE_LOAN_MEAN,CREDIT_TYPE_MOBILE_OPERATOR_LOAN_MEAN,CREDIT_TYPE_LOAN_FOR_PURCHASE_OF_SHARES_(MARGIN_LENDING)_MEAN
0,123687442,0.0,Cash,M,1.0,157500.0,855000.0,25128.0,Secondary / secondary special,Married,0.019101,15728.0,1719.0,11.0,0.0,0.0,3.0,0.700784,0.645914,0.716570,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.0,0.666667,0.000000,0.333333,0.0,1.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.333333,0.0,0.000000,0.0,0.0,0.666667,0.000000,0.333333,0.0,1.000000,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.0,0.333333,0.333333,0.333333,0.000000,0.000000,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.000000,0.0,0.0,1.0,0.0,0.0,0.0,1.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,123597908,1.0,Cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2.0,0.0,3.0,1.0,0.0,0.0,4.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,3.0,1.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,1.0,3.0,0.0,0.0,0.0,0.500000,0.000000,0.750000,0.250000,0.000000,0.0,1.000000,0.000000,0.000000,0.0,0.750000,0.250000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.250000,0.0,0.250000,0.0,0.0,0.750000,0.250000,0.000000,0.0,0.500000,0.500000,0.000000,0.000000,0.0,0.500000,0.500000,0.0,0.000000,0.250000,0.750000,0.000000,0.000000,4.0,5.0,0.0,0.0,9.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.444444,0.555556,0.0,0.0,1.0,0.0,0.0,0.0,1.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,123526683,0.0,Cash,F,0.0,135000.0,1006920.0,42660.0,Higher education,Married,0.026392,21557.0,3618.0,NaN,1.0,0.0,2.0,NaN,0.682149,0.267869,0.0,0.0,0.0,7.0,0.0,4.0,0.0,4.0,1.0,4.0,1.0,1.0,0.0,3.0,3.0,0.0,0.0,5.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,5.0,1.0,0.0,0.0,1.0,2.0,2.0,1.0,0.0,3.0,3.0,0.0,1.0,0.0,1.0,1.0,3.0,0.0,0.666667,0.166667,0.666667,0.166667,0.166667,0.0,0.500000,0.500000,0.000000,0.0,0.833333,0.166667,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.166667,0.0,0.166667,0.0,0.000000,0.0,0.0,0.833333,0.166667,0.000000,0.0,0.166667,0.333333,0.333333,0.166667,0.0,0.500000,0.500000,0.0,0.166667,0.000000,0.166667,0.166667,0.500000,2.0,7.0,0.0,0.0,9.0,0.0,0.0,0.0,7.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.222222,0.777778,0.0,0.0,1.0,0.0,0.0,0.0,0.777778,0.111111,0.0,0.111111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,123710391,1.0,Cash,M,0.0,180000.0,518562.0,22972.5,Secondary / secondary special,Married,0.031329,22338.0,365243.0,NaN,0.0,0.0,2.0,NaN,0.171299,0.170446,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.500000,0.0,0.000000,0.0,0.0,0.000000,0.500000,0.500000,0.0,1.000000,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.0,0.000000,0.500000,0.500000,0.000000,0.000000,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.000000,0.0,0.0,1.0,0.0,0.0,0.0,1.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,123590329,1.0,Cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,5.0,0.0,2.0,6.0,1.0,0.0,7.0,1.0,1.0,0.0,3.0,4.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,1.0,5.0,0.0,4.0,4.0,1.0,0.0,0.0,5.0,4.0,0.0,0.0,3.0,1.0,4.0,1.0,0.0,0.555556,0.000000,0.222222,0.666667,0.111111,0.0,0.777778,0.111111,0.111111,0.0,0.333333,0.444444,0.222222,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.444444,0.0,0.000000,0.0,0.111111,0.0,0.0,0.333333,0.111111,0.555556,0.0,0.444444,0.444444,0.111111,0.000000,0.0,0.555556,0.444444,0.0,0.000000,0.333333,0.111111,0.444444,0.111111,1.0,2.0,0.0,0.0,3.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.333333,0.666667,0.0,0.0,1.0,0.0,0.0,0.0,0.666667,0.333333,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [274]:
# data.tail(20)

In [275]:
data.shape

(275234, 160)

In [276]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 275234 entries, 0 to 275233
Columns: 160 entries, APPLICATION_NUMBER to CREDIT_TYPE_LOAN_FOR_PURCHASE_OF_SHARES_(MARGIN_LENDING)_MEAN
dtypes: float64(155), int64(1), object(4)
memory usage: 338.1+ MB

### Заполняем пропуски

In [277]:
obj_col_names = data.select_dtypes(include=['object']).columns
obj_col_names

Index(['NAME_CONTRACT_TYPE', 'GENDER', 'EDUCATION_LEVEL', 'FAMILY_STATUS'], dtype='object')

In [278]:
data.loc[data[obj_col_names[1]].isnull(), obj_col_names[1]]

1         NaN
4         NaN
10        NaN
16        NaN
17        NaN
         ...
275225    NaN
275226    NaN
275228    NaN
275229    NaN
275231    NaN
Name: GENDER, Length: 51519, dtype: object

In [279]:
for col in obj_col_names:
    data.loc[data[col].isnull(), col] = 'No'

In [280]:
num_col_names = data.select_dtypes(exclude=['object']).columns
num_col_names

Index(['APPLICATION_NUMBER', 'TARGET', 'CHILDRENS', 'TOTAL_SALARY',
       'AMOUNT_CREDIT', 'AMOUNT_ANNUITY', 'REGION_POPULATION', 'AGE',
       'DAYS_ON_LAST_JOB', 'OWN_CAR_AGE',
       ...
       'CREDIT_TYPE_LOAN_FOR_BUSINESS_DEVELOPMENT_MEAN',
       'CREDIT_TYPE_MICROLOAN_MEAN',
       'CREDIT_TYPE_LOAN_FOR_WORKING_CAPITAL_REPLENISHMENT_MEAN',
       'CREDIT_TYPE_UNKNOWN_TYPE_OF_LOAN_MEAN',
       'CREDIT_TYPE_LOAN_FOR_THE_PURCHASE_OF_EQUIPMENT_MEAN',
       'CREDIT_TYPE_ANOTHER_TYPE_OF_LOAN_MEAN',
       'CREDIT_TYPE_CASH_LOAN_(NON-EARMARKED)_MEAN',
       'CREDIT_TYPE_REAL_ESTATE_LOAN_MEAN',
       'CREDIT_TYPE_MOBILE_OPERATOR_LOAN_MEAN',
       'CREDIT_TYPE_LOAN_FOR_PURCHASE_OF_SHARES_(MARGIN_LENDING)_MEAN'],
      dtype='object', length=156)

In [281]:
for col in num_col_names:
    data.loc[data[col].isnull(), col] = -1

In [282]:
data.head()

,APPLICATION_NUMBER,TARGET,NAME_CONTRACT_TYPE,GENDER,CHILDRENS,TOTAL_SALARY,AMOUNT_CREDIT,AMOUNT_ANNUITY,EDUCATION_LEVEL,FAMILY_STATUS,REGION_POPULATION,AGE,DAYS_ON_LAST_JOB,OWN_CAR_AGE,FLAG_PHONE,FLAG_EMAIL,FAMILY_SIZE,EXTERNAL_SCORING_RATING_1,EXTERNAL_SCORING_RATING_2,EXTERNAL_SCORING_RATING_3,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,NAME_CONTRACT_TYPE_NAN_SUM,NAME_CONTRACT_TYPE_CASH_SUM,NAME_CONTRACT_TYPE_CREDIT_CARD_SUM,NAME_CONTRACT_STATUS_APPROVED_SUM,NAME_CONTRACT_STATUS_REFUSED_SUM,NAME_CONTRACT_STATUS_CANCELED_SUM,NAME_CONTRACT_STATUS_UNUSED_OFFER_SUM,NAME_PAYMENT_TYPE_CASH_THROUGH_THE_BANK_SUM,NAME_PAYMENT_TYPE_XNA_SUM,NAME_PAYMENT_TYPE_NON-CASH_FROM_YOUR_ACCOUNT_SUM,NAME_PAYMENT_TYPE_CASHLESS_FROM_THE_ACCOUNT_OF_THE_EMPLOYER_SUM,CODE_REJECT_REASON_XAP_SUM,CODE_REJECT_REASON_HC_SUM,CODE_REJECT_REASON_LIMIT_SUM,CODE_REJECT_REASON_CLIENT_SUM,CODE_REJECT_REASON_SCOFR_SUM,CODE_REJECT_REASON_SCO_SUM,CODE_REJECT_REASON_XNA_SUM,CODE_REJECT_REASON_VERIF_SUM,CODE_REJECT_REASON_SYSTEM_SUM,NAME_TYPE_SUITE_NAN_SUM,NAME_TYPE_SUITE_UNACCOMPANIED_SUM,"NAME_TYPE_SUITE_SPOUSE,_PARTNER_SUM",NAME_TYPE_SUITE_FAMILY_SUM,NAME_TYPE_SUITE_CHILDREN_SUM,NAME_TYPE_SUITE_OTHER_B_SUM,NAME_TYPE_SUITE_OTHER_A_SUM,NAME_TYPE_SUITE_GROUP_OF_PEOPLE_SUM,NAME_CLIENT_TYPE_REPEATER_SUM,NAME_CLIENT_TYPE_NEW_SUM,NAME_CLIENT_TYPE_REFRESHED_SUM,NAME_CLIENT_TYPE_XNA_SUM,NAME_PORTFOLIO_POS_SUM,NAME_PORTFOLIO_CASH_SUM,NAME_PORTFOLIO_XNA_SUM,NAME_PORTFOLIO_CARDS_SUM,NAME_PORTFOLIO_CARS_SUM,NAME_PRODUCT_TYPE_XNA_SUM,NAME_PRODUCT_TYPE_X-SELL_SUM,NAME_PRODUCT_TYPE_WALK-IN_SUM,NAME_YIELD_GROUP_MIDDLE_SUM,NAME_YIELD_GROUP_LOW_ACTION_SUM,NAME_YIELD_GROUP_HIGH_SUM,NAME_YIELD_GROUP_LOW_NORMAL_SUM,NAME_YIELD_GROUP_XNA_SUM,NAME_CONTRACT_TYPE_NAN_MEAN,NAME_CONTRACT_TYPE_CASH_MEAN,NAME_CONTRACT_TYPE_CREDIT_CARD_MEAN,NAME_CONTRACT_STATUS_APPROVED_MEAN,NAME_CONTRACT_STATUS_REFUSED_MEAN,NAME_CONTRACT_STATUS_CANCELED_MEAN,NAME_CONTRACT_STATUS_UNUSED_OFFER_MEAN,NAME_PAYMENT_TYPE_CASH_THROUGH_THE_BANK_MEAN,NAME_PAYMENT_TYPE_XNA_MEAN,NAME_PAYMENT_TYPE_NON-CASH_FROM_YOUR_ACCOUNT_MEAN,NAME_PAYMENT_TYPE_CASHLESS_FROM_THE_ACCOUNT_OF_THE_EMPLOYER_MEAN,CODE_REJECT_REASON_XAP_MEAN,CODE_REJECT_REASON_HC_MEAN,CODE_REJECT_REASON_LIMIT_MEAN,CODE_REJECT_REASON_CLIENT_MEAN,CODE_REJECT_REASON_SCOFR_MEAN,CODE_REJECT_REASON_SCO_MEAN,CODE_REJECT_REASON_XNA_MEAN,CODE_REJECT_REASON_VERIF_MEAN,CODE_REJECT_REASON_SYSTEM_MEAN,NAME_TYPE_SUITE_NAN_MEAN,NAME_TYPE_SUITE_UNACCOMPANIED_MEAN,"NAME_TYPE_SUITE_SPOUSE,_PARTNER_MEAN",NAME_TYPE_SUITE_FAMILY_MEAN,NAME_TYPE_SUITE_CHILDREN_MEAN,NAME_TYPE_SUITE_OTHER_B_MEAN,NAME_TYPE_SUITE_OTHER_A_MEAN,NAME_TYPE_SUITE_GROUP_OF_PEOPLE_MEAN,NAME_CLIENT_TYPE_REPEATER_MEAN,NAME_CLIENT_TYPE_NEW_MEAN,NAME_CLIENT_TYPE_REFRESHED_MEAN,NAME_CLIENT_TYPE_XNA_MEAN,NAME_PORTFOLIO_POS_MEAN,NAME_PORTFOLIO_CASH_MEAN,NAME_PORTFOLIO_XNA_MEAN,NAME_PORTFOLIO_CARDS_MEAN,NAME_PORTFOLIO_CARS_MEAN,NAME_PRODUCT_TYPE_XNA_MEAN,NAME_PRODUCT_TYPE_X-SELL_MEAN,NAME_PRODUCT_TYPE_WALK-IN_MEAN,NAME_YIELD_GROUP_MIDDLE_MEAN,NAME_YIELD_GROUP_LOW_ACTION_MEAN,NAME_YIELD_GROUP_HIGH_MEAN,NAME_YIELD_GROUP_LOW_NORMAL_MEAN,NAME_YIELD_GROUP_XNA_MEAN,CREDIT_ACTIVE_ACTIVE_SUM,CREDIT_ACTIVE_CLOSED_SUM,CREDIT_ACTIVE_SOLD_SUM,CREDIT_ACTIVE_BAD_DEBT_SUM,CREDIT_CURRENCY_CURRENCY_1_SUM,CREDIT_CURRENCY_CURRENCY_2_SUM,CREDIT_CURRENCY_CURRENCY_3_SUM,CREDIT_CURRENCY_CURRENCY_4_SUM,CREDIT_TYPE_CONSUMER_CREDIT_SUM,CREDIT_TYPE_CREDIT_CARD_SUM,CREDIT_TYPE_CAR_LOAN_SUM,CREDIT_TYPE_MORTGAGE_SUM,CREDIT_TYPE_LOAN_FOR_BUSINESS_DEVELOPMENT_SUM,CREDIT_TYPE_MICROLOAN_SUM,CREDIT_TYPE_LOAN_FOR_WORKING_CAPITAL_REPLENISHMENT_SUM,CREDIT_TYPE_UNKNOWN_TYPE_OF_LOAN_SUM,CREDIT_TYPE_LOAN_FOR_THE_PURCHASE_OF_EQUIPMENT_SUM,CREDIT_TYPE_ANOTHER_TYPE_OF_LOAN_SUM,CREDIT_TYPE_CASH_LOAN_(NON-EARMARKED)_SUM,CREDIT_TYPE_REAL_ESTATE_LOAN_SUM,CREDIT_TYPE_MOBILE_OPERATOR_LOAN_SUM,CREDIT_TYPE_LOAN_FOR_PURCHASE_OF_SHARES_(MARGIN_LENDING)_SUM,CREDIT_ACTIVE_ACTIVE_MEAN,CREDIT_ACTIVE_CLOSED_MEAN,CREDIT_ACTIVE_SOLD_MEAN,CREDIT_ACTIVE_BAD_DEBT_MEAN,CREDIT_CURRENCY_CURRENCY_1_MEAN,CREDIT_CURRENCY_CURRENCY_2_MEAN,CREDIT_CURRENCY_CURRENCY_3_MEAN,CREDIT_CURRENCY_CURRENCY_4_MEAN,CREDIT_TYPE_CONSUMER_CREDIT_MEAN,CREDIT_TYPE_CREDIT_CARD_MEAN,CREDIT_TYPE_CAR_LOAN_MEAN,CREDIT_TYPE_MORTGAGE_MEAN,CREDIT_TYPE_LOAN_FOR_BUSINESS_DEVELOPMENT_MEAN,CREDIT_TYPE_MICROLOAN_MEAN,CREDIT_TYPE_LOAN_FOR_WORKING_CAPITAL_REPLENISHMENT_MEAN,CREDIT_TYPE_UNKNOWN_TYPE_OF_LOAN_MEAN,CREDIT_TYPE_LOAN_FOR_THE_PURCHASE_OF_EQUIPMENT_MEAN,CREDIT_TYPE_ANOTHER_TYPE_OF_LOAN_MEAN,CREDIT_TYPE_CASH_LOAN_(NON-EARMARKED)_MEAN,CREDIT_TYPE_REAL_ESTATE_LOAN_MEAN,CREDIT_TYPE_MOBILE_OPERATOR_LOAN_MEAN,CREDIT_TYPE_LOAN_FOR_PURCHASE_OF_SHARES_(MARGIN_LENDING)_MEAN
0,123687442,0.0,Cash,M,1.0,157500.0,855000.0,25128.0,Secondary / secondary special,Married,0.019101,15728.0,1719.0,11.0,0.0,0.0,3.0,0.700784,0.645914,0.716570,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.0,0.666667,0.000000,0.333333,0.0,1.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.333333,0.0,0.000000,0.0,0.0,0.666667,0.000000,0.333333,0.0,1.000000,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.0,0.333333,0.333333,0.333333,0.000000,0.000000,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.000000,0.0,0.0,1.0,0.0,0.0,0.0,1.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,123597908,1.0,Cash,No,-1.0,-1.0,-1.0,-1.0,No,No,-1.000000,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,2.0,0.0,3.0,1.0,0.0,0.0,4.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,3.0,1.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,1.0,3.0,0.0,0.0,0.0,0.500000,0.000000,0.750000,0.250000,0.000000,0.0,1.000000,0.000000,0.000000,0.0,0.750000,0.250000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.250000,0.0,0.250000,0.0,0.0,0.750000,0.250000,0.000000,0.0,0.500000,0.500000,0.000000,0.000000,0.0,0.500000,0.500000,0.0,0.000000,0.250000,0.750000,0.000000,0.000000,4.0,5.0,0.0,0.0,9.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.444444,0.555556,0.0,0.0,1.0,0.0,0.0,0.0,1.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,123526683,0.0,Cash,F,0.0,135000.0,1006920.0,42660.0,Higher education,Married,0.026392,21557.0,3618.0,-1.0,1.0,0.0,2.0,-1.000000,0.682149,0.267869,0.0,0.0,0.0,7.0,0.0,4.0,0.0,4.0,1.0,4.0,1.0,1.0,0.0,3.0,3.0,0.0,0.0,5.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,5.0,1.0,0.0,0.0,1.0,2.0,2.0,1.0,0.0,3.0,3.0,0.0,1.0,0.0,1.0,1.0,3.0,0.0,0.666667,0.166667,0.666667,0.166667,0.166667,0.0,0.500000,0.500000,0.000000,0.0,0.833333,0.166667,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.166667,0.0,0.166667,0.0,0.000000,0.0,0.0,0.833333,0.166667,0.000000,0.0,0.166667,0.333333,0.333333,0.166667,0.0,0.500000,0.500000,0.0,0.166667,0.000000,0.166667,0.166667,0.500000,2.0,7.0,0.0,0.0,9.0,0.0,0.0,0.0,7.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.222222,0.777778,0.0,0.0,1.0,0.0,0.0,0.0,0.777778,0.111111,0.0,0.111111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,123710391,1.0,Cash,M,0.0,180000.0,518562.0,22972.5,Secondary / secondary special,Married,0.031329,22338.0,365243.0,-1.0,0.0,0.0,2.0,-1.000000,0.171299,0.170446,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.500000,0.0,0.000000,0.0,0.0,0.000000,0.500000,0.500000,0.0,1.000000,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.0,0.000000,0.500000,0.500000,0.000000,0.000000,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.000000,0.0,0.0,1.0,0.0,0.0,0.0,1.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,123590329,1.0,Cash,No,-1.0,-1.0,-1.0,-1.0,No,No,-1.000000,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,5.0,0.0,2.0,6.0,1.0,0.0,7.0,1.0,1.0,0.0,3.0,4.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,1.0,5.0,0.0,4.0,4.0,1.0,0.0,0.0,5.0,4.0,0.0,0.0,3.0,1.0,4.0,1.0,0.0,0.555556,0.000000,0.222222,0.666667,0.111111,0.0,0.777778,0.111111,0.111111,0.0,0.333333,0.444444,0.222222,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.444444,0.0,0.000000,0.0,0.111111,0.0,0.0,0.333333,0.111111,0.555556,0.0,0.444444,0.444444,0.111111,0.000000,0.0,0.555556,0.444444,0.0,0.000000,0.333333,0.111111,0.444444,0.111111,1.0,2.0,0.0,0.0,3.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.333333,0.666667,0.0,0.0,1.0,0.0,0.0,0.0,0.666667,0.333333,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Агрегируем числовые приазнаки из applications_history, bki, payments

In [283]:
stats = ["count", "mean", "min", "max", "std"]

In [286]:
for dat_name in src_list[3:]:
    print(dat_name)
    dat = source[dat_name].select_dtypes(exclude=['object'])
    for col in dat.columns[2:]:
        dat.loc[dat[col].isnull(), col] = -1
    new_feat = dat.groupby("APPLICATION_NUMBER", as_index=False)[dat.columns[2:]].agg(stats).reset_index()
    for col in new_feat.columns[1:]:
        new_feat.loc[new_feat[col].isnull(), col] = -1
    
#     print(new_feat.info())
    tmp = [new_feat.columns[0][0]]
    tmp.extend([col[0]+"_"+col[1].upper() for col in new_feat.columns[1:]])
    new_feat.columns = tmp
#     print(tmp)
#     print(new_feat.info())
    data = pd.merge(data, 
                    new_feat, 
                    on='APPLICATION_NUMBER', 
                    how='left')

applications_history

C:\Users\viv232\anaconda3\envs\r_l\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

bki
payments

In [287]:
data.shape

(275234, 320)

In [291]:
data.head(2)

,APPLICATION_NUMBER,TARGET,NAME_CONTRACT_TYPE,GENDER,CHILDRENS,TOTAL_SALARY,AMOUNT_CREDIT,AMOUNT_ANNUITY,EDUCATION_LEVEL,FAMILY_STATUS,REGION_POPULATION,AGE,DAYS_ON_LAST_JOB,OWN_CAR_AGE,FLAG_PHONE,FLAG_EMAIL,FAMILY_SIZE,EXTERNAL_SCORING_RATING_1,EXTERNAL_SCORING_RATING_2,EXTERNAL_SCORING_RATING_3,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,NAME_CONTRACT_TYPE_NAN_SUM,NAME_CONTRACT_TYPE_CASH_SUM,NAME_CONTRACT_TYPE_CREDIT_CARD_SUM,NAME_CONTRACT_STATUS_APPROVED_SUM,NAME_CONTRACT_STATUS_REFUSED_SUM,NAME_CONTRACT_STATUS_CANCELED_SUM,NAME_CONTRACT_STATUS_UNUSED_OFFER_SUM,NAME_PAYMENT_TYPE_CASH_THROUGH_THE_BANK_SUM,NAME_PAYMENT_TYPE_XNA_SUM,NAME_PAYMENT_TYPE_NON-CASH_FROM_YOUR_ACCOUNT_SUM,NAME_PAYMENT_TYPE_CASHLESS_FROM_THE_ACCOUNT_OF_THE_EMPLOYER_SUM,CODE_REJECT_REASON_XAP_SUM,CODE_REJECT_REASON_HC_SUM,CODE_REJECT_REASON_LIMIT_SUM,CODE_REJECT_REASON_CLIENT_SUM,CODE_REJECT_REASON_SCOFR_SUM,CODE_REJECT_REASON_SCO_SUM,CODE_REJECT_REASON_XNA_SUM,CODE_REJECT_REASON_VERIF_SUM,CODE_REJECT_REASON_SYSTEM_SUM,NAME_TYPE_SUITE_NAN_SUM,NAME_TYPE_SUITE_UNACCOMPANIED_SUM,"NAME_TYPE_SUITE_SPOUSE,_PARTNER_SUM",NAME_TYPE_SUITE_FAMILY_SUM,NAME_TYPE_SUITE_CHILDREN_SUM,NAME_TYPE_SUITE_OTHER_B_SUM,NAME_TYPE_SUITE_OTHER_A_SUM,NAME_TYPE_SUITE_GROUP_OF_PEOPLE_SUM,NAME_CLIENT_TYPE_REPEATER_SUM,NAME_CLIENT_TYPE_NEW_SUM,NAME_CLIENT_TYPE_REFRESHED_SUM,NAME_CLIENT_TYPE_XNA_SUM,NAME_PORTFOLIO_POS_SUM,NAME_PORTFOLIO_CASH_SUM,NAME_PORTFOLIO_XNA_SUM,NAME_PORTFOLIO_CARDS_SUM,NAME_PORTFOLIO_CARS_SUM,NAME_PRODUCT_TYPE_XNA_SUM,NAME_PRODUCT_TYPE_X-SELL_SUM,NAME_PRODUCT_TYPE_WALK-IN_SUM,NAME_YIELD_GROUP_MIDDLE_SUM,NAME_YIELD_GROUP_LOW_ACTION_SUM,NAME_YIELD_GROUP_HIGH_SUM,NAME_YIELD_GROUP_LOW_NORMAL_SUM,NAME_YIELD_GROUP_XNA_SUM,NAME_CONTRACT_TYPE_NAN_MEAN,NAME_CONTRACT_TYPE_CASH_MEAN,NAME_CONTRACT_TYPE_CREDIT_CARD_MEAN,NAME_CONTRACT_STATUS_APPROVED_MEAN,NAME_CONTRACT_STATUS_REFUSED_MEAN,NAME_CONTRACT_STATUS_CANCELED_MEAN,NAME_CONTRACT_STATUS_UNUSED_OFFER_MEAN,NAME_PAYMENT_TYPE_CASH_THROUGH_THE_BANK_MEAN,NAME_PAYMENT_TYPE_XNA_MEAN,NAME_PAYMENT_TYPE_NON-CASH_FROM_YOUR_ACCOUNT_MEAN,NAME_PAYMENT_TYPE_CASHLESS_FROM_THE_ACCOUNT_OF_THE_EMPLOYER_MEAN,CODE_REJECT_REASON_XAP_MEAN,CODE_REJECT_REASON_HC_MEAN,CODE_REJECT_REASON_LIMIT_MEAN,CODE_REJECT_REASON_CLIENT_MEAN,CODE_REJECT_REASON_SCOFR_MEAN,CODE_REJECT_REASON_SCO_MEAN,CODE_REJECT_REASON_XNA_MEAN,CODE_REJECT_REASON_VERIF_MEAN,CODE_REJECT_REASON_SYSTEM_MEAN,NAME_TYPE_SUITE_NAN_MEAN,NAME_TYPE_SUITE_UNACCOMPANIED_MEAN,"NAME_TYPE_SUITE_SPOUSE,_PARTNER_MEAN",NAME_TYPE_SUITE_FAMILY_MEAN,NAME_TYPE_SUITE_CHILDREN_MEAN,NAME_TYPE_SUITE_OTHER_B_MEAN,NAME_TYPE_SUITE_OTHER_A_MEAN,NAME_TYPE_SUITE_GROUP_OF_PEOPLE_MEAN,NAME_CLIENT_TYPE_REPEATER_MEAN,NAME_CLIENT_TYPE_NEW_MEAN,NAME_CLIENT_TYPE_REFRESHED_MEAN,NAME_CLIENT_TYPE_XNA_MEAN,NAME_PORTFOLIO_POS_MEAN,NAME_PORTFOLIO_CASH_MEAN,NAME_PORTFOLIO_XNA_MEAN,NAME_PORTFOLIO_CARDS_MEAN,NAME_PORTFOLIO_CARS_MEAN,NAME_PRODUCT_TYPE_XNA_MEAN,NAME_PRODUCT_TYPE_X-SELL_MEAN,NAME_PRODUCT_TYPE_WALK-IN_MEAN,NAME_YIELD_GROUP_MIDDLE_MEAN,NAME_YIELD_GROUP_LOW_ACTION_MEAN,NAME_YIELD_GROUP_HIGH_MEAN,NAME_YIELD_GROUP_LOW_NORMAL_MEAN,NAME_YIELD_GROUP_XNA_MEAN,CREDIT_ACTIVE_ACTIVE_SUM,CREDIT_ACTIVE_CLOSED_SUM,CREDIT_ACTIVE_SOLD_SUM,CREDIT_ACTIVE_BAD_DEBT_SUM,CREDIT_CURRENCY_CURRENCY_1_SUM,CREDIT_CURRENCY_CURRENCY_2_SUM,CREDIT_CURRENCY_CURRENCY_3_SUM,CREDIT_CURRENCY_CURRENCY_4_SUM,CREDIT_TYPE_CONSUMER_CREDIT_SUM,CREDIT_TYPE_CREDIT_CARD_SUM,CREDIT_TYPE_CAR_LOAN_SUM,CREDIT_TYPE_MORTGAGE_SUM,CREDIT_TYPE_LOAN_FOR_BUSINESS_DEVELOPMENT_SUM,CREDIT_TYPE_MICROLOAN_SUM,CREDIT_TYPE_LOAN_FOR_WORKING_CAPITAL_REPLENISHMENT_SUM,CREDIT_TYPE_UNKNOWN_TYPE_OF_LOAN_SUM,CREDIT_TYPE_LOAN_FOR_THE_PURCHASE_OF_EQUIPMENT_SUM,CREDIT_TYPE_ANOTHER_TYPE_OF_LOAN_SUM,CREDIT_TYPE_CASH_LOAN_(NON-EARMARKED)_SUM,CREDIT_TYPE_REAL_ESTATE_LOAN_SUM,CREDIT_TYPE_MOBILE_OPERATOR_LOAN_SUM,CREDIT_TYPE_LOAN_FOR_PURCHASE_OF_SHARES_(MARGIN_LENDING)_SUM,CREDIT_ACTIVE_ACTIVE_MEAN,CREDIT_ACTIVE_CLOSED_MEAN,CREDIT_ACTIVE_SOLD_MEAN,CREDIT_ACTIVE_BAD_DEBT_MEAN,CREDIT_CURRENCY_CURRENCY_1_MEAN,CREDIT_CURRENCY_CURRENCY_2_MEAN,CREDIT_CURRENCY_CURRENCY_3_MEAN,CREDIT_CURRENCY_CURRENCY_4_MEAN,CREDIT_TYPE_CONSUMER_CREDIT_MEAN,CREDIT_TYPE_CREDIT_CARD_MEAN,CREDIT_TYPE_CAR_LOAN_MEAN,CREDIT_TYPE_MORTGAGE_MEAN,CREDIT_TYPE_LOAN_FOR_BUSINESS_DEVELOPMENT_MEAN,CREDIT_TYPE_MICROLOAN_MEAN,CREDIT_TYPE_LOAN_FOR_WORKING_CAPITAL_REPLENISHMENT_MEAN,CREDIT_TYPE_UNKNOWN_TYPE_OF_LOAN_MEAN,CREDIT_TYPE_LOAN_FOR_THE_PURCHASE_OF_EQUIPMENT_MEAN,CREDIT_TYPE_ANOTHER_TYPE_OF_LOAN_MEAN,CREDIT_TYPE_CASH_LOAN_(NON-EARMARKED)_MEAN,CREDIT_TYPE_REAL_ESTATE_LOAN_MEAN,CREDIT_TYPE_MOBILE_OPERATOR_LOAN_MEAN,CREDIT_TYPE_LOAN_FOR_PURCHASE_OF_SHARES_(MARGIN_LENDING)_MEAN,AMOUNT_ANNUITY_COUNT,AMOUNT_ANNUITY_MEAN,AMOUNT_ANNUITY_MIN,AMOUNT_ANNUITY_MAX,AMOUNT_ANNUITY_STD,AMT_APPLICATION_COUNT,AMT_APPLICATION_MEAN,AMT_APPLICATION_MIN,AMT_APPLICATION_MAX,AMT_APPLICATION_STD,AMOUNT_CREDIT_COUNT,AMOUNT_CREDIT_MEAN,AMOUNT_CREDIT_MIN,AMOUNT_CREDIT_MAX,AMOUNT_CREDIT_STD,AMOUNT_PAYMENT_COUNT,AMOUNT_PAYMENT_MEAN,AMOUNT_PAYMENT_MIN,AMOUNT_PAYMENT_MAX,AMOUNT_PAYMENT_STD,AMOUNT_GOODS_PAYMENT_COUNT,AMOUNT_GOODS_PAYMENT_MEAN,AMOUNT_GOODS_PAYMENT_MIN,AMOUNT_GOODS_PAYMENT_MAX,AMOUNT_GOODS_PAYMENT_STD,DAYS_DECISION_COUNT,DAYS_DECISION_MEAN,DAYS_DECISION_MIN,DAYS_DECISION_MAX,DAYS_DECISION_STD,SELLERPLACE_AREA_COUNT,SELLERPLACE_AREA_MEAN,SELLERPLACE_AREA_MIN,SELLERPLACE_AREA_MAX,SELLERPLACE_AREA_STD,CNT_PAYMENT_COUNT,CNT_PAYMENT_MEAN,CNT_PAYMENT_MIN,CNT_PAYMENT_MAX,CNT_PAYMENT_STD,DAYS_FIRST_DRAWING_COUNT,DAYS_FIRST_DRAWING_MEAN,DAYS_FIRST_DRAWING_MIN,DAYS_FIRST_DRAWING_MAX,DAYS_FIRST_DRAWING_STD,DAYS_FIRST_DUE_COUNT,DAYS_FIRST_DUE_MEAN,DAYS_FIRST_DUE_MIN,DAYS_FIRST_DUE_MAX,DAYS_FIRST_DUE_STD,DAYS_LAST_DUE_1ST_VERSION_COUNT,DAYS_LAST_DUE_1ST_VERSION_MEAN,DAYS_LAST_DUE_1ST_VERSION_MIN,DAYS_LAST_DUE_1ST_VERSION_MAX,DAYS_LAST_DUE_1ST_VERSION_STD,DAYS_LAST_DUE_COUNT,DAYS_LAST_DUE_MEAN,DAYS_LAST_DUE_MIN,DAYS_LAST_DUE_MAX,DAYS_LAST_DUE_STD,DAYS_TERMINATION_COUNT,DAYS_TERMINATION_MEAN,DAYS_TERMINATION_MIN,DAYS_TERMINATION_MAX,DAYS_TERMINATION_STD,NFLAG_INSURED_ON_APPROVAL_COUNT,NFLAG_INSURED_ON_APPROVAL_MEAN,NFLAG_INSURED_ON_APPROVAL_MIN,NFLAG_INSURED_ON_APPROVAL_MAX,NFLAG_INSURED_ON_APPROVAL_STD,DAYS_CREDIT_COUNT,DAYS_CREDIT_MEAN,DAYS_CREDIT_MIN,DAYS_CREDIT_MAX,DAYS_CREDIT_STD,CREDIT_DAY_OVERDUE_COUNT,CREDIT_DAY_OVERDUE_MEAN,CREDIT_DAY_OVERDUE_MIN,CREDIT_DAY_OVERDUE_MAX,CREDIT_DAY_OVERDUE_STD,DAYS_CREDIT_ENDDATE_COUNT,DAYS_CREDIT_ENDDATE_MEAN,DAYS_CREDIT_ENDDATE_MIN,DAYS_CREDIT_ENDDATE_MAX,DAYS_CREDIT_ENDDATE_STD,DAYS_ENDDATE_FACT_COUNT,DAYS_ENDDATE_FACT_MEAN,DAYS_ENDDATE_FACT_MIN,DAYS_ENDDATE_FACT_MAX,DAYS_ENDDATE_FACT_STD,AMT_CREDIT_MAX_OVERDUE_COUNT,AMT_CREDIT_MAX_OVERDUE_MEAN,AMT_CREDIT_MAX_OVERDUE_MIN,AMT_CREDIT_MAX_OVERDUE_MAX,AMT_CREDIT_MAX_OVERDUE_STD,CNT_CREDIT_PROLONG_COUNT,CNT_CREDIT_PROLONG_MEAN,CNT_CREDIT_PROLONG_MIN,CNT_CREDIT_PROLONG_MAX,CNT_CREDIT_PROLONG_STD,AMT_CREDIT_SUM_COUNT,AMT_CREDIT_SUM_MEAN,AMT_CREDIT_SUM_MIN,AMT_CREDIT_SUM_MAX,AMT_CREDIT_SUM_STD,AMT_CREDIT_SUM_DEBT_COUNT,AMT_CREDIT_SUM_DEBT_MEAN,AMT_CREDIT_SUM_DEBT_MIN,AMT_CREDIT_SUM_DEBT_MAX,AMT_CREDIT_SUM_DEBT_STD,AMT_CREDIT_SUM_LIMIT_COUNT,AMT_CREDIT_SUM_LIMIT_MEAN,AMT_CREDIT_SUM_LIMIT_MIN,AMT_CREDIT_SUM_LIMIT_MAX,AMT_CREDIT_SUM_LIMIT_STD,AMT_CREDIT_SUM_OVERDUE_COUNT,AMT_CREDIT_SUM_OVERDUE_MEAN,AMT_CREDIT_SUM_OVERDUE_MIN,AMT_CREDIT_SUM_OVERDUE_MAX,AMT_CREDIT_SUM_OVERDUE_STD,DAYS_CREDIT_UPDATE_COUNT,DAYS_CREDIT_UPDATE_MEAN,DAYS_CREDIT_UPDATE_MIN,DAYS_CREDIT_UPDATE_MAX,DAYS_CREDIT_UPDATE_STD,AMT_ANNUITY_COUNT,AMT_ANNUITY_MEAN,AMT_ANNUITY_MIN,AMT_ANNUITY_MAX,AMT_ANNUITY_STD,NUM_INSTALMENT_VERSION_COUNT,NUM_INSTALMENT_VERSION_MEAN,NUM_INSTALMENT_VERSION_MIN,NUM_INSTALMENT_VERSION_MAX,NUM_INSTALMENT_VERSION_STD,NUM_INSTALMENT_NUMBER_COUNT,NUM_INSTALMENT_NUMBER_MEAN,NUM_INSTALMENT_NUMBER_MIN,NUM_INSTALMENT_NUMBER_MAX,NUM_INSTALMENT_NUMBER_STD,DAYS_INSTALMENT_COUNT,DAYS_INSTALMENT_MEAN,DAYS_INSTALMENT_MIN,DAYS_INSTALMENT_MAX,DAYS_INSTALMENT_STD,DAYS_ENTRY_PAYMENT_COUNT,DAYS_ENTRY_PAYMENT_MEAN,DAYS_ENTRY_PAYMENT_MIN,DAYS_ENTRY_PAYMENT_MAX,DAYS_ENTRY_PAYMENT_STD,AMT_INSTALMENT_COUNT,AMT_INSTALMENT_MEAN,AMT_INSTALMENT_MIN,AMT_INSTALMENT_MAX,AMT_INSTALMENT_STD,AMT_PAYMENT_COUNT,AMT_PAYMENT_MEAN,AMT_PAYMENT_MIN,AMT_PAYMENT_MAX,AMT_PAYMENT_STD
0,123687442,0.0,Cash,M,1.0,157500.0,855000.0,25128.0,Secondary / secondary special,Married,0.019101,15728.0,1719.0,11.0,0.0,0.0,3.0,0.700784,0.645914,0.71657,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.00,0.00,0.0,0.0,0.666667,0.0,0.333333,0.0,1.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.333333,0.0,0.00,0.0,0.0,0.666667,0.00,0.333333,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.333333,0.333333,0.333333,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.000000,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,7703.80500,6510.015,9262.215,1411.864731,3.0,68787.18,62058.6,72634.14,5847.077214,3.0,67592.10,64500.3,70758.0,3129.508017,3.0,4813.08,3.6,7267.14,4165.423852,3.0,68787.18,62058.6,72634.14,5847.077214,3.0,1221.00,240.0,2702.0,1304.937163,3.0,86.666667,20.0,150.0,65.064071,3.0,10.666667,10.0,12.0,1.154701,3.0,365243.0,365243.0,365243.0,0.00000,3.0,1168.00,143.0,2671.0,1330.059773,3.0,1002.666667,187.0,2401.0,1216.583056,3.0,122688.00,420.0,365243.0,210061.127077,3.0,122675.333333,415.0,365243.0,210072.031066,3.0,0.333333,0.0,1.0,0.57735,1.0,2562.000000,2562.0,2562.0,-1.000000,1.0,0.0,0.0,0.0,-1.0,1.0,2197.000000,2197.0,2197.0,-1.00000,1.0,2162.000000,2162.0,2162.0,-1.000000,1.0,4714.425000,4714.425,4714.425,-1.000000,1.0,0.0,0.0,0.0,-1.0,1.0,56362.5,56362.5,56362.5,-1.000000,1.0,0.000000,0.0,0.0,-1.000000,1.0,0.000000,0.0,0.0,-1.0,1.0,0.0,0.0,0.0,-1.0,1.0,2162.000000,2162.0,2162.0,-1.000000,1.0,-1.0,-1.0,-1.0,-1.0,4.0,1.0,1.0,1.0,0.0,4.0,5.75,4.0,7.0,1.5,4.0,2653.0,2491.0,2830.0,158.688374,4.0,2659.0,2519.0,2830.0,150.49474,4.0,6275.925,3289.635,9262.215,3448.270671,4.0,3960.37125,10.35,9251.865,3851.508285
1,123597908,1.0,Cash,No,-1.0,-1.0,-1.0,-1.0,No,No,-1.000000,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.000000,-1.000000,-1.00000,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,2.0,0.0,3.0,1.0,0.0,0.0,4.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,3.0,1.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,1.0,3.0,0.0,0.0,0.0,0.5,0.0,0.75,0.25,0.0,0.0,1.000000,0.0,0.000000,0.0,0.75,0.25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.250000,0.0,0.25,0.0,0.0,0.750000,0.25,0.000000,0.0,0.5,0.5,0.0,0.0,0.0,0.5,0.5,0.0,0.000000,0.250000,0.750000,0.0,0.0,4.0,5.0,0.0,0.0,9.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.444444,0.555556,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,27919.00125,11349.900,38667.600,12911.696545,4.0,331908.75,75510.0,495000.00,203148.223734,4.0,434949.75,82156.5,722569.5,312889.628597,4.0,-0.50,-1.0,0.00,0.577350,4.0,331908.75,75510.0,495000.00,203148.223734,4.0,659.25,505.0,903.0,191.395533,4.0,38.750000,-1.0,145.0,71.097937,4.0,26.500000,10.0,48.0,18.574176,4.0,182621.0,-1.0,365243.0,210873.72172,4.0,386.75,-1.0,859.0,453.019775,4.0,236.750000,-1.0,529.0,278.113136,4.0,236.75,-1.0,529.0,278.113136,4.0,232.250000,-1.0,518.0,272.723761,4.0,-0.500000,-1.0,0.0,0.57735,9.0,869.555556,57.0,1832.0,749.951517,9.0,0.0,0.0,0.0,0.0,9.0,613.777778,86.0,1745.0,685.90429,9.0,327.777778,-1.0,1503.0,551.939484,9.0,3846.785556,-1.000,17985.915,7641.783083,9.0,0.0,0.0,0.0,0.0,9.0,142799.4,21829.5,294615.0,93013.022957,9.0,34608.388889,-1.0,181561.5,62127.708636,9.0,-0.333333,-1.0,0.0,0.5,9.0,0.0,0.0,0.0,0.0,9.0,249.777778,10.0,1039.0,372.498583,9.0,-1.0,-1.0,-1.0,0.0,1.0,1.0,1.0,1.0,-1.0,1.0,9.00,9.0,9.0,-1.0,1.0,450.0,450.0,450.0,-1.000000,1.0,457.0,457.0,457.0,-1.00000,1.0,11349.900,11349.900,11349.900,-1.000000,1.0,11349.90000,11349.90,11349.900,-1.000000

In [289]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 275234 entries, 0 to 275233
Columns: 320 entries, APPLICATION_NUMBER to AMT_PAYMENT_STD
dtypes: float64(315), int64(1), object(4)
memory usage: 674.1+ MB

### Ещё раз заполняем пропуски

In [292]:
for col in data.select_dtypes(exclude=['object']).columns:
    data.loc[data[col].isnull(), col] = -1

In [293]:
data.head(2)

,APPLICATION_NUMBER,TARGET,NAME_CONTRACT_TYPE,GENDER,CHILDRENS,TOTAL_SALARY,AMOUNT_CREDIT,AMOUNT_ANNUITY,EDUCATION_LEVEL,FAMILY_STATUS,REGION_POPULATION,AGE,DAYS_ON_LAST_JOB,OWN_CAR_AGE,FLAG_PHONE,FLAG_EMAIL,FAMILY_SIZE,EXTERNAL_SCORING_RATING_1,EXTERNAL_SCORING_RATING_2,EXTERNAL_SCORING_RATING_3,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,NAME_CONTRACT_TYPE_NAN_SUM,NAME_CONTRACT_TYPE_CASH_SUM,NAME_CONTRACT_TYPE_CREDIT_CARD_SUM,NAME_CONTRACT_STATUS_APPROVED_SUM,NAME_CONTRACT_STATUS_REFUSED_SUM,NAME_CONTRACT_STATUS_CANCELED_SUM,NAME_CONTRACT_STATUS_UNUSED_OFFER_SUM,NAME_PAYMENT_TYPE_CASH_THROUGH_THE_BANK_SUM,NAME_PAYMENT_TYPE_XNA_SUM,NAME_PAYMENT_TYPE_NON-CASH_FROM_YOUR_ACCOUNT_SUM,NAME_PAYMENT_TYPE_CASHLESS_FROM_THE_ACCOUNT_OF_THE_EMPLOYER_SUM,CODE_REJECT_REASON_XAP_SUM,CODE_REJECT_REASON_HC_SUM,CODE_REJECT_REASON_LIMIT_SUM,CODE_REJECT_REASON_CLIENT_SUM,CODE_REJECT_REASON_SCOFR_SUM,CODE_REJECT_REASON_SCO_SUM,CODE_REJECT_REASON_XNA_SUM,CODE_REJECT_REASON_VERIF_SUM,CODE_REJECT_REASON_SYSTEM_SUM,NAME_TYPE_SUITE_NAN_SUM,NAME_TYPE_SUITE_UNACCOMPANIED_SUM,"NAME_TYPE_SUITE_SPOUSE,_PARTNER_SUM",NAME_TYPE_SUITE_FAMILY_SUM,NAME_TYPE_SUITE_CHILDREN_SUM,NAME_TYPE_SUITE_OTHER_B_SUM,NAME_TYPE_SUITE_OTHER_A_SUM,NAME_TYPE_SUITE_GROUP_OF_PEOPLE_SUM,NAME_CLIENT_TYPE_REPEATER_SUM,NAME_CLIENT_TYPE_NEW_SUM,NAME_CLIENT_TYPE_REFRESHED_SUM,NAME_CLIENT_TYPE_XNA_SUM,NAME_PORTFOLIO_POS_SUM,NAME_PORTFOLIO_CASH_SUM,NAME_PORTFOLIO_XNA_SUM,NAME_PORTFOLIO_CARDS_SUM,NAME_PORTFOLIO_CARS_SUM,NAME_PRODUCT_TYPE_XNA_SUM,NAME_PRODUCT_TYPE_X-SELL_SUM,NAME_PRODUCT_TYPE_WALK-IN_SUM,NAME_YIELD_GROUP_MIDDLE_SUM,NAME_YIELD_GROUP_LOW_ACTION_SUM,NAME_YIELD_GROUP_HIGH_SUM,NAME_YIELD_GROUP_LOW_NORMAL_SUM,NAME_YIELD_GROUP_XNA_SUM,NAME_CONTRACT_TYPE_NAN_MEAN,NAME_CONTRACT_TYPE_CASH_MEAN,NAME_CONTRACT_TYPE_CREDIT_CARD_MEAN,NAME_CONTRACT_STATUS_APPROVED_MEAN,NAME_CONTRACT_STATUS_REFUSED_MEAN,NAME_CONTRACT_STATUS_CANCELED_MEAN,NAME_CONTRACT_STATUS_UNUSED_OFFER_MEAN,NAME_PAYMENT_TYPE_CASH_THROUGH_THE_BANK_MEAN,NAME_PAYMENT_TYPE_XNA_MEAN,NAME_PAYMENT_TYPE_NON-CASH_FROM_YOUR_ACCOUNT_MEAN,NAME_PAYMENT_TYPE_CASHLESS_FROM_THE_ACCOUNT_OF_THE_EMPLOYER_MEAN,CODE_REJECT_REASON_XAP_MEAN,CODE_REJECT_REASON_HC_MEAN,CODE_REJECT_REASON_LIMIT_MEAN,CODE_REJECT_REASON_CLIENT_MEAN,CODE_REJECT_REASON_SCOFR_MEAN,CODE_REJECT_REASON_SCO_MEAN,CODE_REJECT_REASON_XNA_MEAN,CODE_REJECT_REASON_VERIF_MEAN,CODE_REJECT_REASON_SYSTEM_MEAN,NAME_TYPE_SUITE_NAN_MEAN,NAME_TYPE_SUITE_UNACCOMPANIED_MEAN,"NAME_TYPE_SUITE_SPOUSE,_PARTNER_MEAN",NAME_TYPE_SUITE_FAMILY_MEAN,NAME_TYPE_SUITE_CHILDREN_MEAN,NAME_TYPE_SUITE_OTHER_B_MEAN,NAME_TYPE_SUITE_OTHER_A_MEAN,NAME_TYPE_SUITE_GROUP_OF_PEOPLE_MEAN,NAME_CLIENT_TYPE_REPEATER_MEAN,NAME_CLIENT_TYPE_NEW_MEAN,NAME_CLIENT_TYPE_REFRESHED_MEAN,NAME_CLIENT_TYPE_XNA_MEAN,NAME_PORTFOLIO_POS_MEAN,NAME_PORTFOLIO_CASH_MEAN,NAME_PORTFOLIO_XNA_MEAN,NAME_PORTFOLIO_CARDS_MEAN,NAME_PORTFOLIO_CARS_MEAN,NAME_PRODUCT_TYPE_XNA_MEAN,NAME_PRODUCT_TYPE_X-SELL_MEAN,NAME_PRODUCT_TYPE_WALK-IN_MEAN,NAME_YIELD_GROUP_MIDDLE_MEAN,NAME_YIELD_GROUP_LOW_ACTION_MEAN,NAME_YIELD_GROUP_HIGH_MEAN,NAME_YIELD_GROUP_LOW_NORMAL_MEAN,NAME_YIELD_GROUP_XNA_MEAN,CREDIT_ACTIVE_ACTIVE_SUM,CREDIT_ACTIVE_CLOSED_SUM,CREDIT_ACTIVE_SOLD_SUM,CREDIT_ACTIVE_BAD_DEBT_SUM,CREDIT_CURRENCY_CURRENCY_1_SUM,CREDIT_CURRENCY_CURRENCY_2_SUM,CREDIT_CURRENCY_CURRENCY_3_SUM,CREDIT_CURRENCY_CURRENCY_4_SUM,CREDIT_TYPE_CONSUMER_CREDIT_SUM,CREDIT_TYPE_CREDIT_CARD_SUM,CREDIT_TYPE_CAR_LOAN_SUM,CREDIT_TYPE_MORTGAGE_SUM,CREDIT_TYPE_LOAN_FOR_BUSINESS_DEVELOPMENT_SUM,CREDIT_TYPE_MICROLOAN_SUM,CREDIT_TYPE_LOAN_FOR_WORKING_CAPITAL_REPLENISHMENT_SUM,CREDIT_TYPE_UNKNOWN_TYPE_OF_LOAN_SUM,CREDIT_TYPE_LOAN_FOR_THE_PURCHASE_OF_EQUIPMENT_SUM,CREDIT_TYPE_ANOTHER_TYPE_OF_LOAN_SUM,CREDIT_TYPE_CASH_LOAN_(NON-EARMARKED)_SUM,CREDIT_TYPE_REAL_ESTATE_LOAN_SUM,CREDIT_TYPE_MOBILE_OPERATOR_LOAN_SUM,CREDIT_TYPE_LOAN_FOR_PURCHASE_OF_SHARES_(MARGIN_LENDING)_SUM,CREDIT_ACTIVE_ACTIVE_MEAN,CREDIT_ACTIVE_CLOSED_MEAN,CREDIT_ACTIVE_SOLD_MEAN,CREDIT_ACTIVE_BAD_DEBT_MEAN,CREDIT_CURRENCY_CURRENCY_1_MEAN,CREDIT_CURRENCY_CURRENCY_2_MEAN,CREDIT_CURRENCY_CURRENCY_3_MEAN,CREDIT_CURRENCY_CURRENCY_4_MEAN,CREDIT_TYPE_CONSUMER_CREDIT_MEAN,CREDIT_TYPE_CREDIT_CARD_MEAN,CREDIT_TYPE_CAR_LOAN_MEAN,CREDIT_TYPE_MORTGAGE_MEAN,CREDIT_TYPE_LOAN_FOR_BUSINESS_DEVELOPMENT_MEAN,CREDIT_TYPE_MICROLOAN_MEAN,CREDIT_TYPE_LOAN_FOR_WORKING_CAPITAL_REPLENISHMENT_MEAN,CREDIT_TYPE_UNKNOWN_TYPE_OF_LOAN_MEAN,CREDIT_TYPE_LOAN_FOR_THE_PURCHASE_OF_EQUIPMENT_MEAN,CREDIT_TYPE_ANOTHER_TYPE_OF_LOAN_MEAN,CREDIT_TYPE_CASH_LOAN_(NON-EARMARKED)_MEAN,CREDIT_TYPE_REAL_ESTATE_LOAN_MEAN,CREDIT_TYPE_MOBILE_OPERATOR_LOAN_MEAN,CREDIT_TYPE_LOAN_FOR_PURCHASE_OF_SHARES_(MARGIN_LENDING)_MEAN,AMOUNT_ANNUITY_COUNT,AMOUNT_ANNUITY_MEAN,AMOUNT_ANNUITY_MIN,AMOUNT_ANNUITY_MAX,AMOUNT_ANNUITY_STD,AMT_APPLICATION_COUNT,AMT_APPLICATION_MEAN,AMT_APPLICATION_MIN,AMT_APPLICATION_MAX,AMT_APPLICATION_STD,AMOUNT_CREDIT_COUNT,AMOUNT_CREDIT_MEAN,AMOUNT_CREDIT_MIN,AMOUNT_CREDIT_MAX,AMOUNT_CREDIT_STD,AMOUNT_PAYMENT_COUNT,AMOUNT_PAYMENT_MEAN,AMOUNT_PAYMENT_MIN,AMOUNT_PAYMENT_MAX,AMOUNT_PAYMENT_STD,AMOUNT_GOODS_PAYMENT_COUNT,AMOUNT_GOODS_PAYMENT_MEAN,AMOUNT_GOODS_PAYMENT_MIN,AMOUNT_GOODS_PAYMENT_MAX,AMOUNT_GOODS_PAYMENT_STD,DAYS_DECISION_COUNT,DAYS_DECISION_MEAN,DAYS_DECISION_MIN,DAYS_DECISION_MAX,DAYS_DECISION_STD,SELLERPLACE_AREA_COUNT,SELLERPLACE_AREA_MEAN,SELLERPLACE_AREA_MIN,SELLERPLACE_AREA_MAX,SELLERPLACE_AREA_STD,CNT_PAYMENT_COUNT,CNT_PAYMENT_MEAN,CNT_PAYMENT_MIN,CNT_PAYMENT_MAX,CNT_PAYMENT_STD,DAYS_FIRST_DRAWING_COUNT,DAYS_FIRST_DRAWING_MEAN,DAYS_FIRST_DRAWING_MIN,DAYS_FIRST_DRAWING_MAX,DAYS_FIRST_DRAWING_STD,DAYS_FIRST_DUE_COUNT,DAYS_FIRST_DUE_MEAN,DAYS_FIRST_DUE_MIN,DAYS_FIRST_DUE_MAX,DAYS_FIRST_DUE_STD,DAYS_LAST_DUE_1ST_VERSION_COUNT,DAYS_LAST_DUE_1ST_VERSION_MEAN,DAYS_LAST_DUE_1ST_VERSION_MIN,DAYS_LAST_DUE_1ST_VERSION_MAX,DAYS_LAST_DUE_1ST_VERSION_STD,DAYS_LAST_DUE_COUNT,DAYS_LAST_DUE_MEAN,DAYS_LAST_DUE_MIN,DAYS_LAST_DUE_MAX,DAYS_LAST_DUE_STD,DAYS_TERMINATION_COUNT,DAYS_TERMINATION_MEAN,DAYS_TERMINATION_MIN,DAYS_TERMINATION_MAX,DAYS_TERMINATION_STD,NFLAG_INSURED_ON_APPROVAL_COUNT,NFLAG_INSURED_ON_APPROVAL_MEAN,NFLAG_INSURED_ON_APPROVAL_MIN,NFLAG_INSURED_ON_APPROVAL_MAX,NFLAG_INSURED_ON_APPROVAL_STD,DAYS_CREDIT_COUNT,DAYS_CREDIT_MEAN,DAYS_CREDIT_MIN,DAYS_CREDIT_MAX,DAYS_CREDIT_STD,CREDIT_DAY_OVERDUE_COUNT,CREDIT_DAY_OVERDUE_MEAN,CREDIT_DAY_OVERDUE_MIN,CREDIT_DAY_OVERDUE_MAX,CREDIT_DAY_OVERDUE_STD,DAYS_CREDIT_ENDDATE_COUNT,DAYS_CREDIT_ENDDATE_MEAN,DAYS_CREDIT_ENDDATE_MIN,DAYS_CREDIT_ENDDATE_MAX,DAYS_CREDIT_ENDDATE_STD,DAYS_ENDDATE_FACT_COUNT,DAYS_ENDDATE_FACT_MEAN,DAYS_ENDDATE_FACT_MIN,DAYS_ENDDATE_FACT_MAX,DAYS_ENDDATE_FACT_STD,AMT_CREDIT_MAX_OVERDUE_COUNT,AMT_CREDIT_MAX_OVERDUE_MEAN,AMT_CREDIT_MAX_OVERDUE_MIN,AMT_CREDIT_MAX_OVERDUE_MAX,AMT_CREDIT_MAX_OVERDUE_STD,CNT_CREDIT_PROLONG_COUNT,CNT_CREDIT_PROLONG_MEAN,CNT_CREDIT_PROLONG_MIN,CNT_CREDIT_PROLONG_MAX,CNT_CREDIT_PROLONG_STD,AMT_CREDIT_SUM_COUNT,AMT_CREDIT_SUM_MEAN,AMT_CREDIT_SUM_MIN,AMT_CREDIT_SUM_MAX,AMT_CREDIT_SUM_STD,AMT_CREDIT_SUM_DEBT_COUNT,AMT_CREDIT_SUM_DEBT_MEAN,AMT_CREDIT_SUM_DEBT_MIN,AMT_CREDIT_SUM_DEBT_MAX,AMT_CREDIT_SUM_DEBT_STD,AMT_CREDIT_SUM_LIMIT_COUNT,AMT_CREDIT_SUM_LIMIT_MEAN,AMT_CREDIT_SUM_LIMIT_MIN,AMT_CREDIT_SUM_LIMIT_MAX,AMT_CREDIT_SUM_LIMIT_STD,AMT_CREDIT_SUM_OVERDUE_COUNT,AMT_CREDIT_SUM_OVERDUE_MEAN,AMT_CREDIT_SUM_OVERDUE_MIN,AMT_CREDIT_SUM_OVERDUE_MAX,AMT_CREDIT_SUM_OVERDUE_STD,DAYS_CREDIT_UPDATE_COUNT,DAYS_CREDIT_UPDATE_MEAN,DAYS_CREDIT_UPDATE_MIN,DAYS_CREDIT_UPDATE_MAX,DAYS_CREDIT_UPDATE_STD,AMT_ANNUITY_COUNT,AMT_ANNUITY_MEAN,AMT_ANNUITY_MIN,AMT_ANNUITY_MAX,AMT_ANNUITY_STD,NUM_INSTALMENT_VERSION_COUNT,NUM_INSTALMENT_VERSION_MEAN,NUM_INSTALMENT_VERSION_MIN,NUM_INSTALMENT_VERSION_MAX,NUM_INSTALMENT_VERSION_STD,NUM_INSTALMENT_NUMBER_COUNT,NUM_INSTALMENT_NUMBER_MEAN,NUM_INSTALMENT_NUMBER_MIN,NUM_INSTALMENT_NUMBER_MAX,NUM_INSTALMENT_NUMBER_STD,DAYS_INSTALMENT_COUNT,DAYS_INSTALMENT_MEAN,DAYS_INSTALMENT_MIN,DAYS_INSTALMENT_MAX,DAYS_INSTALMENT_STD,DAYS_ENTRY_PAYMENT_COUNT,DAYS_ENTRY_PAYMENT_MEAN,DAYS_ENTRY_PAYMENT_MIN,DAYS_ENTRY_PAYMENT_MAX,DAYS_ENTRY_PAYMENT_STD,AMT_INSTALMENT_COUNT,AMT_INSTALMENT_MEAN,AMT_INSTALMENT_MIN,AMT_INSTALMENT_MAX,AMT_INSTALMENT_STD,AMT_PAYMENT_COUNT,AMT_PAYMENT_MEAN,AMT_PAYMENT_MIN,AMT_PAYMENT_MAX,AMT_PAYMENT_STD
0,123687442,0.0,Cash,M,1.0,157500.0,855000.0,25128.0,Secondary / secondary special,Married,0.019101,15728.0,1719.0,11.0,0.0,0.0,3.0,0.700784,0.645914,0.716570,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,3.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000,0.666667,0.000000,0.333333,0.0,1.000000,0.000000,0.000000,0.000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.333333,0.0,0.000000,0.0,0.0,0.666667,0.000000,0.333333,0.0,1.000000,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.333333,0.333333,0.333333,0.000000,0.000000,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.000000,0.0,0.0,1.0,0.0,0.0,0.0,1.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,7703.805000,6510.015,9262.215,1411.864731,3.0,68787.1800,62058.6,72634.14,5847.077214,3.0,67592.1000,64500.3,70758.0,3129.508017,3.0,4813.080000,3.6,7267.14,4165.423852,3.0,68787.180000,62058.6,72634.14,5847.077214,3.0,1221.000000,240.0,2702.0,1304.937163,3.0,86.666667,20.0,150.0,65.064071,3.0,10.666667,10.0,12.0,1.154701,3.0,365243.000000,365243.0,365243.0,0.000000,3.0,1168.000000,143.0,2671.0,1330.059773,3.0,1002.666667,187.0,2401.0,1216.583056,3.0,122688.000000,420.0,365243.0,210061.127077,3.0,122675.333333,415.0,365243.0,210072.031066,3.0,0.333333,0.0,1.0,0.577350,1.0,2562.000000,2562.0,2562.0,-1.000000,1.0,0.0,0.0,0.0,-1.0,1.0,2197.000000,2197.0,2197.0,-1.000000,1.0,2162.000000,2162.0,2162.0,-1.000000,1.0,4714.425000,4714.425,4714.425,-1.000000,1.0,0.0,0.0,0.0,-1.0,1.0,56362.5000,56362.50,56362.5,-1.000000,1.0,0.000000,0.0,0.0,-1.000000,1.0,0.000000,0.0,0.00,-1.000000,1.0,0.0,0.0,0.0,-1.0,1.0,2162.000000,2162.0,2162.0,-1.000000,1.0,-1.000000,-1.0,-1.0,-1.000000,4.0,1.0,1.0,1.0,0.000000,4.0,5.750000,4.0,7.0,1.500000,4.0,2653.00,2491.0,2830.0,158.688374,4.0,2659.000000,2519.0,2830.0,150.494740,4.0,6275.9250,3289.635,9262.215,3448.270671,4.0,3960.37125,10.350,9251.865,3851.508285
1,123597908,1.0,Cash,No,-1.0,-1.0,-1.0,-1.0,No,No,-1.000000,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,2.0,0.0,3.0,1.0,0.0,0.0,4.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,3.0,1.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,1.0,3.0,0.0,0.0,0.0,0.500000,0.000000,0.750000,0.250000,0.000000,0.000,1.000000,0.000000,0.000000,0.0,0.750000,0.250000,0.000000,0.000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.250000,0.0,0.250000,0.0,0.0,0.750000,0.250000,0.000000,0.0,0.500000,0.500000,0.000000,0.000000,0.0,0.500000,0.500000,0.000000,0.000000,0.250000,0.750000,0.000000,0.000000,4.0,5.0,0.0,0.0,9.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.444444,0.555556,0.0,0.0,1.0,0.0,0.0,0.0,1.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,27919.001250,11349.900,38667.600,12911.696545,4.0,331908.7500,75510.0,495000.00,203148.223734,4.0,434949.7500,82156.5,722569.5,312889.628597,4.0,-0.500000,-1.0,0.00,0.577350,4.0,331908.750000,75510.0,495000.00,203148.223734,4.0,659.250000,505.0,903.0,191.395533,4.0,38.750000,-1.0,145.0,71.097937,4.0,26.500000,10.0,48.0,18.574176,4.0,182621.000000,-1.0,365243.0,210873.721720,4.0,386.750000,-1.0,859.0,453.019775,4.0,236.750000,-1.0,529.0,278.113136,4.0,236.750000,-1.0,529.0,278.113136,4.0,232.250000,-1.0,518.0,272.723761,4.0,-0.500000,-1.0,0.0,0.577350,9.0,869.555556,57.0,1832.0,749.951517,9.0,0.0,0.0,0.0,0.0,9.0,613.777778,86.0,1745.0,685.904290,9.0,327.777778,-1.0,1503.0,551.939484,9.0,3846.785556,-1.000,17985.915,7641.783083,9.0,0.0,0.0,0.0,0.0,9.0,142799.4000,21829.50,294615.0,93013.022957,9.0,34608.388889,-1.0,181561.5,62127.708636,9.0,-0.333333,-1.0,0.00,0.500000,9.0,0.0,0.0,0.0,0.0,9.0,249.777778,10.0,1039.0,372.498583,9.0,-1.000000,-1.0,-1.0,0.000000,1.0,1.0,1.0,1.0,-1.000000,1.0,9.000000,9.0,9.0,-1.000000,1.0,450.00,450.0,450.0,-1.000000,1.0,457.000000,457.0,457.0,-1.000000,1.0,11349.9000,11349.900,11349.900,-1.000000,1.0,11349.90000,11349.900,11349.900,-1.000000
2,123526683,0.0,Cash,F,0.0,135000.0,1006920.0,42660.0,Higher education,Married,0.026392,21557.0,3618.0,-1.0,1.0,0.0,2.0,-1.000000,0.682149,0.267869,0.0,0.0,0.0,7.0,0.0,4.0,0.0,4.0,1.0,4.0,1.0,1.0,0.0,3.0,3.0,0.0,0.0,5.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,5.0,1.0,0.0,0.0,1.0,2.0,2.0,1.0,0.0,3.0,3.0,0.0,1.0,0.0,1.0,1.0,3.0,0.0,0.666667,0.166667,0.666667,0.166667,0.166667,0.000,0.500000,0.500000,0.000000,0.0,0.833333,0.166667,0.000000,0.000,0.000000,0.0,0.0,0.0,0.0,0.0,0.166667,0.0,0.166667,0.0,0.000000,0.0,0.0,0.833333,0.166667,0.000000,0.0,0.166667,0.333333,0.333333,0.166667,0.0,0.500000,0.500000,0.000000,0.166667,0.000000,0.166667,0.166667,0.500000,2.0,7.0,0.0,0.0,9.0,0.0,0.0,0.0,7.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.222222,0.777778,0.0,0.0,1.0,0.0,0.0,0.0,0.777778,0.111111,0.0,0.111111,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,21691.984167,-1.000,53956.800,24035.069808,6.0,353857.5000,0.0,1395000.00,551676.129480,6.0,402818.2500,0.0,1527579.0,585251.256175,6.0,3134.916667,-1.0,18814.50,7681.395709,6.0,353857.000000,-1.0,1395000.00,551676.514333,6.0,1423.166667,413.0,2829.0,1089.109805,6.0,16.833333,-1.0,72.0,30.255027,6.0,11.666667,-1.0,48.0,18.853824,6.0,183057.500000,-1.0,365243.0,199576.507252,6.0,1253.333333,-1.0,2798.0,1239.188874,6.0,61604.166667,-1.0,365243.0,148754.846104,6.0,895.666667,-1.0,2468.0,992.027755,6.0,812.500000,-1.0,2440.0,948.849145,6.0,-0.166667,-1.0,1.0,0.752773,9.0,1648.222222,408.0,2639.0,945.632827,9.0,0.0,0.0,0.0,0.0,9.0,982.222222,-1.0,2219.0,808.334983,9.0,764.666667,-1.0,2047.0,758.390730,9.0,-0.777778,-1.000,0.000,0.440959,9.0,0.0,0.0,0.0,0.0,9.0,730456.4000,82170.00,2250000.0,778986.168184,9.0,175937.777778,-1.0,1583442.0,527814.083334,9.0,-0.444444,-1.0,0.00,0.527046,9.0,0.0,0.0,0.0,0.0,9.0,736.222222,1.0,2030.0,759.907524,9.0,7637.555556,-1.0,68742.0,22914.166672,4.0,0.5,0.0,1.0,0.577350,4.0,10.000000,7.0,12.0,2.160247,4.0,1917.25,389.0,2468.0,1019.802064,4.0,1917.500000,399.0,2460.0,1013.199059,4.0,20169.4725,4500.000,48790.890,19938.674582,4.0,20169.47250,4500.000,48790.890,19938.674582
3,123710391,1.0,Cash,M,0.0,180000.0,518562.0,22972.5,Secondary / secondary special,Married,0.031329,22338.0,365243.0,-1.0,0.0,0.0,2.0,-1.000000,0.171299,0.170446,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000,1.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.000,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.500000,0.0,0.000000,0.0,0.0,0.000000,0.500000,0.500000,0.0,1.000000,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.000000,0.500000,0.500000,0.000000,0.000000,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.000000,0.0,0.0,1.0,0.0,0.0,0.0,1.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,4237.695000,2450.115,6025.275,2528.019880,2.0,61206.7500,21555.0,100858.50,56076.042622,2.0,59661.0000,18463.5,100858.5,58262.063236,2.0,2250.000000,0.0,4500.00,3181.980515,2.0,61206.750000,21555.0,100858.50,56076.042622,2.0,1151.500000,399.0,1904.0,1064.195706,2.0,2058.500000,117.0,4000.0,2745.695631,2.0,14.000000,10.0,18.0,5.656854,2.0,365243.000000,365243.0,365243.0,0.000000,2.0,1120.500000,368.0,1873.0,1064.195706,2.0,872.500000,142.0,1603.0,1033.083007,2.0,183423.000000,1603.0,365243.0,257132.309911,2.0,183419.500000,1596.0,365243.0,257137.259658,2.0,0.000000,0.0,0.0,0.000000,1.0,2509.000000,2509.0,2509.0,-1.000000,1.0,0.0,0.0,0.0,-1.0,1.0,1413.000000,1413.0,1413.0,-1.000000,1.0,1410.000000,1410.0,1410.0,-1.000000,1.0,-1.000000,-1.000,-1.000,-1.000000,1.0,0.0,0.0,0.0,-1.0,1.0,119731.5000,119731.50,119731.5,-1.000000,1.0,0.000000,0.0,0.0,-1.000000,1.0,0.000000,0.0,0.00,-1.000000,1.0,0.0,0.0,0.0,-1.0,1.0,1400.000000,1400.0,1400.0,-1.000000,1.0,-1.000000,-1.0,-1.0,-1.000000,1.0,1.0,1.0,1.0,-1.000000,1.0,2.000000,2.0,2.0,-1.000000,1.0,1843.00,1843.0,1843.0,-1.000000,1.0,1854.000000,1854.0,1854.0,-1.000000,1.0,2450.1150,2450.115,2450.115,-1.000000,1.0,2450.11500,2450.115,2450.115,-1.000000
4,123590329,1.0,Cash,No,-1.0,-1.0,-1.0,-1.0,No,No,-1.000000,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.000000,-1.000000,-1.000000,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,0.0,5.0,0.0,2.0,6.0,1.0,0.0,7.0,1.0,1.0,0.0,3.0,4.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,1.0,0.0,0.0,3.0,1.0,5.0,0.0,4.0,4.0,1.0,0.0,0.0,5.0,4.0,0.0,0.0,3.0,1.0,4.0,1.0,0.0,0.555556,0.000000,0.222222,0.666667,0.111111,0.000,0.777778,0.111111,0.111111,0.0,0.333333,0.444444,0.222222,0.000,0.000000,0.0,0.0,0.0,0.0,0.0,0.444444,0.0,0.000000,0.0,0.111111,0.0,0.0,0.333333,0.111111,0.555556,0.0,0.444444,0.444444,0.111111,0.000000,0.0,0.555556,0.444444,0.000000,0.000000,0.333333,0.111111,0.444444,0.111111,1.0,2.0,0.0,0.0,3.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.333333,0.666667,0.0,0.0,1.0,0.0,0.0,0.0,0.666667,0.333333,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,12963.108889,-1.000,26347.455,7596.110637,9.0,266842.0000,0.0,697500.00,253591.201736,9.0,308073.5000,0.0,793251.0,299006.625212,9.0,649.444444,-1.0,5850.00,1950.208393,9.0,266841.888889,-1.0,697500.00,253591.333268,9.0,741.000000,178.0,1522.0,669.369293,9.0,55.777778,-1.0,164.0,81.330772,9.0,27.222222,-1.0,60.0,23.215177,9.0,81164.333333,-1.0,365243.0,161057.465310,9.0,309.444444,-1.0,1491.0,617.847698,9.0,256.111111,-1.0,1341.0,518.506616,9.0,259.444444,-1.0,1341.0,523.746864,9.0,258.555556,-1.0,1335.0,521.844592,9.0,-0.777778,-1.0,0.0,0.440959,3.0,1008.666667,844.0,1154.0,155.901678,3.0,0.0,0.0,0.0,0.0,3.0,361.000000,-1.0,970.0,530.534636,3.0,369.333333,-1.0,997.0,546.503736,3.0,-0.666667,-1.000,0.000,0.577350,3.0,0.0,0.0,0.0,0.0,3.0,209214.0000,22500.00,502231.5,256925.871814,3.0,7432.500000,0.0,22297.5,12873.467627,3.0,66.330000,0.0,198.99,114.886930,3.0,0.0,0.0,0.0,0.0,3.0,370.333333,10.0,996.0,543.921257,3.0,-1.000000,-1.0,-1.0,0.000000,4.0,1.0,1.0,1.0,0.000000,4.0,3.750000,1.0,8.0,3.095696,4.0,1218.50,1091.0,1301.0,92.870878,4.0,1233.500000,1102.0,1315.0,94.947354,4.0,10608.3900,10608.390,10608.390,0.000000,4.0,10608.39000,10608.390,10608.390,0.000000

### Разделяем train и test

### Сохраняем train и test

In [ ]:
train_prep.to_csv("train_prep.csv", sep=";", index=False)
test_prep.to_csv("test_prep.csv", sep=";", index=False)

# ДЗ №3

## Задание №0

Выбрать любую модель машнного обучения и зафиксировать любой тип валидации. Обучить базовую модель и зафиксировать базовое качество модели. В каждом следующем задании нужно будет обучить выбранную модель и оценивать ее качество на зафиксированной схеме валидации. После каждого задания, требуется сделать вывод о достигаемом качестве модели, по сравнению с качестом из предыдущего шага.

## Задание №1

Признак TransactionDT - это смещение в секундах относительно базовой даты. Базовая дата - 2017-12-01, преобразовать признак TransactionDT в datetime, прибавив к базовой дате исходное значение признака. Из полученного признака выделить год, месяц, день недели, час, день.

## Задание №2

Сгруппировать данные по card1 и посчитать среднюю сумму транзакции. Добавить в качестве признака в набор данных. Посчитать разницу между суммой транзакцией пользователя и средней суммой транзакции по данному типу card1. Построить отношение этих признаков. Повторить процедуру для всех card.

## Задание №3

Преобразовать признаки card_1 - card_6 с помощью Frequency Encoding;

## Задание №4

Преобразовать признак TransactionAmt в логариф признака, выделить дробную часть и целую часть в отдельные признаки.

## Задание №5

Для числовых признаков построить PCA-признаки, добавить их к основной части датасета.

## Задание №6

Использовать критерий отбора признаков на основе перестановок для отбора признаков, которые положительно влияют на перформанс модели. Переобучить модель и сделать выводы о полученном качестве алгоритма.

## Задание №7

Испольовать SHAP для оценки важности признаков. Использовать SHAP для отбора признаков, проанализировать поведение модели на одном (любом) примере, посмотреть какой вклад каждый признак вносит в итоговый прогно. Проанализировать резульаты.