In [1]:
import numpy as np
import pandas as pd

## Задача 1 проба

In [2]:
a = np.array([[1,6],[2,8],[3,11],[3,10],[1,7]])
print(a)

[[ 1  6]
 [ 2  8]
 [ 3 11]
 [ 3 10]
 [ 1  7]]

In [3]:
print("Размерность a: {}".format(a.ndim))

print("Форма a: {}".format(a.shape))

Размерность a: 2
Форма a: (5, 2)

In [4]:
mean_a = np.array([],[])

In [5]:
print(mean_a)

[]

In [6]:
print(a[:,:1])

[[1]
 [2]
 [3]
 [3]
 [1]]

In [7]:
print(a[:,1:])

[[ 6]
 [ 8]
 [11]
 [10]
 [ 7]]

In [20]:
print(np.mean(a[:,:1]))

2.0

In [21]:
a[:,:1].size

5

In [22]:
len(a[:,:1])

5

In [23]:
a[:2,:1]

array([[1],
       [2]])

# linspace с шагом в 0,1

In [24]:
c = np.linspace(2, 3, 11)
print(c)

[2.  2.1 2.2 2.3 2.4 2.5 2.6 2.7 2.8 2.9 3. ]

# Сортировка

In [25]:
a1=np.array([[2,4,3,3],[2,2,2,4],[5,2,0,3]])
print(a1)

[[2 4 3 3]
 [2 2 2 4]
 [5 2 0 3]]

In [26]:
ind = a1.argsort(axis=1)

print(ind)

[[0 2 3 1]
 [0 1 2 3]
 [2 1 3 0]]

In [27]:
a = np.array([[1,6],[2,8],[3,11],[3,10],[1,7]])
print(a)
mean_a = a.mean(axis=0)
print(mean_a)
a_centered = a - mean_a
print(a_centered)
a_centered_sp = a_centered[:,0].dot(a_centered[:,1])
print(a_centered_sp)
a_centered_sp = a_centered[:,0] @ a_centered[:,1]
print(a_centered_sp)

[[ 1  6]
 [ 2  8]
 [ 3 11]
 [ 3 10]
 [ 1  7]]
[2.  8.4]
[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]
8.0
8.0

# Подготовка данных

In [2]:
%%time
data_set_train = pd.read_csv("train.csv")

Wall time: 100 ms

In [107]:
data_set_train = pd.read_csv("train.csv")

In [4]:
data_set_train.tail(5)

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
9995,77,32,2.0,50.401785,30.476203,5.0,6,5.0,1968,0.135650,B,B,46,7960,6,350.0,3,11,B,196684.316040
9996,6159,18,1.0,41.521546,20.539216,9.0,13,13.0,2000,0.000000,B,B,30,5562,0,NaN,0,5,A,189050.289571
9997,5123,27,1.0,47.939008,NaN,1.0,12,16.0,2015,0.072158,B,B,2,629,1,NaN,0,0,A,159143.805370
9998,5400,75,2.0,43.602562,33.840147,8.0,1,5.0,1961,0.307467,B,A,30,5048,9,325.0,2,5,B,181595.339808
9999,6306,128,1.0,38.666645,21.157874,8.0,7,17.0,1990,0.000000,B,B,27,4798,0,30.0,2,8,B,218714.077615

In [108]:
data_set_train.corr()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
Id,1.000000,0.012973,-0.005847,-0.010071,0.018449,0.019880,0.001348,-0.008376,0.005004,0.018097,-0.000772,-0.002033,-0.009358,-0.003879,0.001502,-0.008718,0.009880
DistrictId,0.012973,1.000000,0.071432,-0.026613,-0.019910,0.040358,-0.120373,-0.149051,0.013430,0.065294,0.246463,0.167479,0.136095,0.304335,0.306147,0.174214,0.265100
Rooms,-0.005847,0.071432,1.000000,0.662893,0.131336,0.005123,-0.000665,-0.029302,-0.010612,-0.032347,0.075980,0.071335,0.012811,0.042857,0.063557,0.053618,0.550291
Square,-0.010071,-0.026613,0.662893,1.000000,0.196129,0.008320,0.114791,0.081505,-0.009032,-0.064479,-0.070690,-0.043120,0.035241,-0.039748,-0.022960,0.021357,0.520075
LifeSquare,0.018449,-0.019910,0.131336,0.196129,1.000000,-0.001195,0.024559,0.027442,-0.002210,-0.023629,-0.048363,-0.039283,0.012763,-0.026867,-0.024762,-0.007569,0.081292
KitchenSquare,0.019880,0.040358,0.005123,0.008320,-0.001195,1.000000,-0.011397,0.000780,0.000958,-0.005622,0.043379,0.037805,-0.015140,0.009472,0.043170,0.010216,0.028864
Floor,0.001348,-0.120373,-0.000665,0.114791,0.024559,-0.011397,1.000000,0.418986,0.000928,-0.016133,-0.044914,-0.016560,-0.002237,-0.138294,-0.065537,0.024264,0.128715
HouseFloor,-0.008376,-0.149051,-0.029302,0.081505,0.027442,0.000780,0.418986,1.000000,-0.000864,-0.004362,-0.020801,0.007194,-0.008137,-0.143973,-0.068728,0.026279,0.088280
HouseYear,0.005004,0.013430,-0.010612,-0.009032,-0.002210,0.000958,0.000928,-0.000864,1.000000,0.001465,0.003026,0.001970,0.000819,-0.011969,0.011245,0.003681,0.004305
Ecology_1,0.018097,0.065294,-0.032347,-0.064479,-0.023629,-0.005622,-0.016133,-0.004362,0.001465,1.000000,0.026464,0.009264,-0.124068,-0.043547,0.030873,-0.076749,-0.058381
Social_1,-0.000772,0.246463,0.075980,-0.070690,-0.048363,0.043379,-0.044914,-0.020801,0.003026,0.026464,1.000000,0.955988,0.023721,0.077133,0.524593,0.526272,0.263286
Social_2,-0.002033,0.167479,0.071335,-0.043120,-0.039283,0.037805,-0.016560,0.007194,0.001970,0.009264,0.955988,1.000000,0.073379,0.050458,0.473193,0.559163,0.239226
Social_3,-0.009358,0.136095,0.012811,0.035241,0.012763,-0.015140,-0.002237,-0.008137,0.000819,-0.124068,0.023721,0.073379,1.000000,0.133877,0.286434,0.662113,0.074878
Healthcare_1,-0.003879,0.304335,0.042857,-0.039748,-0.026867,0.009472,-0.138294,-0.143973,-0.011969,-0.043547,0.077133,0.050458,0.133877,1.000000,0.203177,0.057758,0.138755
Helthcare_2,0.001502,0.306147,0.063557,-0.022960,-0.024762,0.043170,-0.065537,-0.068728,0.011245,0.030873,0.524593,0.473193,0.286434,0.203177,1.000000,0.474085,0.253090
Shops_1,-0.008718,0.174214,0.053618,0.021357,-0.007569,0.010216,0.024264,0.026279,0.003681,-0.076749,0.526272,0.559163,0.662113,0.057758,0.474085,1.000000,0.180876
Price,0.009880,0.265100,0.550291,0.520075,0.081292,0.028864,0.128715,0.088280,0.004305,-0.058381,0.263286,0.239226,0.074878,0.138755,0.253090,0.180876,1.000000

In [6]:
data.shape

(10000, 20)

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
Id               10000 non-null int64
DistrictId       10000 non-null int64
Rooms            10000 non-null float64
Square           10000 non-null float64
LifeSquare       7887 non-null float64
KitchenSquare    10000 non-null float64
Floor            10000 non-null int64
HouseFloor       10000 non-null float64
HouseYear        10000 non-null int64
Ecology_1        10000 non-null float64
Ecology_2        10000 non-null object
Ecology_3        10000 non-null object
Social_1         10000 non-null int64
Social_2         10000 non-null int64
Social_3         10000 non-null int64
Healthcare_1     5202 non-null float64
Helthcare_2      10000 non-null int64
Shops_1          10000 non-null int64
Shops_2          10000 non-null object
Price            10000 non-null float64
dtypes: float64(8), int64(9), object(3)
memory usage: 1.5+ MB

In [8]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,7887.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,5202.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.890500,56.315775,37.199645,6.273300,8.526700,12.609400,3.990166e+03,0.118858,24.687000,5352.157400,8.039200,1142.904460,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.839512,21.058732,86.241209,28.560917,5.241148,6.775974,2.005003e+05,0.119025,17.532614,4006.799803,23.831875,1021.517264,1.493601,4.806341,92872.293865
min,0.00000,0.000000,0.000000,1.136859,0.370619,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.774881,22.769832,1.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,350.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,32.781260,6.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,900.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.900625,45.128803,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,1548.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,19.000000,641.065193,7480.592129,2014.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,4849.000000,6.000000,23.000000,633233.466570

In [22]:
data.drop('Healthcare_1', axis=1)

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,8.903972e-02,B,B,33,7976,5,0,11,B,184966.930730
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,6.998930e-05,B,B,46,10309,1,1,16,B,300009.450063
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,4.963726e-02,B,B,34,7759,0,1,3,B,220925.908524
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,4.378852e-01,B,B,23,5735,3,0,5,B,175616.227217
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,1.233889e-02,B,B,35,5776,1,2,4,B,150226.531644
5,12915,59,3.0,80.384479,46.683720,12.0,5,17.0,2011,3.094791e-01,B,B,35,7715,4,0,6,B,215898.447742
6,14549,154,2.0,62.254114,37.160377,7.0,3,5.0,1960,4.605564e-01,B,B,20,4386,14,1,5,B,296021.204377
7,11993,74,2.0,80.312926,NaN,0.0,14,0.0,1977,7.577876e-02,B,B,6,1437,3,0,2,B,221244.156664
8,5172,1,2.0,64.511437,NaN,1.0,9,17.0,1977,7.122317e-03,B,B,1,264,0,0,1,B,229102.795999
9,8649,23,1.0,46.461409,18.915552,8.0,13,17.0,2014,7.577876e-02,B,B,6,1437,3,0,2,B,95380.220993
10,15370,28,2.0,46.304907,27.922584,6.0,8,9.0,1973,1.185374e-01,B,B,30,6207,1,1,0,B,204243.553129
11,12427,31,3.0,68.808859,45.736906,7.0,1,8.0,1959,0.000000e+00,B,B,23,3684,2,0,4,B,165534.541425
12,6452,13,2.0,54.522805,31.759753,1.0,8,12.0,1999,9.079910e-02,B,B,74,19083,2,5,15,B,229220.372609
13,2408,57,3.0,68.102739,39.311493,8.0,6,12.0,1980,1.332153e-01,B,B,49,11395,3,3,4,A,252481.908323
14,10953,27,1.0,53.769097,52.408027,1.0,5,4.0,1977,7.215758e-02,B,B,2,629,1,0,0,A,140647.565937
15,2823,85,3.0,73.612225,53.892089,6.0,4,9.0,1979,3.717782e-02,B,B,52,11217,1,1,7,B,89084.327876
16,2119,27,2.0,49.360648,31.993964,5.0,6,5.0,1983,5.181543e-02,B,B,5,1227,0,0,0,B,117000.381287
17,3000,34,2.0,57.969964,32.012483,9.0,6,14.0,2001,6.975336e-02,B,B,53,13670,4,1,11,B,231828.437667
18,2829,57,1.0,44.513481,23.113423,8.0,6,12.0,1983,1.332153e-01,B,B,49,11395,3,3,4,A,183743.230464
19,4909,19,3.0,110.959792,56.996765,11.0,16,25.0,2012,9.913630e-04,B,B,33,6783,3,1,9,B,394895.325987
20,8862,0,3.0,103.605292,47.799426,10.0,12,17.0,2002,3.198094e-01,B,B,25,4756,16,5,8,B,521919.057400
21,11935,27,2.0,64.711835,NaN,1.0,15,1.0,1977,2.114012e-01,B,B,9,1892,0,0,1,B,127200.026511
22,11852,48,1.0,41.668650,20.207762,10.0,19,22.0,1996,4.112463e-02,B,B,46,9515,5,1,10,B,215083.969056
23,6641,54,3.0,118.907612,NaN,0.0,2,0.0,1977,6.076152e-03,B,B,30,5285,0,6,6,B,571069.052600
24,7704,150,3.0,62.180536,44.169694,5.0,4,5.0,1964,2.074133e-02,B,B,24,5613,5,2,5,B,241718.099527
25,5073,74,2.0,82.667915,NaN,1.0,16,17.0,1977,7.577876e-02,B,B,6,1437,3,0,2,B,244145.827069
26,4378,27,3.0,106.958871,0.641822,0.0,17,0.0,2018,7.215758e-02,B,B,2,629,1,0,0,A,337299.867936
27,7550,23,2.0,64.556209,NaN,1.0,8,17.0,1977,7.577876e-02,B,B,6,1437,3,0,2,B,173910.923723
28,8054,23,1.0,42.530043,43.967759,1.0,3,9.0,2014,3.465608e-02,B,B,0,168,0,0,0,B,95338.198549
29,522,11,2.0,48.372232,31.007581,6.0,4,9.0,1972,1.696760e-04,B,B,36,5992,0,1,1,B,213374.166403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,1612,84,3.0,53.430413,34.603687,6.0,8,9.0,1970,1.496664e-01,B,B,22,4789,2,4,1,B,220804.817110
9971,16050,67,2.0,58.629682,36.330029,9.0,19,17.0,1989,1.004557e-01,B,B,43,7227,0,1,6,A,228845.682509
9972,6097,6,3.0,82.147338,NaN,1.0,17,17.0,1977,2.432045e-01,B,B,5,1564,0,0,0,B,222068.370598
9973,12590,115,2.0,48.201451,33.396431,8.0,15,14.0,1972,1.800000e-09,B,B,16,3681,73,2,5,B,197405.312185
9974,2159,30,1.0,33.227093,32.639166,1.0,4,4.0,2016,7.815280e-05,B,B,22,6398,141,3,23,B,65949.315881
9975,5071,27,2.0,60.055527,NaN,12.0,16,15.0,1977,7.215758e-02,B,B,2,629,1,0,0,A,190325.071232
9976,3621,22,2.0,58.853794,NaN,1.0,10,17.0,1977,1.185374e-01,B,B,30,6207,1,1,0,B,175229.645872
9977,10650,54,2.0,38.599779,22.740244,6.0,2,12.0,1970,6.076152e-03,B,B,30,5285,0,6,6,B,174497.101781
9978,13725,1,2.0,67.510526,NaN,1.0,10,17.0,1977,7.122317e-03,B,B,1,264,0,0,1,B,185996.664227
9979,12758,64,2.0,56.203601,34.292901,8.0,13,17.0,1988,1.356498e-01,B,B,46,7960,6,3,11,B,339230.931543
9980,15654,10,2.0,49.975125,32.786612,6.0,5,9.0,1972,2.827977e-01,B,B,33,8667,2,0,6,B,203000.197806
9981,13352,77,2.0,53.537800,30.979054,8.0,10,12.0,1977,6.998930e-05,B,B,46,10309,1,1,16,B,242356.408174
9982,12805,8,1.0,39.195153,22.158768,9.0,12,12.0,1968,4.378852e-01,B,B,23,5735,3,0,5,B,177449.715863
9983,2705,6,2.0,64.311707,61.920700,1.0,12,17.0,2015,2.432045e-01,B,B,5,1564,0,0,0,B,164356.212221
9984,2237,52,3.0,64.074977,47.633428,6.0,11,9.0,1983,3.711490e-01,B,B,34,7065,1,2,5,B,226434.880156
9985,16159,27,1.0,38.968338,NaN,1.0,10,1.0,1977,2.114012e-01,B,B,9,1892,0,0,1,B,95529.569405
9986,2996,1,2.0,64.994245,NaN,1.0,9,22.0,1977,7.122317e-03,B,B,1,264,0,0,1,B,200332.511658
9987,15623,23,2.0,55.620092,NaN,0.0,2,4.0,1977,3.465608e-02,B,B,0,168,0,0,0,B,115797.553006
9988,14025,53,2.0,54.167124,33.766477,8.0,5,23.0,1987,4.963726e-02,B,B,34,7759,0,1,3,B,261095.834383
9989,4145,96,3.0,90.055233,47.860231,11.0,26,24.0,2005,4.111635e-02,B,B,53,14892,4,1,4,B,441108.911237
9990,15233,1,3.0,57.373889,39.688445,5.0,2,5.0,1962,3.627009e-02,B,B,6,1318,1,1,1,B,163807.542987
9991,11553,3,3.0,101.622794,51.628780,12.0,18,17.0,2000,2.650887e-01,B,B,37,5288,0,3,2,B,212883.501504
9992,14333,150,3.0,78.249637,49.385096,10.0,5,16.0,1976,3.003225e-01,B,B,52,10311,6,1,9,B,342418.758888
9993,48,13,3.0,80.631333,48.899083,10.0,11,14.0,1999,9.079910e-02,B,B,74,19083,2,5,15,B,350684.628560
9994,4158,23,2.0,64.864198,NaN,1.0,17,17.0,1977,7.577876e-02,B,B,6,1437,3,0,2,B,171323.515653
9995,77,32,2.0,50.401785,30.476203,5.0,6,5.0,1968,1.356498e-01,B,B,46,7960,6,3,11,B,196684.316040
9996,6159,18,1.0,41.521546,20.539216,9.0,13,13.0,2000,0.000000e+00,B,B,30,5562,0,0,5,A,189050.289571
9997,5123,27,1.0,47.939008,NaN,1.0,12,16.0,2015,7.215758e-02,B,B,2,629,1,0,0,A,159143.805370
9998,5400,75,2.0,43.602562,33.840147,8.0,1,5.0,1961,3.074667e-01,B,A,30,5048,9,2,5,B,181595.339808
9999,6306,128,1.0,38.666645,21.157874,8.0,7,17.0,1990,0.000000e+00,B,B,27,4798,0,2,8,B,218714.077615

In [23]:
data

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,8.903972e-02,B,B,33,7976,5,NaN,0,11,B,184966.930730
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,6.998930e-05,B,B,46,10309,1,240.0,1,16,B,300009.450063
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,4.963726e-02,B,B,34,7759,0,229.0,1,3,B,220925.908524
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,4.378852e-01,B,B,23,5735,3,1084.0,0,5,B,175616.227217
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,1.233889e-02,B,B,35,5776,1,2078.0,2,4,B,150226.531644
5,12915,59,3.0,80.384479,46.683720,12.0,5,17.0,2011,3.094791e-01,B,B,35,7715,4,990.0,0,6,B,215898.447742
6,14549,154,2.0,62.254114,37.160377,7.0,3,5.0,1960,4.605564e-01,B,B,20,4386,14,NaN,1,5,B,296021.204377
7,11993,74,2.0,80.312926,NaN,0.0,14,0.0,1977,7.577876e-02,B,B,6,1437,3,NaN,0,2,B,221244.156664
8,5172,1,2.0,64.511437,NaN,1.0,9,17.0,1977,7.122317e-03,B,B,1,264,0,NaN,0,1,B,229102.795999
9,8649,23,1.0,46.461409,18.915552,8.0,13,17.0,2014,7.577876e-02,B,B,6,1437,3,NaN,0,2,B,95380.220993
10,15370,28,2.0,46.304907,27.922584,6.0,8,9.0,1973,1.185374e-01,B,B,30,6207,1,1183.0,1,0,B,204243.553129
11,12427,31,3.0,68.808859,45.736906,7.0,1,8.0,1959,0.000000e+00,B,B,23,3684,2,NaN,0,4,B,165534.541425
12,6452,13,2.0,54.522805,31.759753,1.0,8,12.0,1999,9.079910e-02,B,B,74,19083,2,NaN,5,15,B,229220.372609
13,2408,57,3.0,68.102739,39.311493,8.0,6,12.0,1980,1.332153e-01,B,B,49,11395,3,1406.0,3,4,A,252481.908323
14,10953,27,1.0,53.769097,52.408027,1.0,5,4.0,1977,7.215758e-02,B,B,2,629,1,NaN,0,0,A,140647.565937
15,2823,85,3.0,73.612225,53.892089,6.0,4,9.0,1979,3.717782e-02,B,B,52,11217,1,2300.0,1,7,B,89084.327876
16,2119,27,2.0,49.360648,31.993964,5.0,6,5.0,1983,5.181543e-02,B,B,5,1227,0,NaN,0,0,B,117000.381287
17,3000,34,2.0,57.969964,32.012483,9.0,6,14.0,2001,6.975336e-02,B,B,53,13670,4,NaN,1,11,B,231828.437667
18,2829,57,1.0,44.513481,23.113423,8.0,6,12.0,1983,1.332153e-01,B,B,49,11395,3,1406.0,3,4,A,183743.230464
19,4909,19,3.0,110.959792,56.996765,11.0,16,25.0,2012,9.913630e-04,B,B,33,6783,3,NaN,1,9,B,394895.325987
20,8862,0,3.0,103.605292,47.799426,10.0,12,17.0,2002,3.198094e-01,B,B,25,4756,16,2857.0,5,8,B,521919.057400
21,11935,27,2.0,64.711835,NaN,1.0,15,1.0,1977,2.114012e-01,B,B,9,1892,0,NaN,0,1,B,127200.026511
22,11852,48,1.0,41.668650,20.207762,10.0,19,22.0,1996,4.112463e-02,B,B,46,9515,5,NaN,1,10,B,215083.969056
23,6641,54,3.0,118.907612,NaN,0.0,2,0.0,1977,6.076152e-03,B,B,30,5285,0,645.0,6,6,B,571069.052600
24,7704,150,3.0,62.180536,44.169694,5.0,4,5.0,1964,2.074133e-02,B,B,24,5613,5,1340.0,2,5,B,241718.099527
25,5073,74,2.0,82.667915,NaN,1.0,16,17.0,1977,7.577876e-02,B,B,6,1437,3,NaN,0,2,B,244145.827069
26,4378,27,3.0,106.958871,0.641822,0.0,17,0.0,2018,7.215758e-02,B,B,2,629,1,NaN,0,0,A,337299.867936
27,7550,23,2.0,64.556209,NaN,1.0,8,17.0,1977,7.577876e-02,B,B,6,1437,3,NaN,0,2,B,173910.923723
28,8054,23,1.0,42.530043,43.967759,1.0,3,9.0,2014,3.465608e-02,B,B,0,168,0,NaN,0,0,B,95338.198549
29,522,11,2.0,48.372232,31.007581,6.0,4,9.0,1972,1.696760e-04,B,B,36,5992,0,NaN,1,1,B,213374.166403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,1612,84,3.0,53.430413,34.603687,6.0,8,9.0,1970,1.496664e-01,B,B,22,4789,2,4087.0,4,1,B,220804.817110
9971,16050,67,2.0,58.629682,36.330029,9.0,19,17.0,1989,1.004557e-01,B,B,43,7227,0,NaN,1,6,A,228845.682509
9972,6097,6,3.0,82.147338,NaN,1.0,17,17.0,1977,2.432045e-01,B,B,5,1564,0,540.0,0,0,B,222068.370598
9973,12590,115,2.0,48.201451,33.396431,8.0,15,14.0,1972,1.800000e-09,B,B,16,3681,73,1815.0,2,5,B,197405.312185
9974,2159,30,1.0,33.227093,32.639166,1.0,4,4.0,2016,7.815280e-05,B,B,22,6398,141,1046.0,3,23,B,65949.315881
9975,5071,27,2.0,60.055527,NaN,12.0,16,15.0,1977,7.215758e-02,B,B,2,629,1,NaN,0,0,A,190325.071232
9976,3621,22,2.0,58.853794,NaN,1.0,10,17.0,1977,1.185374e-01,B,B,30,6207,1,1183.0,1,0,B,175229.645872
9977,10650,54,2.0,38.599779,22.740244,6.0,2,12.0,1970,6.076152e-03,B,B,30,5285,0,645.0,6,6,B,174497.101781
9978,13725,1,2.0,67.510526,NaN,1.0,10,17.0,1977,7.122317e-03,B,B,1,264,0,NaN,0,1,B,185996.664227
9979,12758,64,2.0,56.203601,34.292901,8.0,13,17.0,1988,1.356498e-01,B,B,46,7960,6,350.0,3,11,B,339230.931543
9980,15654,10,2.0,49.975125,32.786612,6.0,5,9.0,1972,2.827977e-01,B,B,33,8667,2,NaN,0,6,B,203000.197806
9981,13352,77,2.0,53.537800,30.979054,8.0,10,12.0,1977,6.998930e-05,B,B,46,10309,1,240.0,1,16,B,242356.408174
9982,12805,8,1.0,39.195153,22.158768,9.0,12,12.0,1968,4.378852e-01,B,B,23,5735,3,1084.0,0,5,B,177449.715863
9983,2705,6,2.0,64.311707,61.920700,1.0,12,17.0,2015,2.432045e-01,B,B,5,1564,0,540.0,0,0,B,164356.212221
9984,2237,52,3.0,64.074977,47.633428,6.0,11,9.0,1983,3.711490e-01,B,B,34,7065,1,750.0,2,5,B,226434.880156
9985,16159,27,1.0,38.968338,NaN,1.0,10,1.0,1977,2.114012e-01,B,B,9,1892,0,NaN,0,1,B,95529.569405
9986,2996,1,2.0,64.994245,NaN,1.0,9,22.0,1977,7.122317e-03,B,B,1,264,0,NaN,0,1,B,200332.511658
9987,15623,23,2.0,55.620092,NaN,0.0,2,4.0,1977,3.465608e-02,B,B,0,168,0,NaN,0,0,B,115797.553006
9988,14025,53,2.0,54.167124,33.766477,8.0,5,23.0,1987,4.963726e-02,B,B,34,7759,0,229.0,1,3,B,261095.834383
9989,4145,96,3.0,90.055233,47.860231,11.0,26,24.0,2005,4.111635e-02,B,B,53,14892,4,NaN,1,4,B,441108.911237
9990,15233,1,3.0,57.373889,39.688445,5.0,2,5.0,1962,3.627009e-02,B,B,6,1318,1,200.0,1,1,B,163807.542987
9991,11553,3,3.0,101.622794,51.628780,12.0,18,17.0,2000,2.650887e-01,B,B,37,5288,0,1937.0,3,2,B,212883.501504
9992,14333,150,3.0,78.249637,49.385096,10.0,5,16.0,1976,3.003225e-01,B,B,52,10311,6,NaN,1,9,B,342418.758888
9993,48,13,3.0,80.631333,48.899083,10.0,11,14.0,1999,9.079910e-02,B,B,74,19083,2,NaN,5,15,B,350684.628560
9994,4158,23,2.0,64.864198,NaN,1.0,17,17.0,1977,7.577876e-02,B,B,6,1437,3,NaN,0,2,B,171323.515653
9995,77,32,2.0,50.401785,30.476203,5.0,6,5.0,1968,1.356498e-01,B,B,46,7960,6,350.0,3,11,B,196684.316040
9996,6159,18,1.0,41.521546,20.539216,9.0,13,13.0,2000,0.000000e+00,B,B,30,5562,0,NaN,0,5,A,189050.289571
9997,5123,27,1.0,47.939008,NaN,1.0,12,16.0,2015,7.215758e-02,B,B,2,629,1,NaN,0,0,A,159143.805370
9998,5400,75,2.0,43.602562,33.840147,8.0,1,5.0,1961,3.074667e-01,B,A,30,5048,9,325.0,2,5,B,181595.339808
9999,6306,128,1.0,38.666645,21.157874,8.0,7,17.0,1990,0.000000e+00,B,B,27,4798,0,30.0,2,8,B,218714.077615

In [25]:
data.drop('Healthcare_1', axis=1, inplace=True)

In [26]:
data

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,8.903972e-02,B,B,33,7976,5,0,11,B,184966.930730
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,6.998930e-05,B,B,46,10309,1,1,16,B,300009.450063
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,4.963726e-02,B,B,34,7759,0,1,3,B,220925.908524
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,4.378852e-01,B,B,23,5735,3,0,5,B,175616.227217
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,1.233889e-02,B,B,35,5776,1,2,4,B,150226.531644
5,12915,59,3.0,80.384479,46.683720,12.0,5,17.0,2011,3.094791e-01,B,B,35,7715,4,0,6,B,215898.447742
6,14549,154,2.0,62.254114,37.160377,7.0,3,5.0,1960,4.605564e-01,B,B,20,4386,14,1,5,B,296021.204377
7,11993,74,2.0,80.312926,NaN,0.0,14,0.0,1977,7.577876e-02,B,B,6,1437,3,0,2,B,221244.156664
8,5172,1,2.0,64.511437,NaN,1.0,9,17.0,1977,7.122317e-03,B,B,1,264,0,0,1,B,229102.795999
9,8649,23,1.0,46.461409,18.915552,8.0,13,17.0,2014,7.577876e-02,B,B,6,1437,3,0,2,B,95380.220993
10,15370,28,2.0,46.304907,27.922584,6.0,8,9.0,1973,1.185374e-01,B,B,30,6207,1,1,0,B,204243.553129
11,12427,31,3.0,68.808859,45.736906,7.0,1,8.0,1959,0.000000e+00,B,B,23,3684,2,0,4,B,165534.541425
12,6452,13,2.0,54.522805,31.759753,1.0,8,12.0,1999,9.079910e-02,B,B,74,19083,2,5,15,B,229220.372609
13,2408,57,3.0,68.102739,39.311493,8.0,6,12.0,1980,1.332153e-01,B,B,49,11395,3,3,4,A,252481.908323
14,10953,27,1.0,53.769097,52.408027,1.0,5,4.0,1977,7.215758e-02,B,B,2,629,1,0,0,A,140647.565937
15,2823,85,3.0,73.612225,53.892089,6.0,4,9.0,1979,3.717782e-02,B,B,52,11217,1,1,7,B,89084.327876
16,2119,27,2.0,49.360648,31.993964,5.0,6,5.0,1983,5.181543e-02,B,B,5,1227,0,0,0,B,117000.381287
17,3000,34,2.0,57.969964,32.012483,9.0,6,14.0,2001,6.975336e-02,B,B,53,13670,4,1,11,B,231828.437667
18,2829,57,1.0,44.513481,23.113423,8.0,6,12.0,1983,1.332153e-01,B,B,49,11395,3,3,4,A,183743.230464
19,4909,19,3.0,110.959792,56.996765,11.0,16,25.0,2012,9.913630e-04,B,B,33,6783,3,1,9,B,394895.325987
20,8862,0,3.0,103.605292,47.799426,10.0,12,17.0,2002,3.198094e-01,B,B,25,4756,16,5,8,B,521919.057400
21,11935,27,2.0,64.711835,NaN,1.0,15,1.0,1977,2.114012e-01,B,B,9,1892,0,0,1,B,127200.026511
22,11852,48,1.0,41.668650,20.207762,10.0,19,22.0,1996,4.112463e-02,B,B,46,9515,5,1,10,B,215083.969056
23,6641,54,3.0,118.907612,NaN,0.0,2,0.0,1977,6.076152e-03,B,B,30,5285,0,6,6,B,571069.052600
24,7704,150,3.0,62.180536,44.169694,5.0,4,5.0,1964,2.074133e-02,B,B,24,5613,5,2,5,B,241718.099527
25,5073,74,2.0,82.667915,NaN,1.0,16,17.0,1977,7.577876e-02,B,B,6,1437,3,0,2,B,244145.827069
26,4378,27,3.0,106.958871,0.641822,0.0,17,0.0,2018,7.215758e-02,B,B,2,629,1,0,0,A,337299.867936
27,7550,23,2.0,64.556209,NaN,1.0,8,17.0,1977,7.577876e-02,B,B,6,1437,3,0,2,B,173910.923723
28,8054,23,1.0,42.530043,43.967759,1.0,3,9.0,2014,3.465608e-02,B,B,0,168,0,0,0,B,95338.198549
29,522,11,2.0,48.372232,31.007581,6.0,4,9.0,1972,1.696760e-04,B,B,36,5992,0,1,1,B,213374.166403
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,1612,84,3.0,53.430413,34.603687,6.0,8,9.0,1970,1.496664e-01,B,B,22,4789,2,4,1,B,220804.817110
9971,16050,67,2.0,58.629682,36.330029,9.0,19,17.0,1989,1.004557e-01,B,B,43,7227,0,1,6,A,228845.682509
9972,6097,6,3.0,82.147338,NaN,1.0,17,17.0,1977,2.432045e-01,B,B,5,1564,0,0,0,B,222068.370598
9973,12590,115,2.0,48.201451,33.396431,8.0,15,14.0,1972,1.800000e-09,B,B,16,3681,73,2,5,B,197405.312185
9974,2159,30,1.0,33.227093,32.639166,1.0,4,4.0,2016,7.815280e-05,B,B,22,6398,141,3,23,B,65949.315881
9975,5071,27,2.0,60.055527,NaN,12.0,16,15.0,1977,7.215758e-02,B,B,2,629,1,0,0,A,190325.071232
9976,3621,22,2.0,58.853794,NaN,1.0,10,17.0,1977,1.185374e-01,B,B,30,6207,1,1,0,B,175229.645872
9977,10650,54,2.0,38.599779,22.740244,6.0,2,12.0,1970,6.076152e-03,B,B,30,5285,0,6,6,B,174497.101781
9978,13725,1,2.0,67.510526,NaN,1.0,10,17.0,1977,7.122317e-03,B,B,1,264,0,0,1,B,185996.664227
9979,12758,64,2.0,56.203601,34.292901,8.0,13,17.0,1988,1.356498e-01,B,B,46,7960,6,3,11,B,339230.931543
9980,15654,10,2.0,49.975125,32.786612,6.0,5,9.0,1972,2.827977e-01,B,B,33,8667,2,0,6,B,203000.197806
9981,13352,77,2.0,53.537800,30.979054,8.0,10,12.0,1977,6.998930e-05,B,B,46,10309,1,1,16,B,242356.408174
9982,12805,8,1.0,39.195153,22.158768,9.0,12,12.0,1968,4.378852e-01,B,B,23,5735,3,0,5,B,177449.715863
9983,2705,6,2.0,64.311707,61.920700,1.0,12,17.0,2015,2.432045e-01,B,B,5,1564,0,0,0,B,164356.212221
9984,2237,52,3.0,64.074977,47.633428,6.0,11,9.0,1983,3.711490e-01,B,B,34,7065,1,2,5,B,226434.880156
9985,16159,27,1.0,38.968338,NaN,1.0,10,1.0,1977,2.114012e-01,B,B,9,1892,0,0,1,B,95529.569405
9986,2996,1,2.0,64.994245,NaN,1.0,9,22.0,1977,7.122317e-03,B,B,1,264,0,0,1,B,200332.511658
9987,15623,23,2.0,55.620092,NaN,0.0,2,4.0,1977,3.465608e-02,B,B,0,168,0,0,0,B,115797.553006
9988,14025,53,2.0,54.167124,33.766477,8.0,5,23.0,1987,4.963726e-02,B,B,34,7759,0,1,3,B,261095.834383
9989,4145,96,3.0,90.055233,47.860231,11.0,26,24.0,2005,4.111635e-02,B,B,53,14892,4,1,4,B,441108.911237
9990,15233,1,3.0,57.373889,39.688445,5.0,2,5.0,1962,3.627009e-02,B,B,6,1318,1,1,1,B,163807.542987
9991,11553,3,3.0,101.622794,51.628780,12.0,18,17.0,2000,2.650887e-01,B,B,37,5288,0,3,2,B,212883.501504
9992,14333,150,3.0,78.249637,49.385096,10.0,5,16.0,1976,3.003225e-01,B,B,52,10311,6,1,9,B,342418.758888
9993,48,13,3.0,80.631333,48.899083,10.0,11,14.0,1999,9.079910e-02,B,B,74,19083,2,5,15,B,350684.628560
9994,4158,23,2.0,64.864198,NaN,1.0,17,17.0,1977,7.577876e-02,B,B,6,1437,3,0,2,B,171323.515653
9995,77,32,2.0,50.401785,30.476203,5.0,6,5.0,1968,1.356498e-01,B,B,46,7960,6,3,11,B,196684.316040
9996,6159,18,1.0,41.521546,20.539216,9.0,13,13.0,2000,0.000000e+00,B,B,30,5562,0,0,5,A,189050.289571
9997,5123,27,1.0,47.939008,NaN,1.0,12,16.0,2015,7.215758e-02,B,B,2,629,1,0,0,A,159143.805370
9998,5400,75,2.0,43.602562,33.840147,8.0,1,5.0,1961,3.074667e-01,B,A,30,5048,9,2,5,B,181595.339808
9999,6306,128,1.0,38.666645,21.157874,8.0,7,17.0,1990,0.000000e+00,B,B,27,4798,0,2,8,B,218714.077615

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
Id               10000 non-null int64
DistrictId       10000 non-null int64
Rooms            10000 non-null float64
Square           10000 non-null float64
LifeSquare       7887 non-null float64
KitchenSquare    10000 non-null float64
Floor            10000 non-null int64
HouseFloor       10000 non-null float64
HouseYear        10000 non-null int64
Ecology_1        10000 non-null float64
Ecology_2        10000 non-null object
Ecology_3        10000 non-null object
Social_1         10000 non-null int64
Social_2         10000 non-null int64
Social_3         10000 non-null int64
Helthcare_2      10000 non-null int64
Shops_1          10000 non-null int64
Shops_2          10000 non-null object
Price            10000 non-null float64
dtypes: float64(7), int64(9), object(3)
memory usage: 1.4+ MB

In [28]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,7887.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.890500,56.315775,37.199645,6.273300,8.526700,12.609400,3.990166e+03,0.118858,24.687000,5352.157400,8.039200,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.839512,21.058732,86.241209,28.560917,5.241148,6.775974,2.005003e+05,0.119025,17.532614,4006.799803,23.831875,1.493601,4.806341,92872.293865
min,0.00000,0.000000,0.000000,1.136859,0.370619,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.774881,22.769832,1.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,32.781260,6.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.900625,45.128803,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,19.000000,641.065193,7480.592129,2014.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,6.000000,23.000000,633233.466570

In [29]:
data.loc[data['HouseYear'] > 2020, 'HouseYear']

1497    20052011
4189        4968
Name: HouseYear, dtype: int64

In [33]:
data.sort_values('HouseYear')

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
9317,13288,161,1.0,50.808925,15.920343,20.0,8,9.0,1910,1.442311e-02,B,B,19,3806,4,0,3,B,287954.720682
2656,14556,183,4.0,151.150660,98.187482,23.0,6,7.0,1912,3.731645e-02,B,B,32,6748,93,4,10,B,284884.959104
5111,2085,161,1.0,63.293079,29.389815,18.0,3,9.0,1912,1.442311e-02,B,B,19,3806,4,0,3,B,262279.813915
910,6751,172,2.0,56.172364,28.384213,7.0,8,6.0,1914,0.000000e+00,B,B,7,1660,39,1,5,B,423580.477982
7611,7920,183,3.0,102.964468,48.322107,14.0,4,6.0,1916,3.731645e-02,B,B,32,6748,93,4,10,B,284608.939261
5053,10439,104,1.0,35.507738,20.312725,4.0,6,5.0,1917,7.815280e-05,B,B,22,6398,141,3,23,B,236830.764637
1380,15193,195,3.0,75.564709,44.872616,9.0,5,7.0,1917,1.501689e-02,B,B,17,3079,59,0,8,B,486057.129888
8144,13872,189,2.0,54.751367,31.515082,10.0,2,4.0,1917,7.815280e-05,B,B,22,6398,141,3,23,B,69623.753191
1386,12229,180,2.0,76.083312,48.026246,14.0,6,5.0,1918,3.731645e-02,B,B,32,6748,93,4,10,B,431701.914829
2554,10919,190,2.0,47.489415,35.564479,4.0,5,5.0,1918,0.000000e+00,B,B,30,7538,87,5,5,B,537979.657509
2902,14543,120,4.0,96.730985,53.589223,17.0,4,5.0,1918,6.991190e-04,B,B,14,3369,24,0,3,B,376419.535842
8505,12381,182,3.0,65.475260,44.184674,7.0,3,4.0,1918,2.466236e-01,B,B,14,2940,45,3,6,B,540638.323555
5016,15375,182,2.0,67.838861,65.200025,9.0,7,8.0,1918,1.501689e-02,B,B,17,3079,59,0,8,B,443270.817520
7562,5078,82,3.0,70.023486,51.236075,7.0,6,5.0,1919,3.731645e-02,B,B,32,6748,93,4,10,B,524781.018392
4904,462,43,1.0,44.082183,27.717690,7.0,4,5.0,1919,2.125154e-01,B,B,19,3293,16,3,7,B,321506.277104
2608,12329,51,2.0,52.665130,30.099008,8.0,4,4.0,1919,1.501689e-02,B,B,17,3079,59,0,8,B,90314.532343
9825,15391,184,3.0,64.048840,42.844486,6.0,4,5.0,1928,2.466236e-01,B,B,14,2940,45,3,6,B,324303.812481
8951,9642,73,3.0,68.416428,47.767216,7.0,6,6.0,1929,4.203159e-02,B,B,37,6856,84,2,5,B,197419.043625
3933,4212,135,3.0,63.922700,41.738588,7.0,3,8.0,1929,7.658515e-03,B,B,35,7077,56,3,19,B,380359.112959
8381,3128,157,3.0,84.630693,55.849041,11.0,4,6.0,1930,0.000000e+00,B,B,30,7538,87,5,5,B,480227.266202
6630,15902,97,1.0,40.398617,19.501462,9.0,6,5.0,1930,3.069775e-01,B,B,27,5148,14,5,7,B,197433.228221
4949,8921,159,3.0,69.589661,48.856723,5.0,1,3.0,1930,3.731645e-02,B,B,32,6748,93,4,10,B,300001.927452
5667,4352,104,2.0,28.517666,15.565872,3.0,7,6.0,1931,7.815280e-05,B,B,22,6398,141,3,23,B,197245.267664
7163,6700,168,2.0,59.385076,29.235410,9.0,2,5.0,1931,3.410719e-01,B,B,27,5664,48,3,11,B,309988.239477
2588,7018,120,3.0,87.848494,56.589076,11.0,2,3.0,1931,3.410719e-01,B,B,27,5664,48,3,11,B,402075.431031
8207,14248,105,3.0,71.093710,46.573040,7.0,6,5.0,1931,4.230727e-02,B,B,17,2810,9,3,6,B,387442.885760
3443,11120,207,3.0,76.780960,55.770043,7.0,2,5.0,1931,1.800000e-09,B,B,16,3681,73,2,5,B,426186.409334
8055,15590,157,3.0,65.203978,42.319012,9.0,5,5.0,1931,0.000000e+00,B,B,30,7538,87,5,5,B,438061.703276
6277,2726,155,2.0,61.714109,32.486988,9.0,7,6.0,1931,4.230727e-02,B,B,17,2810,9,3,6,B,362698.813373
6208,14966,7,2.0,49.652807,29.200777,8.0,4,5.0,1932,1.306178e-01,B,B,39,10418,9,1,9,B,209292.127522
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2916,12390,72,3.0,97.490674,99.323558,96.0,22,25.0,2019,2.104732e-01,B,B,11,2398,2,3,0,B,445074.956552
2904,16364,1,2.0,65.822188,54.148652,9.0,3,9.0,2019,7.122317e-03,B,B,1,264,0,0,1,B,199316.883485
257,1334,23,1.0,29.401008,NaN,1.0,4,17.0,2019,3.465608e-02,B,B,0,168,0,0,0,B,71690.969474
5173,7722,62,1.0,45.586083,NaN,10.0,12,12.0,2019,7.215758e-02,B,B,2,629,1,0,0,A,125698.118215
4037,5762,27,2.0,67.983723,1.471491,1.0,8,1.0,2019,2.114012e-01,B,B,9,1892,0,0,1,B,152932.624905
8813,11714,34,1.0,47.638646,49.932270,1.0,9,25.0,2019,6.975336e-02,B,B,53,13670,4,1,11,B,206918.848062
1604,2512,27,1.0,41.409195,16.457304,11.0,18,19.0,2019,2.114012e-01,B,B,9,1892,0,0,1,B,119817.448457
4757,12342,27,1.0,40.490421,4.114601,0.0,20,22.0,2019,2.114012e-01,B,B,9,1892,0,0,1,B,120221.581843
8750,13098,37,2.0,68.736183,60.935033,1.0,13,19.0,2019,1.789168e-01,B,B,18,3594,4,1,5,B,341669.453131
3859,3511,59,1.0,48.327498,48.028007,1.0,3,10.0,2020,1.950880e-02,B,B,37,7687,11,5,5,B,227402.467599
6735,12191,74,1.0,42.799882,19.819576,13.0,3,1.0,2020,7.577876e-02,B,B,6,1437,3,0,2,B,162260.682278
585,15051,53,2.0,59.597891,44.869530,10.0,3,24.0,2020,4.963726e-02,B,B,34,7759,0,1,3,B,243114.222804
4493,14664,53,2.0,60.363889,43.142077,12.0,14,24.0,2020,4.963726e-02,B,B,34,7759,0,1,3,B,266202.142371
707,4345,62,1.0,49.275155,1.377284,1.0,5,1.0,2020,7.215758e-02,B,B,2,629,1,0,0,A,135353.885620
790,6845,169,3.0,87.371123,64.905206,12.0,4,24.0,2020,1.789168e-01,B,B,18,3594,4,1,5,B,295304.011974
8253,13914,23,3.0,74.222388,44.992259,13.0,5,3.0,2020,5.767451e-03,B,B,1,388,0,0,0,B,106209.372321
4376,6915,53,3.0,77.214218,56.678434,12.0,6,24.0,2020,4.963726e-02,B,B,34,7759,0,1,3,B,338025.692848
2877,8832,1,3.0,83.260743,79.438325,1.0,15,21.0,2020,7.122317e-03,B,B,1,264,0,0,1,B,242243.090839
918,2530,53,2.0,64.233072,47.405440,13.0,13,24.0,2020,4.963726e-02,B,B,34,7759,0,1,3,B,283334.496716
3485,7026,62,1.0,44.019287,46.759316,1.0,7,12.0,2020,7.215758e-02,B,B,2,629,1,0,0,A,135588.215289
2493,3445,53,1.0,35.672788,21.391266,8.0,4,24.0,2020,4.963726e-02,B,B,34,7759,0,1,3,B,170847.416766
9674,9303,53,2.0,57.126663,40.265100,10.0,11,24.0,2020,4.963726e-02,B,B,34,7759,0,1,3,B,263206.223152
4053,8433,45,2.0,82.880909,84.512719,1.0,19,22.0,2020,1.957811e-01,B,B,23,5212,6,3,2,B,441850.464440
7459,2731,53,1.0,38.004250,24.259307,8.0,4,24.0,2020,4.963726e-02,B,B,34,7759,0,1,3,B,167829.123917
3357,9600,62,1.0,55.911215,43.821379,10.0,6,17.0,2020,7.215758e-02,B,B,2,629,1,0,0,A,138770.715048
7076,14318,53,2.0,57.815313,37.287063,8.0,6,24.0,2020,4.963726e-02,B,B,34,7759,0,1,3,B,251249.365740
5701,8892,62,1.0,49.298503,51.135512,9.0,9,12.0,2020,7.215758e-02,B,B,2,629,1,0,0,A,151779.182589
1499,6731,120,2.0,85.087643,77.976325,10.0,7,10.0,2020,3.410719e-01,B,B,27,5664,48,3,11,B,536020.260344
4189,11607,147,2.0,44.791836,28.360393,5.0,4,9.0,4968,3.198094e-01,B,B,25,4756,16,5,8,B,243028.603096
1497,10814,109,1.0,37.265070,20.239714,9.0,9,12.0,20052011,1.363303e-01,B,B,30,6141,10,3,6,B,254084.534396

In [39]:
data.loc[(~data['HouseYear'].between(1915, 2020)), 'HouseYear'].sort_values()

9317        1910
2656        1912
5111        1912
910         1914
4189        4968
1497    20052011
Name: HouseYear, dtype: int64

In [44]:
data[data['HouseYear'] > 2020]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
1497,10814,109,1.0,37.265070,20.239714,9.0,9,12.0,20052011,0.136330,B,B,30,6141,10,3,6,B,254084.534396
4189,11607,147,2.0,44.791836,28.360393,5.0,4,9.0,4968,0.319809,B,B,25,4756,16,5,8,B,243028.603096

In [45]:
data.loc[4189, 'HouseYear']

4968

In [46]:
data.loc[4189, 'HouseYear'] = 1968

In [47]:
data.loc[4189, 'HouseYear']

1968

In [48]:
data.loc[1497, 'HouseYear']

20052011

In [49]:
data.loc[1497, 'HouseYear'] = 2011
data.loc[1497, 'HouseYear']

2011

In [50]:
data.loc[4189]

Id                  11607
DistrictId            147
Rooms                   2
Square            44.7918
LifeSquare        28.3604
KitchenSquare           5
Floor                   4
HouseFloor              9
HouseYear            1968
Ecology_1        0.319809
Ecology_2               B
Ecology_3               B
Social_1               25
Social_2             4756
Social_3               16
Helthcare_2             5
Shops_1                 8
Shops_2                 B
Price              243029
Name: 4189, dtype: object

In [52]:
data.loc[data['Rooms']>5]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
377,5927,57,10.0,59.056975,36.223072,10.0,22,22.0,2002,0.090799,B,B,74,19083,2,5,15,B,317265.323792
1454,8491,1,19.0,42.006046,21.779288,7.0,17,17.0,2014,0.007122,B,B,1,264,0,0,1,B,78364.616704
2170,14003,99,6.0,59.414334,38.702244,6.0,7,9.0,1969,0.033494,B,B,66,10573,1,3,8,B,229661.964416
8849,14865,9,10.0,60.871266,38.420681,10.0,3,2.0,1994,0.161532,B,B,25,5648,1,2,4,B,172329.270863

In [57]:
data.loc[377, 'Rooms'] = 3
data.loc[377, 'Rooms']

3.0

In [59]:
data.loc[1454, 'Rooms'] = 2
data.loc[1454, 'Rooms']

2.0

In [60]:
data.loc[2170, 'Rooms'] = 3
data.loc[2170, 'Rooms']

3.0

In [61]:
data.loc[8849, 'Rooms'] = 3
data.loc[8849, 'Rooms']

3.0

In [62]:
data.loc[data['Rooms']==5]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
1422,4282,195,5.0,95.617533,62.377052,7.0,7,7.0,1940,0.015017,B,B,17,3079,59,0,8,B,479525.147323
1503,1243,86,5.0,108.057398,82.723825,8.0,3,5.0,1942,0.161976,B,A,31,7010,5,3,7,B,310305.074733
1982,5548,86,5.0,275.645284,233.949309,26.0,12,37.0,2011,0.161976,B,A,31,7010,5,3,7,B,455264.882666
3268,8901,34,5.0,121.577423,114.913843,1.0,25,1.0,1977,0.069753,B,B,53,13670,4,1,11,B,455446.393758
3271,6358,27,5.0,42.003293,NaN,0.0,5,12.0,1977,0.011654,B,B,4,915,0,0,0,B,112693.641769
4431,7594,53,5.0,39.906082,39.394024,1.0,5,1.0,1977,0.049637,B,B,34,7759,0,1,3,B,206148.845716
4487,13434,13,5.0,183.382273,100.985505,15.0,2,6.0,1997,0.090799,B,B,74,19083,2,5,15,B,622888.825328
4762,4070,21,5.0,114.313752,88.492650,9.0,6,5.0,1960,0.034331,B,B,25,5487,3,0,4,B,499830.937577
5361,2879,78,5.0,118.871952,69.023509,10.0,15,16.0,1998,0.092291,B,B,21,4346,2,1,2,B,496026.671162
5466,3454,8,5.0,112.135525,79.795451,10.0,4,17.0,1999,0.437885,B,B,23,5735,3,0,5,B,471833.787538
6623,3294,167,5.0,111.045799,81.940459,9.0,6,6.0,1940,0.050272,B,B,21,4231,14,0,3,B,513239.499082
6988,8685,62,5.0,124.933289,81.122369,30.0,5,3.0,2017,0.072158,B,B,2,629,1,0,0,A,271919.866048
8511,4249,23,5.0,198.930182,123.139863,10.0,1,2.0,2011,0.014073,B,B,2,475,0,0,0,B,345665.209100
8659,14143,13,5.0,119.008007,69.033727,11.0,13,17.0,2001,0.090799,B,B,74,19083,2,5,15,B,434774.356335
8726,238,88,5.0,90.762276,70.991790,5.0,1,9.0,1972,0.127376,B,B,43,8429,3,3,9,B,289683.939174
8925,4214,105,5.0,85.313605,56.686693,5.0,4,12.0,1967,0.040243,B,B,25,3478,11,3,1,B,461678.738428
9432,338,46,5.0,147.709302,NaN,0.0,6,0.0,1977,0.150818,B,B,16,3433,4,4,5,B,352168.955975
9699,4971,169,5.0,117.855969,76.561318,9.0,12,14.0,2001,0.178917,B,B,18,3594,4,1,5,B,608674.130507

In [73]:
data.loc[~(data['LifeSquare'] > 0)]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
7,11993,74,2.0,80.312926,NaN,0.0,14,0.0,1977,0.075779,B,B,6,1437,3,0,2,B,221244.156664
8,5172,1,2.0,64.511437,NaN,1.0,9,17.0,1977,0.007122,B,B,1,264,0,0,1,B,229102.795999
21,11935,27,2.0,64.711835,NaN,1.0,15,1.0,1977,0.211401,B,B,9,1892,0,0,1,B,127200.026511
23,6641,54,3.0,118.907612,NaN,0.0,2,0.0,1977,0.006076,B,B,30,5285,0,6,6,B,571069.052600
25,5073,74,2.0,82.667915,NaN,1.0,16,17.0,1977,0.075779,B,B,6,1437,3,0,2,B,244145.827069
27,7550,23,2.0,64.556209,NaN,1.0,8,17.0,1977,0.075779,B,B,6,1437,3,0,2,B,173910.923723
36,11703,23,1.0,41.118766,NaN,1.0,4,17.0,1977,0.075779,B,B,6,1437,3,0,2,B,103510.223601
39,9371,23,2.0,60.503248,NaN,0.0,16,0.0,1977,0.034656,B,B,0,168,0,0,0,B,229778.057902
43,175,23,2.0,58.692133,NaN,1.0,16,17.0,1977,0.075779,B,B,6,1437,3,0,2,B,184501.011225
46,1821,23,2.0,49.929489,NaN,1.0,9,12.0,1977,0.034656,B,B,0,168,0,0,0,B,88464.425395
54,16334,1,1.0,42.414176,NaN,1.0,14,17.0,1977,0.007122,B,B,1,264,0,0,1,B,156476.614348
57,3203,23,2.0,56.218702,NaN,1.0,3,3.0,1977,0.005767,B,B,1,388,0,0,0,B,90303.665683
61,4191,1,2.0,65.023899,NaN,1.0,10,17.0,1977,0.007122,B,B,1,264,0,0,1,B,197343.797985
63,7605,6,1.0,42.505532,NaN,1.0,6,12.0,2014,0.243205,B,B,5,1564,0,0,0,B,113617.219571
64,9723,52,2.0,64.141152,NaN,1.0,5,17.0,1977,0.371149,B,B,34,7065,1,2,5,B,158148.936484
65,11398,62,1.0,41.194188,NaN,0.0,6,0.0,1977,0.072158,B,B,2,629,1,0,0,A,114063.092041
70,10362,27,2.0,79.227049,NaN,0.0,9,0.0,1977,0.072158,B,B,2,629,1,0,0,A,167023.973143
86,9613,148,3.0,127.481583,NaN,1.0,16,1.0,2012,0.313925,B,B,22,4625,11,2,10,B,510700.444735
98,9753,23,1.0,41.845698,NaN,1.0,14,17.0,1977,0.075779,B,B,6,1437,3,0,2,B,110620.629320
103,11765,23,2.0,48.760132,NaN,1.0,3,3.0,1977,0.034656,B,B,0,168,0,0,0,B,113250.426500
104,2930,9,2.0,62.347154,NaN,1.0,6,1.0,1977,0.161532,B,B,25,5648,1,2,4,B,184172.975639
115,12377,27,2.0,60.445855,NaN,1.0,13,1.0,1977,0.072158,B,B,2,629,1,0,0,A,213798.185151
117,3975,1,2.0,65.009279,NaN,1.0,9,17.0,1977,0.007122,B,B,1,264,0,0,1,B,186403.484189
125,8691,1,2.0,55.233213,NaN,1.0,13,17.0,1977,0.007122,B,B,1,264,0,0,1,B,184324.900886
139,9742,1,2.0,63.672611,NaN,1.0,11,17.0,1977,0.007122,B,B,1,264,0,0,1,B,194510.147890
143,5460,74,1.0,50.145176,NaN,1.0,8,12.0,1977,0.075779,B,B,6,1437,3,0,2,B,171901.087408
146,9892,62,2.0,71.304763,NaN,1.0,13,20.0,1977,0.072158,B,B,2,629,1,0,0,A,170564.408720
152,14141,23,2.0,57.699619,NaN,10.0,2,1.0,1977,0.034656,B,B,0,168,0,0,0,B,114168.532703
167,7023,1,2.0,71.005575,NaN,0.0,11,9.0,1977,0.007122,B,B,1,264,0,0,1,B,245130.106637
173,5790,27,1.0,47.177184,NaN,1.0,5,4.0,1977,0.075424,B,B,11,3097,0,0,0,B,109264.474145
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9870,309,27,1.0,37.551366,NaN,1.0,11,1.0,1977,0.211401,B,B,9,1892,0,0,1,B,112877.827651
9873,55,1,2.0,65.825598,NaN,1.0,16,17.0,1977,0.007122,B,B,1,264,0,0,1,B,223995.669369
9880,13740,23,1.0,42.856166,NaN,1.0,13,17.0,1977,0.075779,B,B,6,1437,3,0,2,B,131936.583518
9886,14495,27,2.0,76.370258,NaN,1.0,10,12.0,1977,0.072158,B,B,2,629,1,0,0,A,181589.844931
9893,1913,52,2.0,62.023753,NaN,1.0,11,17.0,2016,0.371149,B,B,34,7065,1,2,5,B,183213.528975
9908,3171,62,1.0,35.873961,NaN,0.0,25,0.0,1977,0.072158,B,B,2,629,1,0,0,A,134379.130962
9914,11428,1,2.0,69.407574,NaN,1.0,15,25.0,1977,0.007122,B,B,1,264,0,0,1,B,221718.598852
9917,1901,94,1.0,45.822669,NaN,1.0,7,1.0,1977,0.282798,B,B,33,8667,2,0,6,B,229936.748542
9923,16273,30,2.0,63.905356,NaN,1.0,6,25.0,1977,0.000078,B,B,22,6398,141,3,23,B,189417.357268
9926,10680,1,1.0,41.657661,NaN,1.0,2,22.0,1977,0.007122,B,B,1,264,0,0,1,B,120424.535875
9931,13355,27,2.0,64.261856,NaN,1.0,10,1.0,1977,0.072158,B,B,2,629,1,0,0,A,223719.779293
9936,15173,30,2.0,62.341347,NaN,1.0,19,21.0,1977,0.000078,B,B,22,6398,141,3,23,B,174256.265798
9942,9369,1,2.0,56.323990,NaN,1.0,18,17.0,1977,0.007122,B,B,1,264,0,0,1,B,183882.806975
9944,16160,27,2.0,60.396765,NaN,0.0,10,0.0,1977,0.072158,B,B,2,629,1,0,0,A,211810.600728
9946,4470,62,3.0,89.915337,NaN,0.0,13,15.0,1977,0.072158,B,B,2,629,1,0,0,A,191229.098911
9948,8438,1,2.0,66.736039,NaN,0.0,16,17.0,1977,0.007122,B,B,1,264,0,0,1,B,199237.847364
9953,5365,1,2.0,61.049491,NaN,0.0,11,17.0,1977,0.007122,B,B,1,264,0,0,1,B,190085.168584
9960,9307,1,2.0,57.376642,NaN,0.0,8,25.0,2016,0.007122,B,B,1,264,0,0,1,B,104450.496477
9961,1579,23,1.0,27.331108,NaN,1.0,10,12.0,1977,0.034656,B,B,0,168,0,0,0,B,60825.032060
9963,15035,1,2.0,66.547650,NaN,1.0,13,17.0,1977,0.007122,B,B,1,264,0,0,1,B,184050.533213
9965,6612,27,2.0,59.460685,NaN,0.0,15,19.0,1977,0.211401,B,B,9,1892,0,0,1,B,135784.320930
9972,6097,6,3.0,82.147338,NaN,1.0,17,17.0,1977,0.243205,B,B,5,1564,0,0,0,B,222068.370598
9975,5071,27,2.0,60.055527,NaN,12.0,16,15.0,1977,0.072158,B,B,2,629,1,0,0,A,190325.071232
9976,3621,22,2.0,58.853794,NaN,1.0,10,17.0,1977,0.118537,B,B,30,6207,1,1,0,B,175229.645872
9978,13725,1,2.0,67.510526,NaN,1.0,10,17.0,1977,0.007122,B,B,1,264,0,0,1,B,185996.664227
9985,16159,27,1.0,38.968338,NaN,1.0,10,1.0,1977,0.211401,B,B,9,1892,0,0,1,B,95529.569405
9986,2996,1,2.0,64.994245,NaN,1.0,9,22.0,1977,0.007122,B,B,1,264,0,0,1,B,200332.511658
9987,15623,23,2.0,55.620092,NaN,0.0,2,4.0,1977,0.034656,B,B,0,168,0,0,0,B,115797.553006
9994,4158,23,2.0,64.864198,NaN,1.0,17,17.0,1977,0.075779,B,B,6,1437,3,0,2,B,171323.515653
9997,5123,27,1.0,47.939008,NaN,1.0,12,16.0,2015,0.072158,B,B,2,629,1,0,0,A,159143.805370

In [75]:
data.loc[~(data['LifeSquare'] > 0), 'KitchenSquare'].sort_values()

7        0.0
7754     0.0
2856     0.0
7745     0.0
7720     0.0
7699     0.0
2903     0.0
7698     0.0
7697     0.0
2911     0.0
2915     0.0
7691     0.0
7684     0.0
3036     0.0
3037     0.0
7579     0.0
3058     0.0
3063     0.0
7787     0.0
7556     0.0
2822     0.0
2801     0.0
2655     0.0
2660     0.0
2663     0.0
7865     0.0
7855     0.0
2716     0.0
7850     0.0
2730     0.0
        ...
6671    10.0
4305    10.0
3644    11.0
2566    11.0
8470    11.0
2653    11.0
9008    11.0
4030    11.0
9975    12.0
6834    12.0
5603    12.0
5856    12.0
8667    12.0
448     12.0
4397    12.0
638     12.0
5730    12.0
3517    12.0
9109    12.0
5337    13.0
9458    13.0
9711    14.0
8042    14.0
7069    14.0
9275    14.0
2807    15.0
843     15.0
754     15.0
9501    20.0
5888    62.0
Name: KitchenSquare, Length: 2113, dtype: float64

In [76]:
data.loc[5888]

Id                  16593
DistrictId             52
Rooms                   2
Square            64.8592
LifeSquare            NaN
KitchenSquare          62
Floor                  15
HouseFloor             17
HouseYear            1977
Ecology_1        0.371149
Ecology_2               B
Ecology_3               B
Social_1               34
Social_2             7065
Social_3                1
Helthcare_2             2
Shops_1                 5
Shops_2                 B
Price              185993
Name: 5888, dtype: object

In [80]:
data.loc[5888, 'KitchenSquare'] = 12
data.loc[5888, 'LifeSquare'] = data.loc[5888, 'Square'] - data.loc[5888, 'KitchenSquare']
data.loc[5888]

Id                  16593
DistrictId             52
Rooms                   2
Square            64.8592
LifeSquare        52.8592
KitchenSquare          12
Floor                  15
HouseFloor             17
HouseYear            1977
Ecology_1        0.371149
Ecology_2               B
Ecology_3               B
Social_1               34
Social_2             7065
Social_3                1
Helthcare_2             2
Shops_1                 5
Shops_2                 B
Price              185993
Name: 5888, dtype: object

In [81]:
data.loc[9501]

Id                    9356
DistrictId              27
Rooms                    2
Square             76.1327
LifeSquare             NaN
KitchenSquare           20
Floor                    5
HouseFloor              12
HouseYear             1977
Ecology_1        0.0721576
Ecology_2                B
Ecology_3                B
Social_1                 2
Social_2               629
Social_3                 1
Helthcare_2              0
Shops_1                  0
Shops_2                  A
Price               188251
Name: 9501, dtype: object

In [85]:
index_ls = data.loc[~(data['LifeSquare'] > 0)].index

In [88]:
data.loc[index_ls, 'LifeSquare'] =  data.loc[index_ls, 'Square'] - data.loc[index_ls, 'KitchenSquare']
data.loc[index_ls, 'LifeSquare']

7        80.312926
8        63.511437
21       63.711835
23      118.907612
25       81.667915
27       63.556209
36       40.118766
39       60.503248
43       57.692133
46       48.929489
54       41.414176
57       55.218702
61       64.023899
63       41.505532
64       63.141152
65       41.194188
70       79.227049
86      126.481583
98       40.845698
103      47.760132
104      61.347154
115      59.445855
117      64.009279
125      54.233213
139      62.672611
143      49.145176
146      70.304763
152      47.699619
167      71.005575
173      46.177184
           ...
9870     36.551366
9873     64.825598
9880     41.856166
9886     75.370258
9893     61.023753
9908     35.873961
9914     68.407574
9917     44.822669
9923     62.905356
9926     40.657661
9931     63.261856
9936     61.341347
9942     55.323990
9944     60.396765
9946     89.915337
9948     66.736039
9953     61.049491
9960     57.376642
9961     26.331108
9963     65.547650
9965     59.460685
9972     81.147338
9975     48.055527
9976     57.853794
9978     66.510526
9985     37.968338
9986     63.994245
9987     55.620092
9994     63.864198
9997     46.939008
Name: LifeSquare, Length: 2112, dtype: float64

In [90]:
(data['Square'] - data['LifeSquare'] + data['KitchenSquare']).sort_values()

4328   -7397.897712
8437    -373.404284
590     -210.092147
6332    -124.754376
8030     -74.944285
212      -61.131656
3280     -35.425111
4638      -6.283679
2299      -4.445431
52        -3.824548
9793      -3.786314
5600      -3.755149
3183      -3.745956
1993      -3.726412
2458      -3.472801
1509      -3.427498
9626      -3.396516
7408      -3.390071
4495      -3.375111
9028      -3.299623
9465      -3.204840
9369      -3.191219
2754      -3.179045
2651      -3.175624
4222      -3.169729
7934      -3.153413
9484      -3.110364
2006      -3.087884
8545      -3.070658
236       -2.987205
           ...
6765      88.373377
3431      91.282630
5149      91.348144
3468      92.826306
682       93.251498
6451      94.098730
2916      94.167116
4079      96.186895
4487      97.396767
8487      97.595898
652      102.481525
7088     103.503403
751      103.995239
5494     104.197271
4514     104.447711
6240     106.298918
26       106.317049
227      106.991024
3547     108.380007
2969     114.145390
4651     115.296040
6036     116.202531
9813     117.686747
9895     120.623091
9828     123.329738
1918     126.041526
7201     131.205522
5087     132.076322
8584    1982.998269
1064    2014.652759
Length: 10000, dtype: float64

In [123]:
data[['Square', 'LifeSquare', 'KitchenSquare', 'Price']].sort_values('KitchenSquare')

          Square  LifeSquare  KitchenSquare          Price
8798   45.433571   45.433571            0.0  119737.301527
9098   59.751890   59.751890            0.0  137243.726294
760    62.162124   60.956976            0.0  166599.052000
8192   64.432172   64.312030            0.0  207032.139195
3317   37.650235   38.623933            0.0   89669.983398
8188   65.224533   65.224533            0.0  173654.551775
766    47.485585   47.485585            0.0  126602.673982
9593   56.560809   56.560809            0.0  153997.912192
5017   55.536046   53.846880            0.0  180413.538145
1711   50.981283   50.981283            0.0  152893.129681
7324   32.123837   32.123837            0.0  178319.045661
8166   62.041696   62.041696            0.0  170985.266697
5056   38.936986    3.064320            0.0   93560.789553
779    39.659272   39.659272            0.0  136537.147348
9113   34.243067   34.243067            0.0  113310.327746
1705   81.277015   81.277015            0.0  241964.719469
8162   56.621217   47.732147            0.0  109034.451314
1703   63.600347   49.883184            0.0  316834.531154
4997   60.818314    2.967345            0.0  125107.864952
9578   54.861381   54.861381            0.0  171999.571369
9122   43.067590   43.067590            0.0  126401.276372
1694   39.944587   39.944587            0.0  163817.769126
1693   86.631174   86.631174            0.0  315753.038275
4964   64.784044   64.784044            0.0  184374.328532
8146   61.521269   61.521269            0.0  178145.897452
8165   43.899937   43.899937            0.0  130466.496752
8143  125.017368  125.017368            0.0  627525.072788
3302   51.767888   48.262542            0.0  103450.230168
9604   47.671275   47.671275            0.0  143413.341742
5152   39.728069   39.728069            0.0   91331.036926
...          ...         ...            ...            ...
5480   35.813564   19.953992           35.0  164306.314182
3379   36.138409   36.710539           36.0  131742.536281
5849   42.983283   24.224435           37.0  198450.736353
1077   40.081042   37.834964           37.0   93218.650461
9111   42.069359   22.487739           39.0  200021.835127
5816   43.292516   42.835643           40.0  117296.173704
4588   41.186904    1.626502           41.0  216882.265408
4142   42.357487   44.779714           41.0  194525.103119
3431  139.070296   89.787666           42.0  153946.777452
7480   46.013187   43.417043           43.0  113909.099428
1867  138.980817  138.004600           43.0  169528.896664
551    48.128114   45.023531           48.0  146950.912410
5904   54.418214   51.498581           51.0  133273.635012
9889   51.440463   53.134243           51.0   88150.012510
1860   53.216778   32.644859           53.0  261125.669724
8232   56.738764   57.510395           54.0  244220.621495
5162   61.070298   59.845092           58.0  212188.959537
6036   60.603363    2.400832           58.0  261733.472106
4110   66.787523   64.616662           60.0  179466.094235
4079   67.146049   33.959154           63.0  193130.585871
1369   68.841073   64.234956           66.0  189244.249909
227    79.722243   44.731219           72.0  370148.625285
5149   38.071692   19.723548           73.0  160488.033165
6240   78.445675   47.146757           75.0  290354.484070
1455   79.810535   79.578961           78.0  438708.707579
7088   38.220258   18.716856           84.0   99079.960518
2916   97.490674   99.323558           96.0  445074.956552
4651  116.405693  113.109653          112.0  296165.936689
2969  114.734473  112.589083          112.0  315245.521059
9895  123.430072  125.806981          123.0  234194.837047

[10000 rows x 4 columns]

In [93]:
data.loc[6977]

Id                     11602
DistrictId                30
Rooms                      2
Square               641.065
LifeSquare           638.163
KitchenSquare             10
Floor                     20
HouseFloor                19
HouseYear               2019
Ecology_1        7.81528e-05
Ecology_2                  B
Ecology_3                  B
Social_1                  22
Social_2                6398
Social_3                 141
Helthcare_2                3
Shops_1                   23
Shops_2                    B
Price                 133530
Name: 6977, dtype: object

In [99]:
data.loc[6977, 'Square'] = 64.1065
data.loc[6977, 'LifeSquare'] = 63.8163
data.loc[6977]

Id                     11602
DistrictId                30
Rooms                      2
Square               64.1065
LifeSquare           63.8163
KitchenSquare             10
Floor                     20
HouseFloor                19
HouseYear               2019
Ecology_1        7.81528e-05
Ecology_2                  B
Ecology_3                  B
Social_1                  22
Social_2                6398
Social_3                 141
Helthcare_2                3
Shops_1                   23
Shops_2                    B
Price                 133530
Name: 6977, dtype: object

In [100]:
data.loc[4262]

Id                     28
DistrictId              9
Rooms                   2
Square            604.706
LifeSquare        603.706
KitchenSquare           1
Floor                  17
HouseFloor             18
HouseYear            1977
Ecology_1        0.161532
Ecology_2               B
Ecology_3               B
Social_1               25
Social_2             5648
Social_3                1
Helthcare_2             2
Shops_1                 4
Shops_2                 B
Price              187717
Name: 4262, dtype: object

In [101]:
data.loc[4262, 'Square'] = 60.4706
data.loc[4262, 'LifeSquare'] = 60.3706
data.loc[4262]

Id                     28
DistrictId              9
Rooms                   2
Square            60.4706
LifeSquare        60.3706
KitchenSquare           1
Floor                  17
HouseFloor             18
HouseYear            1977
Ecology_1        0.161532
Ecology_2               B
Ecology_3               B
Social_1               25
Social_2             5648
Social_3                1
Helthcare_2             2
Shops_1                 4
Shops_2                 B
Price              187717
Name: 4262, dtype: object

In [104]:
data.loc[4690]

Id                   2307
DistrictId            102
Rooms                   1
Square            409.425
LifeSquare         410.64
KitchenSquare          10
Floor                   4
HouseFloor              4
HouseYear            2016
Ecology_1        0.238617
Ecology_2               B
Ecology_3               B
Social_1               26
Social_2             3889
Social_3                6
Helthcare_2             3
Shops_1                 6
Shops_2                 B
Price             90470.4
Name: 4690, dtype: object

In [105]:
data.loc[4690, 'Square'] = 40.9425
data.loc[4690, 'LifeSquare'] = 41.064
data.loc[4690]

Id                   2307
DistrictId            102
Rooms                   1
Square            40.9425
LifeSquare         41.064
KitchenSquare          10
Floor                   4
HouseFloor              4
HouseYear            2016
Ecology_1        0.238617
Ecology_2               B
Ecology_3               B
Social_1               26
Social_2             3889
Social_3                6
Helthcare_2             3
Shops_1                 6
Shops_2                 B
Price             90470.4
Name: 4690, dtype: object

In [107]:
data.loc[4328]

Id                   16550
DistrictId              27
Rooms                    3
Square             81.6944
LifeSquare         7480.59
KitchenSquare            1
Floor                    9
HouseFloor              17
HouseYear             2016
Ecology_1        0.0176471
Ecology_2                B
Ecology_3                B
Social_1                 2
Social_2               469
Social_3                 0
Helthcare_2              0
Shops_1                  0
Shops_2                  B
Price               217357
Name: 4328, dtype: object

In [108]:
data.loc[4328, 'LifeSquare'] = 74.8059
data.loc[4328]

Id                   16550
DistrictId              27
Rooms                    3
Square             81.6944
LifeSquare         74.8059
KitchenSquare            1
Floor                    9
HouseFloor              17
HouseYear             2016
Ecology_1        0.0176471
Ecology_2                B
Ecology_3                B
Social_1                 2
Social_2               469
Social_3                 0
Helthcare_2              0
Shops_1                  0
Shops_2                  B
Price               217357
Name: 4328, dtype: object

In [109]:
data.loc[6609]

Id                    13491
DistrictId                0
Rooms                     1
Square              38.1783
LifeSquare         0.370619
KitchenSquare             0
Floor                    19
HouseFloor               17
HouseYear              2016
Ecology_1        0.00607615
Ecology_2                 B
Ecology_3                 B
Social_1                 30
Social_2               5285
Social_3                  0
Helthcare_2               6
Shops_1                   6
Shops_2                   B
Price                105134
Name: 6609, dtype: object

In [110]:
data.loc[6609, 'LifeSquare'] = 37.0619
data.loc[6609]

Id                    13491
DistrictId                0
Rooms                     1
Square              38.1783
LifeSquare          37.0619
KitchenSquare             0
Floor                    19
HouseFloor               17
HouseYear              2016
Ecology_1        0.00607615
Ecology_2                 B
Ecology_3                 B
Social_1                 30
Social_2               5285
Social_3                  0
Helthcare_2               6
Shops_1                   6
Shops_2                   B
Price                105134
Name: 6609, dtype: object

In [114]:
data.loc[1064]

Id                   14656
DistrictId              62
Rooms                    1
Square             47.1007
LifeSquare          46.448
KitchenSquare         2014
Floor                    4
HouseFloor               1
HouseYear             2014
Ecology_1        0.0721576
Ecology_2                B
Ecology_3                B
Social_1                 2
Social_2               629
Social_3                 1
Helthcare_2              0
Shops_1                  0
Shops_2                  A
Price               108337
Name: 1064, dtype: object

In [118]:
data.loc[1064, 'KitchenSquare'] = data.loc[1064, 'Square'] - data.loc[1064, 'LifeSquare']
data.loc[1064]

Id                   14656
DistrictId              62
Rooms                    1
Square             47.1007
LifeSquare          46.448
KitchenSquare     0.652759
Floor                    4
HouseFloor               1
HouseYear             2014
Ecology_1        0.0721576
Ecology_2                B
Ecology_3                B
Social_1                 2
Social_2               629
Social_3                 1
Helthcare_2              0
Shops_1                  0
Shops_2                  A
Price               108337
Name: 1064, dtype: object

In [119]:
data.loc[8584]

Id                    14679
DistrictId               81
Rooms                     1
Square              32.2767
LifeSquare          19.2784
KitchenSquare          1970
Floor                     6
HouseFloor                1
HouseYear              1977
Ecology_1        0.00607615
Ecology_2                 B
Ecology_3                 B
Social_1                 30
Social_2               5285
Social_3                  0
Helthcare_2               6
Shops_1                   6
Shops_2                   B
Price                105540
Name: 8584, dtype: object

In [120]:
data.loc[8584, 'KitchenSquare'] = data.loc[8584, 'Square'] - data.loc[8584, 'LifeSquare']
data.loc[8584]

Id                    14679
DistrictId               81
Rooms                     1
Square              32.2767
LifeSquare          19.2784
KitchenSquare       12.9983
Floor                     6
HouseFloor                1
HouseYear              1977
Ecology_1        0.00607615
Ecology_2                 B
Ecology_3                 B
Social_1                 30
Social_2               5285
Social_3                  0
Helthcare_2               6
Shops_1                   6
Shops_2                   B
Price                105540
Name: 8584, dtype: object

In [122]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.887100,56.166808,40.918839,5.871265,8.526700,12.609400,1984.866300,0.118858,24.687000,5352.157400,8.039200,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.813031,19.150372,20.993882,5.144602,5.241148,6.775974,18.412271,0.119025,17.532614,4006.799803,23.831875,1.493601,4.806341,92872.293865
min,0.00000,0.000000,0.000000,1.136859,0.641822,0.000000,1.000000,0.000000,1910.000000,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.773051,25.506959,1.000000,4.000000,9.000000,1974.000000,0.017647,6.000000,1564.000000,0.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.509275,37.060604,6.000000,7.000000,13.000000,1977.000000,0.075424,25.000000,5285.000000,2.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.889736,49.823229,9.000000,12.000000,17.000000,2001.000000,0.195781,36.000000,7227.000000,5.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,5.000000,275.645284,461.463614,123.000000,42.000000,117.000000,2020.000000,0.521867,74.000000,19083.000000,141.000000,6.000000,23.000000,633233.466570

In [124]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
Id               10000 non-null int64
DistrictId       10000 non-null int64
Rooms            10000 non-null float64
Square           10000 non-null float64
LifeSquare       10000 non-null float64
KitchenSquare    10000 non-null float64
Floor            10000 non-null int64
HouseFloor       10000 non-null float64
HouseYear        10000 non-null int64
Ecology_1        10000 non-null float64
Ecology_2        10000 non-null object
Ecology_3        10000 non-null object
Social_1         10000 non-null int64
Social_2         10000 non-null int64
Social_3         10000 non-null int64
Helthcare_2      10000 non-null int64
Shops_1          10000 non-null int64
Shops_2          10000 non-null object
Price            10000 non-null float64
dtypes: float64(7), int64(9), object(3)
memory usage: 1.4+ MB

In [125]:
data['Rooms'].sort_values()

3911    0.0
4853    0.0
8834    0.0
1981    0.0
6149    0.0
2269    0.0
1397    0.0
4366    0.0
5141    1.0
5139    1.0
5135    1.0
5134    1.0
5133    1.0
4999    1.0
5129    1.0
5142    1.0
5125    1.0
5123    1.0
5119    1.0
5111    1.0
5109    1.0
5107    1.0
5131    1.0
5126    1.0
5148    1.0
5104    1.0
5182    1.0
5180    1.0
5176    1.0
5175    1.0
       ...
1145    4.0
1644    4.0
505     4.0
5642    4.0
6958    4.0
1835    4.0
5650    4.0
8174    4.0
77      4.0
4129    4.0
2902    4.0
9350    4.0
1982    5.0
5466    5.0
6623    5.0
5361    5.0
4762    5.0
8925    5.0
3268    5.0
4487    5.0
4431    5.0
8511    5.0
1422    5.0
9699    5.0
6988    5.0
9432    5.0
8726    5.0
3271    5.0
8659    5.0
1503    5.0
Name: Rooms, Length: 10000, dtype: float64

In [126]:
index_r = [3911, 4853, 8834, 1981, 6149, 2269, 1397, 4366]

In [128]:
data.loc[index_r]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
3911,770,28,0.0,49.483501,49.483501,0.0,16,0.0,2015,0.118537,B,B,30,6207,1,1,0,B,217009.338463
4853,3224,27,0.0,2.377248,0.873147,0.0,1,0.0,1977,0.017647,B,B,2,469,0,0,0,B,126596.941798
8834,9443,27,0.0,87.762616,85.125471,0.0,5,15.0,1977,0.211401,B,B,9,1892,0,0,1,B,219281.918007
1981,7917,27,0.0,212.932361,211.231125,0.0,2,3.0,2008,0.211401,B,B,9,1892,0,0,1,B,302211.260887
6149,3159,88,0.0,38.697117,19.345131,9.0,9,16.0,1982,0.127376,B,B,43,8429,3,3,9,B,158998.110646
2269,7317,27,0.0,41.790881,41.790881,0.0,13,0.0,1977,0.211401,B,B,9,1892,0,0,1,B,98129.976788
1397,12638,27,0.0,138.427694,136.215499,0.0,4,3.0,2016,0.075424,B,B,11,3097,0,0,0,B,268394.744389
4366,456,6,0.0,81.491446,81.491446,0.0,4,0.0,1977,0.243205,B,B,5,1564,0,0,0,B,212864.799112

In [129]:
data.Ecology_2.unique()

array(['B', 'A'], dtype=object)

In [130]:
data.Ecology_3.unique()

array(['B', 'A'], dtype=object)

In [131]:
data.Shops_2.unique()

array(['B', 'A'], dtype=object)

In [132]:
data.DistrictId.nunique()

205

In [134]:
data.loc[data['Square']<15]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
212,1748,88,2.0,5.497061,67.628717,1.0,24,22.0,1977,0.127376,B,B,43,8429,3,3,9,B,412511.088764
1316,11526,27,1.0,4.633498,1.969969,1.0,18,1.0,1977,0.011654,B,B,4,915,0,0,0,B,107604.269441
1608,10202,6,1.0,2.596351,4.604943,1.0,3,25.0,2014,0.243205,B,B,5,1564,0,0,0,B,137597.601458
3280,10527,27,1.0,4.380726,40.805837,1.0,10,17.0,2013,0.211401,B,B,9,1892,0,0,1,B,97560.720383
3413,9487,5,1.0,5.129222,5.549458,1.0,1,1.0,1977,0.150818,B,B,16,3433,4,4,5,B,369472.403061
4739,12676,81,3.0,13.784865,15.988889,7.0,4,5.0,1960,0.319809,B,B,25,4756,16,5,8,B,78388.806186
4853,3224,27,0.0,2.377248,0.873147,0.0,1,0.0,1977,0.017647,B,B,2,469,0,0,0,B,126596.941798
4900,4504,27,3.0,4.390331,5.610772,1.0,8,19.0,2016,0.211401,B,B,9,1892,0,0,1,B,161379.067034
6392,14786,1,1.0,1.136859,4.525736,1.0,3,1.0,1977,0.007122,B,B,1,264,0,0,1,B,181434.825589
8030,13265,1,3.0,4.823679,79.767964,0.0,6,17.0,1977,0.007122,B,B,1,264,0,0,1,B,237716.681261
8283,15744,34,1.0,1.988943,2.642219,1.0,21,4.0,1977,0.069753,B,B,53,13670,4,1,11,B,458378.777006
9294,6782,45,1.0,2.954309,5.257278,1.0,3,1.0,1977,0.195781,B,B,23,5212,6,3,2,B,438005.182323
9613,7657,38,1.0,4.502784,4.618547,1.0,28,1.0,1977,0.060753,B,B,15,2787,2,0,7,B,483283.488083

In [135]:
data.loc[data['Square']<15].index

Int64Index([212, 1316, 1608, 3280, 3413, 4739, 4853, 4900, 6392, 8030, 8283,
            9294, 9613],
           dtype='int64')

In [136]:
data = data.drop(data.loc[data['Square']<15].index, axis=0)

In [139]:
data.loc[data['Square']<17]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
5617,15877,57,3.0,16.547242,16.698571,8.0,5,5.0,1962,0.133215,B,B,49,11395,3,3,4,A,77835.185808
7767,6927,21,1.0,16.117154,8.822988,0.0,2,5.0,1965,0.194489,B,B,47,8004,3,3,5,B,79913.267856

In [141]:
data.loc[data['Floor']==0]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

In [144]:
data = data.reset_index(drop=True)

In [145]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Price
count,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000
mean,8382.091619,50.425653,1.887654,56.234092,40.948087,5.877205,8.524782,12.614399,1984.867027,0.118849,24.698508,5354.563633,8.046160,1.319616,4.232202,214088.179046
std,4859.654766,43.599980,0.812724,19.071438,20.971357,5.144954,5.234063,6.770878,18.413963,0.119047,17.531875,4006.621732,23.846091,1.493218,4.807474,92767.166444
min,0.000000,0.000000,0.000000,16.117154,0.641822,0.000000,1.000000,0.000000,1910.000000,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,59174.778028
25%,4167.500000,20.000000,1.000000,41.786338,25.579694,1.000000,4.000000,9.000000,1974.000000,0.017647,6.000000,1564.000000,0.000000,0.000000,1.000000,153903.011790
50%,8393.000000,36.000000,2.000000,52.539711,37.077163,6.000000,7.000000,13.000000,1977.000000,0.075424,25.000000,5285.000000,2.000000,1.000000,3.000000,192277.326489
75%,12591.500000,75.000000,2.000000,65.901823,49.837429,9.000000,12.000000,17.000000,2001.000000,0.195781,36.000000,7227.000000,5.000000,2.000000,6.000000,249105.358586
max,16798.000000,209.000000,5.000000,275.645284,461.463614,123.000000,42.000000,117.000000,2020.000000,0.521867,74.000000,19083.000000,141.000000,6.000000,23.000000,633233.466570

In [147]:
data.to_csv("train_cor.csv", sep=",", index=False)

In [111]:
data = pd.read_csv("train_cor.csv", sep=",")

In [112]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Price
count,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000
mean,8382.091619,50.425653,1.887654,56.234092,40.948087,5.877205,8.524782,12.614399,1984.867027,0.118849,24.698508,5354.563633,8.046160,1.319616,4.232202,214088.179046
std,4859.654766,43.599980,0.812724,19.071438,20.971357,5.144954,5.234063,6.770878,18.413963,0.119047,17.531875,4006.621732,23.846091,1.493218,4.807474,92767.166444
min,0.000000,0.000000,0.000000,16.117154,0.641822,0.000000,1.000000,0.000000,1910.000000,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,59174.778028
25%,4167.500000,20.000000,1.000000,41.786338,25.579694,1.000000,4.000000,9.000000,1974.000000,0.017647,6.000000,1564.000000,0.000000,0.000000,1.000000,153903.011790
50%,8393.000000,36.000000,2.000000,52.539711,37.077163,6.000000,7.000000,13.000000,1977.000000,0.075424,25.000000,5285.000000,2.000000,1.000000,3.000000,192277.326489
75%,12591.500000,75.000000,2.000000,65.901823,49.837429,9.000000,12.000000,17.000000,2001.000000,0.195781,36.000000,7227.000000,5.000000,2.000000,6.000000,249105.358586
max,16798.000000,209.000000,5.000000,275.645284,461.463614,123.000000,42.000000,117.000000,2020.000000,0.521867,74.000000,19083.000000,141.000000,6.000000,23.000000,633233.466570

In [113]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9987 entries, 0 to 9986
Data columns (total 19 columns):
Id               9987 non-null int64
DistrictId       9987 non-null int64
Rooms            9987 non-null float64
Square           9987 non-null float64
LifeSquare       9987 non-null float64
KitchenSquare    9987 non-null float64
Floor            9987 non-null int64
HouseFloor       9987 non-null float64
HouseYear        9987 non-null int64
Ecology_1        9987 non-null float64
Ecology_2        9987 non-null object
Ecology_3        9987 non-null object
Social_1         9987 non-null int64
Social_2         9987 non-null int64
Social_3         9987 non-null int64
Helthcare_2      9987 non-null int64
Shops_1          9987 non-null int64
Shops_2          9987 non-null object
Price            9987 non-null float64
dtypes: float64(7), int64(9), object(3)
memory usage: 1.4+ MB

In [114]:
print(data.index)

RangeIndex(start=0, stop=9987, step=1)

In [115]:
data.index

RangeIndex(start=0, stop=9987, step=1)

In [116]:
data.index[99]

99

In [117]:
data.iloc[data.index[99]]

Id                  13577
DistrictId             61
Rooms                   1
Square            33.6467
LifeSquare        21.4236
KitchenSquare           5
Floor                   8
HouseFloor              9
HouseYear            1975
Ecology_1        0.300323
Ecology_2               B
Ecology_3               B
Social_1               52
Social_2            10311
Social_3                6
Helthcare_2             1
Shops_1                 9
Shops_2                 B
Price              165019
Name: 99, dtype: object

In [118]:
data.query('HouseYear>2019')

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
584,15051,53,2.0,59.597891,44.869530,10.0,3,24.0,2020,0.049637,B,B,34,7759,0,1,3,B,243114.222804
706,4345,62,1.0,49.275155,1.377284,1.0,5,1.0,2020,0.072158,B,B,2,629,1,0,0,A,135353.885620
789,6845,169,3.0,87.371123,64.905206,12.0,4,24.0,2020,0.178917,B,B,18,3594,4,1,5,B,295304.011974
917,2530,53,2.0,64.233072,47.405440,13.0,13,24.0,2020,0.049637,B,B,34,7759,0,1,3,B,283334.496716
1497,6731,120,2.0,85.087643,77.976325,10.0,7,10.0,2020,0.341072,B,B,27,5664,48,3,11,B,536020.260344
2490,3445,53,1.0,35.672788,21.391266,8.0,4,24.0,2020,0.049637,B,B,34,7759,0,1,3,B,170847.416766
2874,8832,1,3.0,83.260743,79.438325,1.0,15,21.0,2020,0.007122,B,B,1,264,0,0,1,B,242243.090839
3353,9600,62,1.0,55.911215,43.821379,10.0,6,17.0,2020,0.072158,B,B,2,629,1,0,0,A,138770.715048
3480,7026,62,1.0,44.019287,46.759316,1.0,7,12.0,2020,0.072158,B,B,2,629,1,0,0,A,135588.215289
3854,3511,59,1.0,48.327498,48.028007,1.0,3,10.0,2020,0.019509,B,B,37,7687,11,5,5,B,227402.467599
4048,8433,45,2.0,82.880909,84.512719,1.0,19,22.0,2020,0.195781,B,B,23,5212,6,3,2,B,441850.464440
4371,6915,53,3.0,77.214218,56.678434,12.0,6,24.0,2020,0.049637,B,B,34,7759,0,1,3,B,338025.692848
4488,14664,53,2.0,60.363889,43.142077,12.0,14,24.0,2020,0.049637,B,B,34,7759,0,1,3,B,266202.142371
5693,8892,62,1.0,49.298503,51.135512,9.0,9,12.0,2020,0.072158,B,B,2,629,1,0,0,A,151779.182589
6726,12191,74,1.0,42.799882,19.819576,13.0,3,1.0,2020,0.075779,B,B,6,1437,3,0,2,B,162260.682278
7067,14318,53,2.0,57.815313,37.287063,8.0,6,24.0,2020,0.049637,B,B,34,7759,0,1,3,B,251249.365740
7450,2731,53,1.0,38.004250,24.259307,8.0,4,24.0,2020,0.049637,B,B,34,7759,0,1,3,B,167829.123917
8243,13914,23,3.0,74.222388,44.992259,13.0,5,3.0,2020,0.005767,B,B,1,388,0,0,0,B,106209.372321
9661,9303,53,2.0,57.126663,40.265100,10.0,11,24.0,2020,0.049637,B,B,34,7759,0,1,3,B,263206.223152

In [119]:
data.query('HouseYear>2019')['HouseYear']

584     2020
706     2020
789     2020
917     2020
1497    2020
2490    2020
2874    2020
3353    2020
3480    2020
3854    2020
4048    2020
4371    2020
4488    2020
5693    2020
6726    2020
7067    2020
7450    2020
8243    2020
9661    2020
Name: HouseYear, dtype: int64

In [120]:
data.groupby('DistrictId')['Price'].mean().sort_values()

DistrictId
23     126840.385894
158    129080.871245
209    140048.802277
27     156201.132531
58     162287.311374
6      166183.085443
102    166626.871465
71     170461.864550
30     170530.981705
93     171399.422402
52     171615.244096
126    172222.183440
62     172723.864986
91     173842.177369
187    178225.923726
3      179905.016194
165    180697.295249
99     184157.448198
29     187635.428254
1      187738.416040
112    188030.213095
22     190502.442094
9      190928.366421
192    192635.435802
39     192691.303929
127    193240.033720
0      195295.590075
119    196139.136950
42     196449.076526
21     197098.993201
           ...
104    337688.412275
188    338159.777273
56     338873.083107
54     340906.320122
123    341699.236270
17     346919.231898
155    349090.466659
172    349286.475174
82     361072.935366
73     364765.373566
157    368792.618321
133    368817.698296
131    368978.465019
69     369773.285373
200    372411.627590
162    386564.543105
117    386569.255841
137    393334.346734
43     393504.738496
202    394150.861857
174    421851.953639
65     423841.968912
207    426186.409334
175    429200.112196
208    431137.654083
199    432546.129741
182    441284.916612
181    450654.779595
190    471966.746348
195    482791.138606
Name: Price, Length: 205, dtype: float64

In [121]:
data.groupby(['Ecology_2', 'Ecology_3'])['Price'].mean().sort_values()

Ecology_2  Ecology_3
A          B            193139.717006
B          B            213467.468787
           A            243179.560704
Name: Price, dtype: float64

In [122]:
data.groupby(['Ecology_2', 'Ecology_3', 'Shops_2'])['Price'].mean().sort_values()

Ecology_2  Ecology_3  Shops_2
A          B          A          159386.651546
B          B          A          192908.557092
A          B          B          198833.005156
B          B          B          215361.298568
           A          B          243179.560704
Name: Price, dtype: float64

In [123]:
data.groupby(['Ecology_2', 'Shops_2'])['Price'].mean().sort_values()

Ecology_2  Shops_2
A          A          159386.651546
B          A          192908.557092
A          B          198833.005156
B          B          216203.904812
Name: Price, dtype: float64

In [124]:
data.groupby(['Ecology_3', 'Shops_2'])['Price'].mean().sort_values()

Ecology_3  Shops_2
B          A          192339.700513
           B          215206.932825
A          B          243179.560704
Name: Price, dtype: float64

In [125]:
data.groupby(['DistrictId', 'Shops_2'])['Price'].mean().sort_values()

DistrictId  Shops_2
23          B          126814.443953
158         B          129080.871245
23          A          134143.042318
209         B          140048.802277
27          B          146650.038680
85          A          153181.372880
58          B          162287.311374
71          A          162683.695305
6           B          166183.085443
102         B          166626.871465
30          B          170530.981705
62          A          171168.223258
93          B          171399.422402
52          B          171615.244096
126         B          172222.183440
91          B          173842.177369
27          A          177062.732258
187         B          178225.923726
3           B          179905.016194
165         B          180697.295249
71          B          180832.756877
99          B          184157.448198
83          A          185065.971015
22          A          186876.368369
29          B          187635.428254
1           B          187738.416040
112         B          188030.213095
9           B          190928.366421
22          B          191227.656839
192         B          192635.435802
                           ...
188         B          338159.777273
56          B          338873.083107
54          B          340906.320122
123         B          341699.236270
17          B          346919.231898
155         B          349090.466659
172         B          349286.475174
82          B          361072.935366
73          B          364765.373566
70          B          367670.926263
157         B          368792.618321
133         B          368817.698296
131         B          368978.465019
69          B          369773.285373
200         B          372411.627590
162         B          386564.543105
117         B          386569.255841
137         B          393334.346734
43          B          393504.738496
202         B          394150.861857
174         B          421851.953639
65          B          423841.968912
207         B          426186.409334
175         B          429200.112196
208         B          431137.654083
199         B          432546.129741
182         B          441284.916612
181         B          450654.779595
190         B          471966.746348
195         B          482791.138606
Name: Price, Length: 222, dtype: float64

In [126]:
data.groupby(['DistrictId', 'Ecology_2'])['Price'].mean().sort_values()

DistrictId  Ecology_2
23          B            126840.385894
158         B            129080.871245
209         B            140048.802277
27          B            156201.132531
57          A            158067.834043
58          B            162287.311374
71          A            162683.695305
6           B            166183.085443
102         B            166626.871465
30          B            170530.981705
93          B            171399.422402
52          B            171615.244096
126         B            172222.183440
62          B            172723.864986
91          B            173842.177369
187         B            178225.923726
192         A            178782.924133
3           B            179905.016194
165         B            180697.295249
71          B            180832.756877
99          B            184157.448198
29          B            187635.428254
1           B            187738.416040
112         B            188030.213095
22          B            190502.442094
9           B            190928.366421
39          B            192691.303929
127         B            193240.033720
101         A            194066.936011
0           B            195295.590075
                             ...
104         B            337688.412275
188         B            338159.777273
56          B            338873.083107
54          B            340906.320122
123         B            341699.236270
17          B            346919.231898
155         B            349090.466659
172         B            349286.475174
82          B            361072.935366
73          B            364765.373566
157         B            368792.618321
133         B            368817.698296
131         B            368978.465019
69          B            369773.285373
200         B            372411.627590
162         B            386564.543105
117         B            386569.255841
137         B            393334.346734
43          B            393504.738496
202         B            394150.861857
174         B            421851.953639
65          B            423841.968912
207         B            426186.409334
175         B            429200.112196
208         B            431137.654083
199         B            432546.129741
182         B            441284.916612
181         B            450654.779595
190         B            471966.746348
195         B            482791.138606
Name: Price, Length: 210, dtype: float64

In [127]:
data.groupby(['DistrictId', 'Ecology_3'])['Price'].mean().sort_values()

DistrictId  Ecology_3
23          B            126840.385894
158         B            129080.871245
209         B            140048.802277
27          B            156201.132531
3           A            159292.272505
58          B            162024.129640
6           B            166183.085443
102         B            166626.871465
71          B            170461.864550
30          B            170530.981705
93          B            171399.422402
52          B            171615.244096
126         B            172222.183440
62          B            172723.864986
91          B            173842.177369
47          A            174236.835639
187         B            178225.923726
90          B            179117.878296
3           B            180159.494511
165         B            180697.295249
99          B            184157.448198
29          B            187635.428254
1           B            187738.416040
112         B            188030.213095
8           A            188568.680890
22          B            190502.442094
9           B            190928.366421
192         B            192635.435802
39          B            192691.303929
127         B            193240.033720
                             ...
188         B            338159.777273
56          B            338873.083107
54          B            340906.320122
123         B            341699.236270
106         B            344925.578141
17          B            346919.231898
155         B            349090.466659
172         B            349286.475174
82          B            361072.935366
73          B            364765.373566
157         B            368792.618321
133         B            368817.698296
131         B            368978.465019
69          B            369773.285373
200         B            372411.627590
162         B            386564.543105
117         B            386569.255841
137         B            393334.346734
43          B            393504.738496
202         B            394150.861857
174         B            421851.953639
65          B            423841.968912
207         B            426186.409334
175         B            429200.112196
208         B            431137.654083
199         B            432546.129741
182         B            441284.916612
181         B            450654.779595
190         B            471966.746348
195         B            482791.138606
Name: Price, Length: 219, dtype: float64

In [128]:
data.groupby(['DistrictId', 'Ecology_2', 'Ecology_3', 'Shops_2'])['Price'].mean().sort_values()

DistrictId  Ecology_2  Ecology_3  Shops_2
23          B          B          B          126814.443953
158         B          B          B          129080.871245
23          B          B          A          134143.042318
209         B          B          B          140048.802277
27          B          B          B          146650.038680
85          B          B          A          153181.372880
57          A          B          A          158067.834043
3           B          A          B          159292.272505
58          B          B          B          162024.129640
71          A          B          A          162683.695305
6           B          B          B          166183.085443
102         B          B          B          166626.871465
30          B          B          B          170530.981705
62          B          B          A          171168.223258
93          B          B          B          171399.422402
52          B          B          B          171615.244096
126         B          B          B          172222.183440
91          B          B          B          173842.177369
47          B          A          B          174236.835639
27          B          B          A          177062.732258
187         B          B          B          178225.923726
192         A          B          B          178782.924133
90          B          B          B          179117.878296
3           B          B          B          180159.494511
165         B          B          B          180697.295249
71          B          B          B          180832.756877
99          B          B          B          184157.448198
83          B          B          A          185065.971015
22          B          B          A          186876.368369
29          B          B          B          187635.428254
                                                 ...
56          B          B          B          338873.083107
54          B          B          B          340906.320122
123         B          B          B          341699.236270
106         B          B          B          344925.578141
17          B          B          B          346919.231898
155         B          B          B          349090.466659
172         B          B          B          349286.475174
82          B          B          B          361072.935366
73          B          B          B          364765.373566
70          B          B          B          367670.926263
157         B          B          B          368792.618321
133         B          B          B          368817.698296
131         B          B          B          368978.465019
69          B          B          B          369773.285373
200         B          B          B          372411.627590
162         B          B          B          386564.543105
117         B          B          B          386569.255841
137         B          B          B          393334.346734
43          B          B          B          393504.738496
202         B          B          B          394150.861857
174         B          B          B          421851.953639
65          B          B          B          423841.968912
207         B          B          B          426186.409334
175         B          B          B          429200.112196
208         B          B          B          431137.654083
199         B          B          B          432546.129741
182         B          B          B          441284.916612
181         B          B          B          450654.779595
190         B          B          B          471966.746348
195         B          B          B          482791.138606
Name: Price, Length: 239, dtype: float64

In [129]:
data.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Price
count,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000,9987.000000
mean,8382.091619,50.425653,1.887654,56.234092,40.948087,5.877205,8.524782,12.614399,1984.867027,0.118849,24.698508,5354.563633,8.046160,1.319616,4.232202,214088.179046
std,4859.654766,43.599980,0.812724,19.071438,20.971357,5.144954,5.234063,6.770878,18.413963,0.119047,17.531875,4006.621732,23.846091,1.493218,4.807474,92767.166444
min,0.000000,0.000000,0.000000,16.117154,0.641822,0.000000,1.000000,0.000000,1910.000000,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,59174.778028
25%,4167.500000,20.000000,1.000000,41.786338,25.579694,1.000000,4.000000,9.000000,1974.000000,0.017647,6.000000,1564.000000,0.000000,0.000000,1.000000,153903.011790
50%,8393.000000,36.000000,2.000000,52.539711,37.077163,6.000000,7.000000,13.000000,1977.000000,0.075424,25.000000,5285.000000,2.000000,1.000000,3.000000,192277.326489
75%,12591.500000,75.000000,2.000000,65.901823,49.837429,9.000000,12.000000,17.000000,2001.000000,0.195781,36.000000,7227.000000,5.000000,2.000000,6.000000,249105.358586
max,16798.000000,209.000000,5.000000,275.645284,461.463614,123.000000,42.000000,117.000000,2020.000000,0.521867,74.000000,19083.000000,141.000000,6.000000,23.000000,633233.466570

In [130]:
data.query('Floor>HouseFloor')[['Floor','HouseFloor']]

      Floor  HouseFloor
7        14         0.0
14        5         4.0
16        6         5.0
21       15         1.0
23        2         0.0
26       17         0.0
35        6         5.0
39       16         0.0
44       20         0.0
51       11         9.0
65        6         0.0
67        7         5.0
68       14        12.0
70        9         0.0
72       18        17.0
76        2         1.0
86       16         1.0
87       11         9.0
95       26         1.0
104       6         1.0
115      13         1.0
119      16        14.0
122      18        17.0
123       4         3.0
129      10         9.0
131      13         1.0
141       6         5.0
145      20        19.0
152       2         1.0
153       5         1.0
...     ...         ...
9824      9         8.0
9834      7         5.0
9839      4         2.0
9840     13        12.0
9856      6         5.0
9857     11         1.0
9858     17         1.0
9859     18        17.0
9865      5         0.0
9895     25         0.0
9904      7         1.0
9911     18        17.0
9918     10         1.0
9925     13         1.0
9929     18        17.0
9931     10         0.0
9936     19        18.0
9938     13        11.0
9941     15         1.0
9945     14        12.0
9946      6         5.0
9949      9         8.0
9958     19        17.0
9960     15        14.0
9962     16        15.0
9971     11         9.0
9972     10         1.0
9976     26        24.0
9978     18        17.0
9982      6         5.0

[1818 rows x 2 columns]

In [131]:
data.query('HouseFloor<1')[['Floor','HouseFloor']]

      Floor  HouseFloor
7        14         0.0
23        2         0.0
26       17         0.0
39       16         0.0
44       20         0.0
65        6         0.0
70        9         0.0
195      14         0.0
222       5         0.0
251       7         0.0
443       7         0.0
500      25         0.0
555       4         0.0
561      17         0.0
593      18         0.0
666      11         0.0
699       7         0.0
729      14         0.0
804       1         0.0
822      11         0.0
838      14         0.0
846      11         0.0
860       5         0.0
888       8         0.0
895       5         0.0
899      18         0.0
923      11         0.0
928       7         0.0
931       2         0.0
941       8         0.0
...     ...         ...
8877      3         0.0
8882     12         0.0
8919      7         0.0
8943     11         0.0
8968     16         0.0
8985     15         0.0
9003      5         0.0
9019      3         0.0
9046     20         0.0
9076     11         0.0
9081      5         0.0
9111     18         0.0
9188     17         0.0
9208      9         0.0
9257     10         0.0
9300      9         0.0
9347     18         0.0
9383     10         0.0
9420      6         0.0
9446      4         0.0
9522      7         0.0
9561     12         0.0
9581      9         0.0
9594      2         0.0
9615      8         0.0
9694      4         0.0
9756     14         0.0
9865      5         0.0
9895     25         0.0
9931     10         0.0

[268 rows x 2 columns]

In [132]:
data.groupby(['DistrictId', 'Floor'])['Price'].mean()

DistrictId  Floor
0           1        165111.148319
            2        181287.594794
            3        161213.267637
            4        220160.380687
            5        183766.315484
            6        191804.871860
            7        193287.350734
            8        212665.079547
            9        154195.829178
            10       223415.460271
            11       154489.970469
            12       521919.057400
            14       113607.108308
            16        85770.442001
            19       266373.848679
1           1        183288.898360
            2        165835.806439
            3        167761.032451
            4        180250.518776
            5        196078.510309
            6        174891.362574
            7        197089.146913
            8        191106.311275
            9        184093.068378
            10       201120.450877
            11       187350.236411
            12       185006.782703
            13       204177.144385
            14       190498.922614
            15       183027.032167
                         ...
192         2        183319.371022
            4        220060.504952
            5        227143.120986
            11       137505.343314
            12       195148.838737
193         1        130500.697853
            4        181025.397125
            5        350956.508822
194         2        236662.519826
            3        215525.749845
            4        399220.906603
            11       222008.689857
195         5        486057.129888
            7        479525.147323
196         3        336584.118092
199         4        432546.129741
200         4        244300.906533
            5        253961.994224
            6        495429.659211
            7        509230.214419
            11       236117.331945
201         3        174216.778670
            8        349075.091920
            12       341805.242387
202         4        394150.861857
205         12       220501.566180
207         2        426186.409334
208         7        428928.889005
            10       433346.419160
209         7        140048.802277
Name: Price, Length: 2300, dtype: float64

In [133]:
data.groupby(['DistrictId'])['Price'].count().sort_values()

DistrictId
209      1
207      1
205      1
117      1
199      1
196      1
174      1
202      2
208      2
195      2
158      2
172      2
186      2
181      3
185      3
175      3
201      3
193      3
112      4
136      4
182      4
50       4
180      4
179      4
194      5
188      5
133      5
166      5
115      5
65       5
      ...
3       82
41      87
29      89
94      89
48      90
7       92
99      97
101     97
13      97
47      97
44     104
57     107
34     110
74     114
45     115
61     118
46     119
11     129
8      142
52     143
21     165
53     174
58     179
30     228
62     247
9      294
6      510
23     565
1      650
27     847
Name: Price, Length: 205, dtype: int64

In [134]:
data.groupby('DistrictId')['Price'].mean().sort_values()

DistrictId
23     126840.385894
158    129080.871245
209    140048.802277
27     156201.132531
58     162287.311374
6      166183.085443
102    166626.871465
71     170461.864550
30     170530.981705
93     171399.422402
52     171615.244096
126    172222.183440
62     172723.864986
91     173842.177369
187    178225.923726
3      179905.016194
165    180697.295249
99     184157.448198
29     187635.428254
1      187738.416040
112    188030.213095
22     190502.442094
9      190928.366421
192    192635.435802
39     192691.303929
127    193240.033720
0      195295.590075
119    196139.136950
42     196449.076526
21     197098.993201
           ...
104    337688.412275
188    338159.777273
56     338873.083107
54     340906.320122
123    341699.236270
17     346919.231898
155    349090.466659
172    349286.475174
82     361072.935366
73     364765.373566
157    368792.618321
133    368817.698296
131    368978.465019
69     369773.285373
200    372411.627590
162    386564.543105
117    386569.255841
137    393334.346734
43     393504.738496
202    394150.861857
174    421851.953639
65     423841.968912
207    426186.409334
175    429200.112196
208    431137.654083
199    432546.129741
182    441284.916612
181    450654.779595
190    471966.746348
195    482791.138606
Name: Price, Length: 205, dtype: float64

In [135]:
np.correlate(data['Price'].values, data['Square'].values)

array([1.30538605e+11])

In [136]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9987 entries, 0 to 9986
Data columns (total 19 columns):
Id               9987 non-null int64
DistrictId       9987 non-null int64
Rooms            9987 non-null float64
Square           9987 non-null float64
LifeSquare       9987 non-null float64
KitchenSquare    9987 non-null float64
Floor            9987 non-null int64
HouseFloor       9987 non-null float64
HouseYear        9987 non-null int64
Ecology_1        9987 non-null float64
Ecology_2        9987 non-null object
Ecology_3        9987 non-null object
Social_1         9987 non-null int64
Social_2         9987 non-null int64
Social_3         9987 non-null int64
Helthcare_2      9987 non-null int64
Shops_1          9987 non-null int64
Shops_2          9987 non-null object
Price            9987 non-null float64
dtypes: float64(7), int64(9), object(3)
memory usage: 1.4+ MB

In [137]:
data.corr(method='spearman')

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Price
Id,1.000000,0.008454,-0.004954,-0.003362,-0.007112,0.009375,0.004592,-0.006772,0.003897,0.018545,-0.002389,-0.004739,0.001701,0.001028,-0.003112,0.003346
DistrictId,0.008454,1.000000,0.060551,-0.059871,-0.184746,0.225519,-0.110881,-0.205172,-0.178034,0.050222,0.331579,0.301205,0.445480,0.354599,0.316444,0.249785
Rooms,-0.004954,0.060551,1.000000,0.815820,0.585240,0.121474,-0.010434,-0.041460,-0.047516,-0.028769,0.074318,0.072052,0.084191,0.074064,0.071871,0.597290
Square,-0.003362,-0.059871,0.815820,1.000000,0.764661,0.087466,0.125362,0.122829,0.216454,-0.051230,-0.096090,-0.078098,-0.024166,-0.063105,-0.026190,0.571268
LifeSquare,-0.007112,-0.184746,0.585240,0.764661,1.000000,-0.267717,0.136073,0.125876,0.141662,-0.078472,-0.308477,-0.273929,-0.131435,-0.205139,-0.147567,0.285123
KitchenSquare,0.009375,0.225519,0.121474,0.087466,-0.267717,1.000000,0.033103,0.190738,0.221604,0.025079,0.367556,0.339703,0.167820,0.232682,0.225428,0.312615
Floor,0.004592,-0.110881,-0.010434,0.125362,0.136073,0.033103,1.000000,0.430723,0.311031,0.005215,-0.048980,-0.038636,-0.081082,-0.076300,-0.009421,0.110113
HouseFloor,-0.006772,-0.205172,-0.041460,0.122829,0.125876,0.190738,0.430723,1.000000,0.479172,-0.003747,-0.071124,-0.054295,-0.138343,-0.116001,-0.019805,0.049854
HouseYear,0.003897,-0.178034,-0.047516,0.216454,0.141662,0.221604,0.311031,0.479172,1.000000,-0.056378,-0.073492,-0.043187,-0.212967,-0.145078,-0.053252,0.022848
Ecology_1,0.018545,0.050222,-0.028769,-0.051230,-0.078472,0.025079,0.005215,-0.003747,-0.056378,1.000000,0.060384,0.068368,0.184639,0.076279,-0.040030,-0.041348
Social_1,-0.002389,0.331579,0.074318,-0.096090,-0.308477,0.367556,-0.048980,-0.071124,-0.073492,0.060384,1.000000,0.957157,0.366506,0.574142,0.649812,0.317841
Social_2,-0.004739,0.301205,0.072052,-0.078098,-0.273929,0.339703,-0.038636,-0.054295,-0.043187,0.068368,0.957157,1.000000,0.404036,0.559142,0.663483,0.301657
Social_3,0.001701,0.445480,0.084191,-0.024166,-0.131435,0.167820,-0.081082,-0.138343,-0.212967,0.184639,0.366506,0.404036,1.000000,0.483079,0.545460,0.319482
Helthcare_2,0.001028,0.354599,0.074064,-0.063105,-0.205139,0.232682,-0.076300,-0.116001,-0.145078,0.076279,0.574142,0.559142,0.483079,1.000000,0.562807,0.295273
Shops_1,-0.003112,0.316444,0.071871,-0.026190,-0.147567,0.225428,-0.009421,-0.019805,-0.053252,-0.040030,0.649812,0.663483,0.545460,0.562807,1.000000,0.311330
Price,0.003346,0.249785,0.597290,0.571268,0.285123,0.312615,0.110113,0.049854,0.022848,-0.041348,0.317841,0.301657,0.319482,0.295273,0.311330,1.000000

In [138]:
data.corr()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Price
Id,1.000000,0.013373,-0.007170,-0.005079,-0.006289,0.009069,0.001461,-0.007901,0.003688,0.018221,-0.000613,-0.001990,-0.009334,0.001626,-0.008755,0.010046
DistrictId,0.013373,1.000000,0.075954,-0.029197,-0.152488,0.186417,-0.121073,-0.149694,-0.200970,0.065113,0.245974,0.167007,0.135931,0.305954,0.173881,0.265670
Rooms,-0.007170,0.075954,1.000000,0.757561,0.522767,0.111280,-0.005066,-0.032659,-0.044379,-0.031734,0.077651,0.072606,0.014281,0.064166,0.054375,0.572903
Square,-0.005079,-0.029197,0.757561,1.000000,0.756013,0.113104,0.118498,0.085496,0.190989,-0.071120,-0.079705,-0.049614,0.022235,-0.032650,0.010639,0.583258
LifeSquare,-0.006289,-0.152488,0.522767,0.756013,1.000000,-0.181557,0.124776,0.048143,0.090365,-0.085276,-0.270819,-0.226097,0.048317,-0.155094,-0.054494,0.298029
KitchenSquare,0.009069,0.186417,0.111280,0.113104,-0.181557,1.000000,-0.011948,0.135617,0.168995,0.017992,0.279106,0.255965,-0.059739,0.154414,0.076791,0.250878
Floor,0.001461,-0.121073,-0.005066,0.118498,0.124776,-0.011948,1.000000,0.420499,0.285467,-0.015668,-0.045887,-0.017429,-0.002117,-0.065270,0.023369,0.127220
HouseFloor,-0.007901,-0.149694,-0.032659,0.085496,0.048143,0.135617,0.420499,1.000000,0.392636,-0.004898,-0.021219,0.006909,-0.008232,-0.068552,0.026384,0.089472
HouseYear,0.003688,-0.200970,-0.044379,0.190989,0.090365,0.168995,0.285467,0.392636,1.000000,-0.066893,-0.047649,0.013954,-0.049302,-0.115766,-0.001691,0.037350
Ecology_1,0.018221,0.065113,-0.031734,-0.071120,-0.085276,0.017992,-0.015668,-0.004898,-0.066893,1.000000,0.026330,0.009155,-0.124232,0.030226,-0.076928,-0.058196
Social_1,-0.000613,0.245974,0.077651,-0.079705,-0.270819,0.279106,-0.045887,-0.021219,-0.047649,0.026330,1.000000,0.955947,0.023491,0.524681,0.525938,0.263031
Social_2,-0.001990,0.167007,0.072606,-0.049614,-0.226097,0.255965,-0.017429,0.006909,0.013954,0.009155,0.955947,1.000000,0.073211,0.473312,0.558894,0.238870
Social_3,-0.009334,0.135931,0.014281,0.022235,0.048317,-0.059739,-0.002117,-0.008232,-0.049302,-0.124232,0.023491,0.073211,1.000000,0.286456,0.662275,0.075114
Helthcare_2,0.001626,0.305954,0.064166,-0.032650,-0.155094,0.154414,-0.065270,-0.068552,-0.115766,0.030226,0.524681,0.473312,0.286456,1.000000,0.474040,0.253204
Shops_1,-0.008755,0.173881,0.054375,0.010639,-0.054494,0.076791,0.023369,0.026384,-0.001691,-0.076928,0.525938,0.558894,0.662275,0.474040,1.000000,0.180337
Price,0.010046,0.265670,0.572903,0.583258,0.298029,0.250878,0.127220,0.089472,0.037350,-0.058196,0.263031,0.238870,0.075114,0.253204,0.180337,1.000000

In [139]:
data.LifeSquare.isna()

0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8       False
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23      False
24      False
25      False
26      False
27      False
28      False
29      False
        ...
9957    False
9958    False
9959    False
9960    False
9961    False
9962    False
9963    False
9964    False
9965    False
9966    False
9967    False
9968    False
9969    False
9970    False
9971    False
9972    False
9973    False
9974    False
9975    False
9976    False
9977    False
9978    False
9979    False
9980    False
9981    False
9982    False
9983    False
9984    False
9985    False
9986    False
Name: LifeSquare, Length: 9987, dtype: bool

In [140]:
data['LifeSquare'].fillna(data['LifeSquare'].mean())

0        29.442751
1        40.049543
2        29.197612
3        52.731512
4        23.776169
5        46.683720
6        37.160377
7        80.312926
8        63.511437
9        18.915552
10       27.922584
11       45.736906
12       31.759753
13       39.311493
14       52.408027
15       53.892089
16       31.993964
17       32.012483
18       23.113423
19       56.996765
20       47.799426
21       63.711835
22       20.207762
23      118.907612
24       44.169694
25       81.667915
26        0.641822
27       63.556209
28       43.967759
29       31.007581
           ...
9957     34.603687
9958     36.330029
9959     81.147338
9960     33.396431
9961     32.639166
9962     48.055527
9963     57.853794
9964     22.740244
9965     66.510526
9966     34.292901
9967     32.786612
9968     30.979054
9969     22.158768
9970     61.920700
9971     47.633428
9972     37.968338
9973     63.994245
9974     55.620092
9975     33.766477
9976     47.860231
9977     39.688445
9978     51.628780
9979     49.385096
9980     48.899083
9981     63.864198
9982     30.476203
9983     20.539216
9984     46.939008
9985     33.840147
9986     21.157874
Name: LifeSquare, Length: 9987, dtype: float64

In [141]:
data.query('KitchenSquare>50')

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
226,16395,2,3.0,79.722243,44.731219,72.0,12,16.0,1987,0.130618,B,B,39,10418,9,1,9,B,370148.625285
1367,2371,27,2.0,68.841073,64.234956,66.0,4,2.0,2014,0.017647,B,B,2,469,0,0,0,B,189244.249909
1453,12507,54,2.0,79.810535,79.578961,78.0,10,15.0,2014,0.006076,B,B,30,5285,0,6,6,B,438708.707579
1857,4265,161,2.0,53.216778,32.644859,53.0,7,17.0,1994,0.000699,B,B,14,3369,24,0,3,B,261125.669724
2913,12390,72,3.0,97.490674,99.323558,96.0,22,25.0,2019,0.210473,B,B,11,2398,2,3,0,B,445074.956552
2966,7441,62,3.0,114.734473,112.589083,112.0,3,3.0,2015,0.072158,B,B,2,629,1,0,0,A,315245.521059
4074,6508,23,2.0,67.146049,33.959154,63.0,5,17.0,2019,0.034656,B,B,0,168,0,0,0,B,193130.585871
4105,299,27,2.0,66.787523,64.616662,60.0,14,20.0,2015,0.017647,B,B,2,469,0,0,0,B,179466.094235
4646,12552,58,3.0,116.405693,113.109653,112.0,3,3.0,2016,0.437885,B,B,23,5735,3,0,5,B,296165.936689
5141,13703,42,1.0,38.071692,19.723548,73.0,9,10.0,2006,0.158249,B,B,21,5731,0,1,0,B,160488.033165
5154,11739,27,2.0,61.070298,59.845092,58.0,8,17.0,2016,0.072158,B,B,2,629,1,0,0,A,212188.959537
5896,673,27,1.0,54.418214,51.498581,51.0,10,17.0,2017,0.072158,B,B,2,629,1,0,0,A,133273.635012
6028,12666,34,2.0,60.603363,2.400832,58.0,14,22.0,1977,0.069753,B,B,53,13670,4,1,11,B,261733.472106
6232,4966,96,3.0,78.445675,47.146757,75.0,9,12.0,1977,0.041116,B,B,53,14892,4,1,4,B,290354.484070
7079,6569,27,1.0,38.220258,18.716856,84.0,4,17.0,2018,0.011654,B,B,4,915,0,0,0,B,99079.960518
8222,7162,34,2.0,56.738764,57.510395,54.0,26,25.0,2016,0.069753,B,B,53,13670,4,1,11,B,244220.621495
9876,12918,23,2.0,51.440463,53.134243,51.0,3,17.0,2017,0.005767,B,B,1,388,0,0,0,B,88150.012510
9882,2737,27,3.0,123.430072,125.806981,123.0,5,10.0,2015,0.017647,B,B,2,469,0,0,0,B,234194.837047

In [142]:
ind = [1367, 1453, 1857, 2966, 4074, 4105, 4646, 5141, 5154, 5896, 7079]

In [143]:
data.loc[ind, 'KitchenSquare'] = data.loc[ind, 'Square'] - data.loc[ind, 'LifeSquare']

In [144]:
data.query('KitchenSquare>50')

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
226,16395,2,3.0,79.722243,44.731219,72.0,12,16.0,1987,0.130618,B,B,39,10418,9,1,9,B,370148.625285
2913,12390,72,3.0,97.490674,99.323558,96.0,22,25.0,2019,0.210473,B,B,11,2398,2,3,0,B,445074.956552
6028,12666,34,2.0,60.603363,2.400832,58.0,14,22.0,1977,0.069753,B,B,53,13670,4,1,11,B,261733.472106
6232,4966,96,3.0,78.445675,47.146757,75.0,9,12.0,1977,0.041116,B,B,53,14892,4,1,4,B,290354.484070
8222,7162,34,2.0,56.738764,57.510395,54.0,26,25.0,2016,0.069753,B,B,53,13670,4,1,11,B,244220.621495
9876,12918,23,2.0,51.440463,53.134243,51.0,3,17.0,2017,0.005767,B,B,1,388,0,0,0,B,88150.012510
9882,2737,27,3.0,123.430072,125.806981,123.0,5,10.0,2015,0.017647,B,B,2,469,0,0,0,B,234194.837047

In [145]:
tmp = data.loc[9882, 'Square']
data.loc[9882, 'Square'] = data.loc[9882, 'LifeSquare']
data.loc[9882, 'LifeSquare'] = tmp
data.loc[9882, 'KitchenSquare'] = data.loc[9882, 'Square'] - data.loc[9882, 'LifeSquare']
data.loc[9882, 'KitchenSquare']

2.3769090952508662

In [146]:
data.loc[9882, 'Square']

125.806980995729

In [147]:
data.loc[9882, 'LifeSquare'] = 123.430072
data.loc[9882, 'KitchenSquare'] = data.loc[9882, 'Square'] - data.loc[9882, 'LifeSquare']
data.loc[9882, 'KitchenSquare']

2.3769089957290106

In [148]:
tmp = data.loc[9876, 'Square']
data.loc[9876, 'Square'] = data.loc[9876, 'LifeSquare']
data.loc[9876, 'LifeSquare'] = tmp
data.loc[9876, 'KitchenSquare'] = data.loc[9876, 'Square'] - data.loc[9876, 'LifeSquare']
data.loc[9876, 'KitchenSquare']

1.6937798256797905

In [149]:
tmp = data.loc[8222, 'Square']
data.loc[8222, 'Square'] = data.loc[8222, 'LifeSquare']
data.loc[8222, 'LifeSquare'] = tmp
data.loc[8222, 'KitchenSquare'] = data.loc[8222, 'Square'] - data.loc[8222, 'LifeSquare']
data.loc[8222, 'KitchenSquare']

0.7716316275934574

In [150]:
tmp = data.loc[2913, 'Square']
data.loc[2913, 'Square'] = data.loc[2913, 'LifeSquare']
data.loc[2913, 'LifeSquare'] = tmp
data.loc[2913, 'KitchenSquare'] = data.loc[2913, 'Square'] - data.loc[2913, 'LifeSquare']
data.loc[2913, 'KitchenSquare']

1.83288439714714

In [151]:
data.query('KitchenSquare>50')

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
226,16395,2,3.0,79.722243,44.731219,72.0,12,16.0,1987,0.130618,B,B,39,10418,9,1,9,B,370148.625285
6028,12666,34,2.0,60.603363,2.400832,58.0,14,22.0,1977,0.069753,B,B,53,13670,4,1,11,B,261733.472106
6232,4966,96,3.0,78.445675,47.146757,75.0,9,12.0,1977,0.041116,B,B,53,14892,4,1,4,B,290354.484070

In [152]:
data.loc[[226, 6028, 6232], 'LifeSquare'] = data.loc[[226, 6028, 6232], 'KitchenSquare']
data.loc[[226, 6028, 6232], 'KitchenSquare'] = data.loc[[226, 6028, 6232], 'Square'] - data.loc[[226, 6028, 6232], 'LifeSquare']
data.loc[[226, 6028, 6232], 'KitchenSquare']

226     7.722243
6028    2.603363
6232    3.445675
Name: KitchenSquare, dtype: float64

In [153]:
data.query('KitchenSquare>40')

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
550,1315,6,1.0,48.128114,45.023531,48.0,21,1.0,2013,0.243205,B,B,5,1564,0,0,0,B,146950.912410
1864,3267,58,3.0,138.980817,138.004600,43.0,2,2.0,1977,0.437885,B,B,23,5735,3,0,5,B,169528.896664
3426,7111,27,2.0,139.070296,89.787666,42.0,5,3.0,2016,0.014073,B,B,2,475,0,0,0,B,153946.777452
4137,15466,88,1.0,42.357487,44.779714,41.0,10,19.0,2016,0.127376,B,B,43,8429,3,3,9,B,194525.103119
4583,448,48,1.0,41.186904,1.626502,41.0,2,1.0,1977,0.041125,B,B,46,9515,5,1,10,B,216882.265408
7471,10546,62,1.0,46.013187,43.417043,43.0,4,17.0,2019,0.072158,B,B,2,629,1,0,0,A,113909.099428

In [155]:
tmp = data['Square'] - data['LifeSquare'] + data['KitchenSquare']

In [157]:
tmp.sort_values()

8426   -373.404284
589    -210.092147
6324   -124.754376
4633     -6.283679
2296     -4.445431
52       -3.824548
9780     -3.786314
5592     -3.755149
3180     -3.745956
1990     -3.726412
2455     -3.472801
1507     -3.427498
9613     -3.396516
7399     -3.390071
4490     -3.375111
9017     -3.299623
9453     -3.204840
9357     -3.191219
2751     -3.179045
2648     -3.175624
4217     -3.169729
7925     -3.153413
9472     -3.110364
2003     -3.087884
8534     -3.070658
235      -2.987205
341      -2.923684
8439     -2.879872
123      -2.851446
8072     -2.837237
           ...
9941     81.062825
7638     81.908595
1606     82.382469
2139     82.843967
2845     83.624938
2954     84.189162
5645     84.306654
8910     84.893565
8172     85.148640
8500     85.790319
5532     87.114377
3718     87.923878
6756     88.373377
3426     91.282630
3463     92.826306
681      93.251498
6442     94.098730
4482     97.396767
8476     97.595898
651     102.481525
750     103.995239
5486    104.197271
4509    104.447711
26      106.317049
3542    108.380007
9800    117.686747
9815    123.329738
1915    126.041526
7192    131.205522
5079    132.076322
Length: 9987, dtype: float64

In [158]:
data.loc[8426]

Id                   15886
DistrictId              85
Rooms                    3
Square             78.0593
LifeSquare         461.464
KitchenSquare           10
Floor                   12
HouseFloor              16
HouseYear             1998
Ecology_1        0.0371778
Ecology_2                B
Ecology_3                B
Social_1                52
Social_2             11217
Social_3                 1
Helthcare_2              1
Shops_1                  7
Shops_2                  B
Price               394253
Name: 8426, dtype: object

In [159]:
data.to_csv("2019_08_08 train_cor.csv", sep=",", index=False)

In [ ]:
data = pd.read_csv("train_cor.csv", sep=",")